[2020-07-14 09:52] David-wu91 commented on #3316
如下使用场景是典型的生产环境运维场景，能否考虑支持一下呢：
1.创建PRD命名空间，所有生产环境微服务及其配置均放在该命名空间下
2.将一定规则的微服务放在指定分组，如group1，group2，group3
3.用户页面操作只允许操作group1的配置，不能操作group2和group3分组下配置，因为该用户只维护group1下微服务

目前nacos的权限管理只支持到了命名空间，意味着只要有写权限的用户登录进来可以任意修改group1，group2，group3的配置，这样权限粒度是否过于粗。
或者根据当前nacos的功能，为支持上述使用场景，能否有较好的操作方案。

非常感谢指教一下

[2020-07-14 09:56] apple987 opened #3329 "Nacos permissions is danger"
Nacos configuration of tourist users, read-only permissions, log in to delete services, configuration information, this is a very dangerous behavior, I hope to fix the vulnerability of permissions

[2020-07-14 10:20] apple987 commented on #3329
nacos的权限控制很简单，存在风险！配置一个只读用户，登录之后可以删除配置，删除服务等操作，这些是非常危险的！

[2020-07-14 10:33] streetbaby opened #3330 "The permission configuration of Nacos is going against the weather. It's accessible to all, completely open."
It's too dangerous.

[2020-07-14 11:16] rainyhao opened #3331 "The spring boot config client doesn't startup when the value of property dataId defined in annotation @NacosPropertySource contains a dot"
## Issue Description

Type: *bug report*

### Describe what happened
使用SpringBoot的配置中心客户端0.2.7 api的时候发现两个问题.
Two issues I found in spring-boot client api when use the feature of Config Center

1. 当在SpringBoot启动类上标@NacosPropertySource注解, 指定dataId的名字中包含点的时候,启动报错
An exception occured when the value of  property "dataId" defined in the annotation @NacosPropertySource contains a dot - "."  while the bo

[2020-07-14 11:17] #3323 closed

[2020-07-14 11:27] KomachiSion commented on #3320
I think it's not nacos issue, problem is the connection of mysql timeout.

[2020-07-14 11:32] KomachiSion commented on #3327
Have you test use encrypt password? Nacos use HikariCP as Connection pool, I remember that HikariCP can directly use encrypt password.

[2020-07-14 11:33] KomachiSion commented on #3329
Have you set nacos.core.auth.enabled=true?

[2020-07-14 11:34] #3330 closed

[2020-07-14 11:34] KomachiSion commented on #3330
dupicate with 3329

[2020-07-14 11:37] #3317 closed

[2020-07-14 11:44] KomachiSion commented on #3316
需求其实是明确的，只是优先级问题。
1. 目前权限管理 社区内没有人在贡献，只有之前于1.2.0版本实现的一个粗力度的简单权限功能
2. 权限功能最多的需求在于管控端，而管控端最大的工作在控制台，目前社区内前端大佬比较少
3. 权限的多客户端兼容性需要重新设计权限整体功能，目前也没有人负责

综上所述，目前社区的优先级更加倾向于可用性，稳定性和性能问题上，而对于管控端部分的控制台和权限管理部分暂时不是需求重点。

当然如果您愿意贡献，社区是非常愿意接受的。

[2020-07-14 11:46] cielswift commented on #3182
@alanfans 配置的错误在哪里?

[2020-07-14 13:30] Maijh97 commented on #3324
@i will solve it@

[2020-07-14 13:46] #2850 closed

[2020-07-14 13:59] rainyhao commented on #3331
不好意思提错地方了, 刚才没有找到nacos spring, 我在那边提了

[2020-07-14 13:59] #3331 closed

[2020-07-14 18:45] heppytt opened #3332 "Zipkin link tracing causes Nacos registration failure"
我的springcloud版本是Hoxton.SR4，nacos 1.3.0，zipkin是2.2.2
![image](https://user-images.githubusercontent.com/17058423/87464258-66534e00-c645-11ea-85ec-0ff381d0db7a.png)
![image](https://user-images.githubusercontent.com/17058423/87464307-79feb480-c645-11ea-9822-9b4b8f5bdc73.png)

然后一直这样nacos里面找不到服务。

[2020-07-15 01:15] coolbeevip commented on #3325
I read the document carefully, and I found that the cluster-name configuration can achieve a similar effect. I don’t know if I understand it correctly

[2020-07-15 01:34] KomachiSion commented on #3332
推测是zipkin的spring bean和nacos的spring bean有冲突。

[2020-07-15 01:58] heppytt commented on #3332
一直卡在这里 不往下面走了。其他的服务都是好的。

[2020-07-15 02:01] David-wu91 commented on #3327
我尝试使用了jasypt-spring-boot加密，是可行的。对于springboot来说这套方案可能更加完善，后续是否可以考虑将该包加入到正式版本呢？

[2020-07-15 02:29] fullee commented on #3320
mysql 是默认配置

[2020-07-15 04:22] renshuaiya commented on #3193
我在钉钉群问管理，他说同space不同组服务间可以互调，但是我问他为什么调不通，他说：“spring cloud的设计问题”,我真是...

[2020-07-15 05:18] KomachiSion commented on #3320
和参数没关系，就是连不上mysql了。

[2020-07-15 05:25] KomachiSion commented on #3327
可能需要更深入的思考下，如果jdbc本身不支持密文密码，那么nacos去做解密其实也是不合适的。因为根本不知道用户用的是什么加密方式，如果有必要的话，也是通过插件的形式，让用户自己添加。

[2020-07-15 05:56] chenqinghe commented on #3230
@KomachiSion  1.3.1 still reproduce the issue.

[2020-07-15 06:12] #3324 closed

[2020-07-15 07:18] apple987 opened #3335 "nacos client connect server with 403"
When the Nacos client connects, 403 is prompted that he does not have permission to start chasing the source code. In the constructor, there is no user name and password. The problem is that the property object has changed. Please see the code screenshot，the first few calls to properties carry the user name and password

my jar is nacos-client1.3.1jar code at ServerHttpAgent.class line261, error p

[2020-07-15 07:27] apple987 commented on #3335
here is my client start up console print
![image](https://user-images.githubusercontent.com/21330215/87516216-9d5e4980-c6af-11ea-9354-aa688dd5382f.png)

[2020-07-15 07:40] dongyinuo opened #3336 "what's the function 'instance.isEphemeral()' in registerInstance(....)"
### as shown below
[code]

i find the ephemeral is always true in the registerInstance, so why need 'instance.isEphemeral()'

[2020-07-15 07:46] yyt6200 opened #3337 "When a node of Nacos is down, occasionally some instances of services will not be offline"
After the server where Nacos is located is down, sometimes some service instances will not be offline. In fact, the service instance is also hung up due to the server downtime. At this time, the suspended machine must be started before the service instance can be offline

[2020-07-15 08:06] caopengyuan opened #3338 "nacos 1.3.0 beta 集群 内置数据库启动问题"
Question, under Caused by: Java. Lang. RuntimeException: Nacos Server did not start because dumpservice bean construction failure:
; Nested exception is com. Alibaba. Nacos. Consistency. Exception. ConsistencyException: Data acquisition failed: Java. Util. Concurrent. ExecutionException: Com. Alibaba. Nacos. Consistency. Exception. ConsistencyException: No leader at term 1, read the from leader ha

[2020-07-15 08:23] ZhuBobi commented on #2902
你好，我今天同样遇见了这个问题。我在搭建nacos集群，使用外部mysql数据库作为数据源。
按照官网给的文档 https://nacos.io/zh-cn/docs/cluster-mode-quick-start.html 下的描述
Stand-alone mode 是单机模式，启动时指定参数
`sh startup.sh -m standalone`

在集群模式下，使用内置数据源则需要
`sh startup.sh -p embedded`

那么使用外置数据源则是
`sh startup.sh`
即可，那么想来不指定启动模式则默认启动集群外置数据源

我今天遇到的是在集群模式下，使用外置mysql数据源，遇见了这个问题
请问有什么解决思路吗？
我确认hostname在hosts中存在且没有问题，指定端口启动端口设置没有问题，但是还是遇见了这个报错
`Caused by: com.

[2020-07-15 08:42] apple987 commented on #3335
when my project start up,i see config service init two times,the second time lost the properties,why?
![image](https://user-images.githubusercontent.com/21330215/87523560-ab18cc80-c6b9-11ea-8c03-4a6b68737615.png)
my jar is nacos-client.jar
when start up the project,config service right init,but after console print this:

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \

[2020-07-15 08:54] sharkme commented on #2902
可以尝试下bash命令`bash startup.sh`

[2020-07-15 08:55] sharkme commented on #2902
可以尝试下用bash启动`bash startup.sh`

[2020-07-15 09:06] ZhuBobi commented on #2902
我已经尝试过了，但是还是不行，我先去看看源码问题可能出在哪里。

[2020-07-15 09:15] xuxi5034241849 commented on #3252
哈，我也出现了这个问题，不过已经解决了，主要还是版本问题请严格参阅：https://github.com/alibaba/spring-cloud-alibaba/wiki/%E7%89%88%E6%9C%AC%E8%AF%B4%E6%98%8E

[2020-07-15 09:25] xuxi5034241849 opened #3339 "！！关于nacos文档中没有完整描述dataId格式格式组合"
The combination of dataId format in the document is: ${prefix}-${spring.profile.active}.${file-extension}, when spring.profile.active is empty, the corresponding connector-will also not exist , The stitching format of dataId becomes ${prefix}.${file-extension}

But from the above description, I recently encountered a strange combination when building a scaffold
![image](https://user-images.githubu

[2020-07-15 09:28] xuxi5034241849 commented on #3339
![image](https://user-images.githubusercontent.com/15028620/87528712-79573400-c6c0-11ea-9c1f-03625e83990d.png)
![image](https://user-images.githubusercontent.com/15028620/87528812-a3a8f180-c6c0-11ea-8f23-c06a7baa82ee.png)

[2020-07-15 09:32] xuxi5034241849 commented on #3339
补充版本信息：

  mavenBom "org.springframework.cloud:spring-cloud-dependencies:Hoxton.SR6"
  mavenBom "com.alibaba.cloud:spring-cloud-alibaba-dependencies:2.2.1.RELEASE"

 springBootVersion = '2.2.1.RELEASE'

[2020-07-15 09:51] lijilina commented on #3307
几天之后又出现这个问题了，可以确定另外两个节点可以解析到nacos-cluster-2.nacos-headless.cfyy-app.svc.cluster.local这个节点
这个是naming-raft.log
2020-07-14 23:29:31,717 ERROR NACOS-RAFT error while sending heart-beat to peer: nacos-cluster-2.nacos-headless.cfyy-app.svc.cluster.local:8848 {}

java.net.ConnectException: http://nacos-cluster-2.nacos-headless.cfyy-app.svc.cluster.local:8848/nacos/v1/ns/raft/beat
        at com.ning.http

[2020-07-15 09:55] RipleyGit opened #3340 "Error creating bean with name 'ribbonServerList' defined in class path resource [com/alibaba/cloud/nacos/ribbon/NacosRibbonClientConfiguration.class]"
### Tell us your environment

spring-boot:2.1.9
spring-cloud:Greenwich.SR3
spring-cloud-starter-alibaba-nacos-config:2.1.2.RELEASE
spring-cloud-starter-alibaba-nacos-discovery:2.1.2.RELEASE

### Anything else we need to know?
I upgrading nacos to 2.1.2.RELEASE 。
The original version is 0.2.2.RELEASE,At that time spring-boot:2.0.6;spring-cloud:Finchley.SR2,The program can run normally；
When I direc

[2020-07-15 10:44] #122 closed

[2020-07-15 10:52] rexlin600 opened #3341 "How to modify the configuration when initializing datasourceservice and idgeneratormanager"
## Issue Description

*feature request*：How to modify the configuration when initializing datasourceservice and idgeneratormanager

### Describe what happened (or what feature you want)

1）I started in stand-alone mode through the IDE
2）How to make the init method in the diagram effective? What configuration needs to be modified.
3）The program can start normally, but it does not enter the init met

[2020-07-15 11:27] rexlin600 commented on #3341
OK, I have solved this problem by not configuring the database configuration when starting in stand-alone mode

![image](https://user-images.githubusercontent.com/23032549/87539810-29349d80-c6d1-11ea-8ce9-1f2ce85adb23.png)

[2020-07-15 11:27] #3341 closed

[2020-07-15 11:31] rexlin600 commented on #3338
Please see if this can help you， #3341

[2020-07-15 11:54] wpt191 opened #3342 "新建用户密码中含有%时，日志提示“unknow”"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment

### Anything else we need to know?

[2020-07-15 11:57] wpt191 commented on #3342
阿里工程师您好：
       1、目前需要按照权限控制nacos登录，新建了用户，但当用户密码含有 % 时，无法正常登录。
       2、给某一个用户只让一个组有读写权限，但登陆后，人可以删除其他组的yaml文件
nacos-server-1.3.1     springboot：2.2.1

[2020-07-15 13:15] heppytt commented on #3332
![image](https://user-images.githubusercontent.com/17058423/87549295-3b6a0800-c6e0-11ea-992a-8c60d604ff27.png)
这个是我的日志信息。

[2020-07-15 13:42] maldoinc opened #3345 "[RFC] Closing pull requests while a new build is starting causes failures"
Build failures often indicate a fault with the software being built such as compilation or test failures. However, there is a subset of build failures (called *environmental* or *non-verification failures*) that are not expected within a standard application development lifecycle, such as build configuration failures, dependency resolution failures, infrastructure failures, and so on.

**Problem:*

[2020-07-15 15:01] MrLiuFang commented on #3314
经过用spring-boot，spring-cloud多种版本的组合测试无法与nacos1.3.1正常工作（重复出现上述问题）， nacos-common 中的org.apache.httpcomponents 相关包排除也一样会出现上述问题。目前我用nacos1.1.4版本整合正常。

[2020-07-15 18:30] heppytt opened #3346 "Zipkin link tracing causes Nacos registration failure"
Using spring cloud version Hoxton.SR4 , spring boot 2.2.6, zikpin 2.2.2 started the project, resulting in Nacos registration failure, and the project has been stuck. Have you ever encountered such problems?
![image](https://user-images.githubusercontent.com/17058423/87582313-cfea5f80-c70c-11ea-8b53-0994aaf340dc.png)
![image](https://user-images.githubusercontent.com/17058423/87582334-d7116d80-c70c

[2020-07-16 01:29] KomachiSion commented on #3336
You can create instance by yourself and set instance as a consistency instance, which means that the instance will not be remove from service even it is unhealthy.

[2020-07-16 01:30] #3336 closed

[2020-07-16 01:32] KomachiSion commented on #3337
Nacos down has no related for the instances of services. They will switch to other Nacos node to send beat and register.

So i can't understand your problem.

[2020-07-16 01:33] KomachiSion commented on #3338
1.3.1 has released, please use it and retry.

[2020-07-16 01:38] yyt6200 commented on #3337
Thank you for your reply. I mean that when a Nacos node is offline, a certain service will exit at this time, which will cause the service to be online all the time. It doesn't happen every time. It's random. I'm sure that service has exited on swarm, but that service instance still exists in Nacos's list of services

[2020-07-16 01:40] KomachiSion commented on #3342
1. 可能有些特殊字符支持的不是很好，这点需要社区一起加入完善
2. 请确认打开了服务端的权限功能`nacos.core.auth.enabled=true`

[2020-07-16 01:43] KomachiSion commented on #3345
Good suggestion, we will investigate it.

[2020-07-16 01:44] KomachiSion commented on #3346
duplicate with #3332

[2020-07-16 01:44] #3346 closed

[2020-07-16 01:47] KomachiSion commented on #2932
@yxy007sdo Can you try 1.3.1 version?

[2020-07-16 01:51] heppytt commented on #3346
Have you met me. The problem is not to report errors. Just turn the debugger button around for a while. Then check the Nacos and find that the service is not registered. Or is there any way to tell me I can debug it myself?

[2020-07-16 01:52] heppytt commented on #3332
Have you met me. The problem is not to report errors. Just turn the debugger button around for a while. Then check the Nacos and find that the service is not registered. Or is there any way to tell me I can debug it myself?

[2020-07-16 01:56] KomachiSion commented on #3119
@pengyusong 我们重新核对了一下这块的逻辑， 这个1s的硬编码是UpdateTask初始化的延迟。 之后实际运行间隔可能由个值决定
一个是`PUT /nacos/v1/ns/operator/switches?entry=defaultCacheMillis&value=10000` 另一个是 `PUT /nacos/v1/ns/operator/switches?entry=defaultPushCacheMillis&value=10000`

目前这两个值针对的是全局的，暂时不支持指定某个service

[2020-07-16 01:58] 98DE9E1F opened #3347 "com.alibaba.nacos.client.config.NacosConfigService#getConfigInner exception handler"
## Issue Description

only com.alibaba.nacos.api.exception.NacosException#NO_RIGHT can be throw ,this were cause developer can't distinguish server error or config is null

### Describe what happened (or what feature you want)

this method return null when server error or config is null

### Describe what you expected to happen

throw error when server error

[2020-07-16 02:01] KomachiSion commented on #3046
@jzdayz Any progress？

[2020-07-16 02:01] #3165 closed

[2020-07-16 02:02] KomachiSion commented on #3165
No response from author, close issue

[2020-07-16 02:02] #3184 closed

[2020-07-16 02:07] #3049 closed

[2020-07-16 02:14] KomachiSion commented on #3347
If server error, it can use local snapshot so that it can't block your application.
If return null means both the server and your snapshot don't have the config.

[2020-07-16 02:14] #3347 closed

[2020-07-16 02:20] #3209 closed

[2020-07-16 02:27] pengyusong commented on #3119
这个是对nacos服务端的配置进行修改么？这个配置能同步到客户端去咩？毕竟我这个是客户端日志频繁

[2020-07-16 03:53] lvlonghu-dadi01 commented on #3155
遇到同样的问题

[2020-07-16 05:08] SoyMeng commented on #3254
最好提第一手需求,因为你这个问题看起来很不合理.
如果想从nacos配置中心获取配置,必须先连接到配置中心

[2020-07-16 05:23] wpt191 commented on #3342
好的，权限开关已经改成true，有以下现象:
1、可以看到所有组
2、点击其他组，提示没有权限，开始有一个waitting图标转圈
3、这时候我点击有权限的，也是这个转圈，需要重新刷新才可以

[2020-07-16 05:34] xuxi5034241849 commented on #3339
![image](https://user-images.githubusercontent.com/15028620/87630941-ede5ad80-c768-11ea-9d8e-13e5e411ea58.png)
补充，已经get到源码了，这并不是BUG..  但官方文档中并未说明..  建议补充文档说明

[2020-07-16 06:22] guzhangyu opened #3349 "this spring-cloud-alibaba problem，I think you should ask them"
this spring-cloud-alibaba  problem，I think you should ask them

_Originally posted by @chuntaojun in https://github.com/alibaba/nacos/issues/3278#issuecomment-657091255_

[2020-07-16 07:11] #3349 closed

[2020-07-16 08:21] zongtanghu commented on #3345
It's nice, I think it's necessary.  @KomachiSion

[2020-07-16 08:43] ly641921791 commented on #2731
The problem still exists in version 1.3.1

[2020-07-16 09:16] wpt191 commented on #3342
再次感谢百忙之中解决我的问题，谢谢你

[2020-07-16 09:16] #3342 closed

[2020-07-16 09:17] pengyusong commented on #3119
两个配置都改了之后，好像可以了

[2020-07-16 09:17] #3119 closed

[2020-07-16 09:22] heppytt commented on #3332
不知道是哪里冲突了。其他的模块确实好的。就这一个模快有问题。

[2020-07-16 09:37] wpt191 opened #3351 "更换用户登录nacos中心，提示token expired!"
阿里工程师您好：
我这边新建了4个用户，当一个在Springboot中连接nacos成功后，我更换其他用户进行登录，全部提示token expired!

![image](https://user-images.githubusercontent.com/62193643/87655545-fc44c100-c78a-11ea-9518-31cb1fa5df02.png)

[2020-07-16 10:33] pengyusong opened #3353 "[nacos server] /beat 接收nacos客户端心跳返回的 clientBeatInterval 一直是客户端上报的值，nacos server 更改无效"
开启了nacos server 和client的debug日志，发现客户端心跳一直是以客户端配置的心跳间隔值，服务器端的clientBeatInterval配置没有生效。

查看源码，发现以下代码的最后四行，将返回的clientBeatInterval字段强制更新为客户端上报的心跳间隔值，导致服务器无法动态调整客户端的心跳间隔：

[code]

[2020-07-16 11:05] chestarss opened #3354 "在云原生下的灰度发布方案如何做"
从文档来看，目前nacos灰度发布是通过指定ip地址的方式做的，但是在k8s容器环境，应用重启会伴随着pod的ip变化，在灰度发布时无法预知到pod的ip

## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment

### Anything else we need to know?

[2020-07-17 01:12] KomachiSion commented on #3354
基于现在的nacos，暂时没法做到完全自动化的完全灰度上下线。
但是有一种思路也许可行：
k8s容器启动时，注册的服务可以设置为disabled的下线状态， 这样虽然注册上了，但是不会对外提供服务，之后通过openAPI也好，控制台也好，再把服务改成上线状态。
只是目前这块工作需要用户自己执行和操作。

[2020-07-17 01:12] KomachiSion commented on #3354
社区大佬们，如果有好的方案和思路可以在这个issue中讨论下。

[2020-07-17 01:16] KomachiSion commented on #3353
这个逻辑的确有点冲突，但是并不是无法修改，只不过修改的是这个instance的metadata，在这个服务实例下，修改其metadata，添加key `preserved.heart.beat.interval`， 值单位为毫秒。 就可以控制这个实例的上报间隔。

这里确实需要优化一下逻辑，因为相当于全局设置是失效的。

[2020-07-17 01:19] KomachiSion commented on #3351
1. 请不要使用截图汇报报错信息，一方面是信息不全，另一方面不容易查看和复制信息，建议贴出来，用md格式整理。
2. 问题描述不够准确，无法获取核心信息，比如：nacos的版本，更换用户登录指的是客户端的用户更换了还是控制台等等。建议用issue模版，并详细回答模版上的每个问题。

[2020-07-17 01:21] KomachiSion commented on #3339
@xuxi5034241849 , 欢迎提PR到[文档repo](https://github.com/nacos-group/nacos-group.github.io).

[2020-07-17 01:26] vike0906 opened #3355 "期待早点出lua客户端"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment

### Anything else we need to know?

[2020-07-17 01:29] KomachiSion commented on #3337
I read your supplementary explanation. But I am still confused.

1. `a Nacos nodes is offline` means Nacos server node is down, but from your context, I think you want to explain the service which register to Nacos is offline, isn't it?
2. `I'm sure that service has exited on swarm, but that service instance still exists in Nacos's list of services`, It depends that you whether deregister instance

[2020-07-17 01:31] KomachiSion commented on #3355
Well, we have no skill for lua. I think the feature need to be supported from the community.

[2020-07-17 01:44] KomachiSion commented on #3332
测试下不引入zipkin能否使用？ 如果可以使用，那就是zipkin的spring bean和 nacos的spring bean有冲突了，具体冲突原因需要社区大佬们排查下。

[2020-07-17 01:44] #3327 closed

[2020-07-17 01:47] KomachiSion commented on #3325
Yes it is, But the cluster name has no priority in nacos, you need to control and judge which cluster instance you call as preferences.

[2020-07-17 01:49] lijilina commented on #1636
1.2.1 好像还是有这个问题
nacos.log
2020-07-17 00:05:08,705 INFO Error parsing HTTP request header
 Note: further occurrences of HTTP request parsing errors will be logged at DEBUG level.

java.lang.IllegalArgumentException: Invalid character found in method name. HTTP method names must be tokens
        at org.apache.coyote.http11.Http11InputBuffer.parseRequestLine(Http11InputBuffer.java:414)
        at or

[2020-07-17 01:58] wpt191 commented on #3351
一、版本信息：
server:1.3.1 稳定版
maven: config/discorver  2.2.1

2、bootstrap.yml
`spring:
  cloud:
    nacos:
      config:
        server-addr: 此处隐藏
        username: cbi_site
        password: SjEY4ITYcP
        group: CBI_SITE_GROUP
        namespace: 096ca941-2b8b-4f4d-8259-d4c07cba53f7
        prefix: application
        file-extension: yaml
        refresh-enabled: true
      discovery:
        serv

[2020-07-17 02:00] wpt191 commented on #3351
补充：配置文件中
nacos.core.auth.enabled=true
nacos.core.cacheing.enabled=true
均有打开权限配置

[2020-07-17 02:02] wpt191 commented on #3351
下面这条info信息值得关注：不断输出
2020-07-17 10:00:51.645|site|8081|INFO|com.alibaba.nacos.client.Worker.longPolling.fixed-192.168.4.28_8848-192.168.4.201_8848-192.168.4.202_8848-096ca941-2b8b-4f4d-8259-d4c07cba53f7|com.alibaba.nacos.client.config.impl.ClientWorker|ClientWorker.java|run:522|get changedGroupKeys:[]

[2020-07-17 02:03] Maijh97 opened #3356 "After nacos-server starts, LocalDataChangeEvent publish event exception"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

After starting nacos-server, use the console to publish the config, and then restart nacos-server, an exception occur

`java.util.NoSuchElementException: There are no [com.alibaba.nacos.config.server.model.event.LocalDataChangeEvent] publishers for this event, please register
`

##

[2020-07-17 02:03] KomachiSion commented on #3307
`InetSocketAddress.isUnresolved失败`自行搜索类似的问题的解决办法。
从目前信息来看，这个错误并非nacos产生的，而是创建socket连接时，java的Net层对域名和地址的处理无效导致的。

[2020-07-17 02:08] KomachiSion commented on #3356
@zongtanghu Can you check the issue whether related NotifyCenter?

[2020-07-17 02:11] KomachiSion commented on #3255
目前没有这个功能，而且从nacos的角度也没有项目这个抽象概念。

[2020-07-17 02:15] wpt191 commented on #3351
下面这一个inf，一个error控制台不断输出：
2020-07-17 10:14:49.870|workflow|8082|INFO|com.alibaba.nacos.client.Worker.longPolling.fixed-192.168.4.28_8848-192.168.4.201_8848-192.168.4.202_8848-d70be80c-54ea-4dae-82f9-4dc5d087ed9c|com.alibaba.nacos.client.config.impl.ClientWorker|ClientWorker.java|run:522|get changedGroupKeys:[]
2020-07-17 10:14:50.069|workflow|8082|ERROR|com.alibaba.nacos.client.Worker.longPolling.f

[2020-07-17 02:40] zongtanghu commented on #3356
This issue can be assigned to me, thanks. @KomachiSion

[2020-07-17 02:53] gaoxiang9457 opened #3358 "集成springcloud-gateway网关时，无法配置路由"
你好，最近使用网关集成nacos时，当开启nacos发现功能后，配置路由按“/”截断url功能不生效，能帮忙提供配置方法吗？
spring:
    gateway:
      routes:
        - filters:
            - StripPrefix=3
          id: nameRoot
          predicates:
            - Path=/name/**
          uri: http://localhost:80

[2020-07-17 03:08] beautifulrainday opened #3359 "按照nacos官网在linux下部署，访问页面有问题"
https://nacos.io/zh-cn/docs/quick-start.html
到了这一步
sh startup.sh -m standalone
日志中显示的是（ Nacos started successfully in stand alone mode. use embedded storage）启动成功
curl访问显示的有值 值是
<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <tit

[2020-07-17 03:16] #3359 closed

[2020-07-17 03:17] beautifulrainday commented on #3359
又可以访问了，是因为网慢了

[2020-07-17 04:36] zymapp opened #3360 "微服务端修改了server-adr不起作用的问题"
yml配置:
server:
  port: 6001
spring:
  application:
    name: service-common
  cloud:
    nacos:
      discovery:
        server-adr: localhost:1001  #nacos服务注册中心地址
      config:
        server-adr: localhost:1001  #nacos配置中心地址
        file-extension: yaml        #指定格式的配置
        namespace: 3db4fb90-ffc1-4954-8a55-e4a4e9e668ce
        group: group_mysql_common
    sentinel:
      transport:

[2020-07-17 04:42] zymapp opened #3361 "修改默认端口8848的问题"
1.nacos-server-1.3.1修改了端口为1001，
  在浏览器中访问http://localhost:1001/nacos/index.html能正常登录进入到控制台管理界面
2.在微服务端修改配置指向1001端口，配置如下：
  server:
  port: 6001
spring:
  application:
    name: service-common
  cloud:
    nacos:
      discovery:
        server-adr: localhost:1001  #nacos服务注册中心地址
      config:
        server-adr: localhost:1001  #nacos配置中心地址
        file-extension: yaml        #指定格式的配置
        name

[2020-07-17 04:55] hsoftxl opened #3362 "程序shutdown 后,不能退出进程"
2020-07-17 12:53:48.204 ERROR [pdf,,,] 34340 --- [.naming.updater] com.alibaba.nacos.client.naming          : request: /nacos/v1/ns/instance/list failed, servers: [192.168.1.251:8848], code: 500, msg: Connection pool shut down
2020-07-17 12:53:48.205 ERROR [pdf,,,] 34340 --- [.naming.updater] com.alibaba.nacos.client.naming          : [NA] failed to update serviceName: DEFAULT_GROUP@@seata-server

[2020-07-17 05:33] heppytt commented on #3332
可以使用 而且其他模块也是好的。就这个模块出了问题。而且我对比了pom文件里面的包。也都一样。

[2020-07-17 06:34] zongtanghu commented on #3356
![image](https://user-images.githubusercontent.com/5010883/87755883-6e281380-c83a-11ea-8848-c17aef30a3e3.png)
![image](https://user-images.githubusercontent.com/5010883/87755890-74b68b00-c83a-11ea-969a-2961d3498a14.png)

The fixed result is as above.The resolved pr's link is: https://github.com/alibaba/nacos/pull/3363.

[2020-07-17 06:50] zongtanghu commented on #3362
"com.alibaba.nacos.api.exception.NacosException: failed to req API:/nacos/v1/ns/instance/list after all servers([192.168.1.251:8848]) tried: java.lang.IllegalStateException: Connection pool shut down
"
看你贴的打印初以来的日志，看样子是client端去请求Nacos服务端，API接口—“/nacos/v1/ns/instance/list”，失败；你可以查看下Nacos的Server端服务是否正常？

[2020-07-17 06:52] zongtanghu commented on #3354
https://mp.weixin.qq.com/s/fMZuQnXiejH7_N6R2Z76pA 之前一篇介绍基于Nacos做服务的灰度发布，你可以看下和参考下； @chestarss

[2020-07-17 07:08] Maijh97 commented on #3362
与该问题相似 #3324 ，目前已经解决，可以先使用1.3.0或者1.2.1版本的客户端。

[2020-07-17 09:52] KomachiSion commented on #3360
duplicate with #3361

[2020-07-17 09:52] #3360 closed

[2020-07-17 10:29] zhujiebing opened #3366 "升级到1.3.1一直打印error日志"
server端从1.3.0升级到1.3.1.  nacos client版本也相应升级到1.3.1
## Issue Description
[code]
### Tell us your environment
spring cloud alibaba 2.2.1.RELEASE；spring cloud Hoxton.SR1；spring boot 2.2.2.RELEASE; nacos server是linux外置mysql 1.3.1集群三个节点 ;

### Anything else we need to know?
[code]

[2020-07-17 10:54] zongtanghu commented on #3356
The issue can be close, because its related pr has been merged. @KomachiSion

[2020-07-17 11:31] pink-baby commented on #3358
spring:
    cloud:
        gateway:
            discovery:
                locator:
                    enabled: true
            #      路由策略
            routes:
                - id: user
                  uri: lb://health-user-service
                  predicates:
                      - Path= /api/user/**
                  filters:
                      - StripPrefix=1

------------------------

[2020-07-17 11:50] wpt191 commented on #3351
1、我们是3台nacos集群，连接配置也是配置了3台
2、客户端与服务端都是1.3.1
3、单节点没有此问题，配置3个节点，就会出现不断的心跳检测

感谢百忙之中解决我们的问题，谢谢

[2020-07-17 13:51] sanxun0325 opened #3368 "Clientwork listening configuration has empty run threads"
## Issue Description

When clientwork opens a delay-scheduled thread, the first thread is opened when the number of configurations to be listened to is 0-3000, and the second thread is opened when the configuration number is 3000-6000.When the number of listen configurations drops below 3000, the second thread will always be running empty

当clientwork 开启延迟调度线程时，当监听的配置数0-3000会开启第一个线程， 3000-6000会开启第

[2020-07-17 13:57] chuntaojun commented on #3332
有没有分析过是为什么卡住了？死锁？还是什么流程一直走不下去？

[2020-07-17 14:02] heppytt commented on #3332
没有头绪。无从下手。

[2020-07-17 14:06] chuntaojun commented on #3332
查看线程状态，看看是卡在了那一行

发自我的iPhone

在 2020年7月17日，22:02，heppytt <notifications@github.com> 写道：

﻿

有没有分析过是为什么卡住了？死锁？还是什么流程一直走不下去？

没有头绪。无从下手。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/alibaba/nacos/issues/3332#issuecomment-660123940>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AFS35ND2RR4T5YQ55VOWQ2LR4BKW3ANCN

[2020-07-17 14:10] zhujiebing commented on #3366
2020-07-17 22:02:04.625 ERROR 24468 --- [.naming.updater] com.alibaba.nacos.client.naming          : [NA] failed to request

org.apache.http.impl.execchain.RequestAbortedException: Request execution failed
	at org.apache.http.impl.execchain.MainClientExec.execute(MainClientExec.java:199)
	at org.apache.http.impl.execchain.ProtocolExec.execute(ProtocolExec.java:186)
	at org.apache.http.impl.execcha

[2020-07-17 14:54] heppytt commented on #3332
找到原因了 是redis缓存的原因导致线程卡死了。具体怎么解决我还要看看。谢谢。

[2020-07-17 14:59] heppytt commented on #3332
https://blog.csdn.net/q1009020096/article/details/104047437 修改了redis配置解决了问题。

[2020-07-17 15:00] #3332 closed

[2020-07-17 16:23] chuntaojun commented on #3361
你只配置了discovery的地址，没有配置config的地址，注意看spring-cloud-alibaba的github的wiki，自行搜索下

[2020-07-17 16:23] #3361 closed

[2020-07-18 03:03] junjie-tang99 opened #3369 "Self preservation of Nacos"
## Issue Description

Type: *question*

### Describe what happened (or what feature you want)
Does Nacos have the mechanism of self preservation under the partition network like Eureka?

[2020-07-18 03:12] zongtanghu commented on #3368
This issue can be assigned to me. @chuntaojun

[2020-07-18 03:22] #2273 closed

[2020-07-18 03:49] zongtanghu commented on #3353
Can you help to resolve this issue? @wangweizZZ

[2020-07-18 05:00] wangweizZZ commented on #3353
ok. i will resolve it

[2020-07-18 05:04] Veryfirefly opened #3370 "Issue with executing shell script /bin/sh^M on Unix/Linux"
## Issue Description
Type: Bug Report

### Describe what happened (or what feature you want)

1. After nacos is packaged, the /bin/sh^M problem will appear when executing the shell script on Linux. This is caused by script line breaks instead of LF. I checked the script in the source code and found that startup.sh and shutdown.sh are CRLF formatted line breaks
2. `ERROR OS=Windows and the assembly

[2020-07-18 05:13] Veryfirefly commented on #3370
#3371

[2020-07-18 06:22] #2180 closed

[2020-07-18 06:47] KomachiSion commented on #3370
I have comment in your PR. Please check.

[2020-07-18 06:48] KomachiSion commented on #3369
What's the `self preservation` means? Is it like to prevent split brain？

[2020-07-18 07:33] xiaoxiangzhenyu opened #3372 "Nacos client端能配置多个namespace吗？"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
用springboot-admin与ncaos集成做微服务应用墙的监控时，因为nacos上各业务采用namespace来隔离，而springboot-admin接入nacos时，必须指定一个namespace，因此springboot-admin的应用墙中只能展示指定的namespace中的应用！
如果Nacos-client能支持多namespace配置的话，那springboot-admin就能监控指定的多个namespace下的微服务应用了。

When using springboot-admin and ncaos integration to mo

[2020-07-18 10:03] ljhrot commented on #3164
i will solve it

[2020-07-18 11:00] sanxun0325 commented on #3372
The client can only configure one namespace, otherwise it violates the concept of spatial isolation.

[2020-07-18 11:06] sanxun0325 commented on #3368
@zongtanghu   I've implemented this in nacos-SDK-Go.We can communicate if there is a problem.

[2020-07-18 14:07] zongtanghu commented on #3368
@sanxun0325 Can we talk with each other in dingding?

[2020-07-18 15:20] #3372 closed

[2020-07-18 15:24] chuntaojun commented on #3369
Yes, you can look at the console, you can see this code

[code]

[2020-07-18 16:22] #2223 closed

[2020-07-19 00:26] sanxun0325 commented on #3368
@zongtanghu wg46mjc

[2020-07-19 03:16] jf11480 opened #3378 "资源路径错误不存在的资源 :8848/nacos/console-fe/public/icons/icon-font.woff2 404"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
错误的资源架子啊

### Describe what you expected to happen

http://服务器地址:8848/nacos/console-fe/public/icons/icon-font.woff2 404
### How to reproduce it (as minimally and precisely as possible)

1. 访问主页 服务器地址:8848/nacos/
2. 打开控制台看到 http://服务器地址:8848/nacos/console-fe/public/icons/icon-font.wo

[2020-07-19 03:21] jf11480 opened #3379 "修改访问路径将导致静态资源无法访问"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
server.servlet.contextPath=/nacos 修改 server.servlet.contextPath=/
导致相关静态资源无法访问

### Describe what you expected to hap pen
修改 server.servlet.contextPath 静态资源路径未同步

### How to reproduce it (as minimally and precisely as possible)

1. 修改conf下 application.properties 种 server.servlet.con

[2020-07-19 08:21] weiyf16 opened #3380 "未输入账号，主页面直接弹出"
安装nacos 1.1.4 版本 下载 解压后  运行windows脚本命令 startup 后 **访问http://localhost:8848/nacos  闪弹出主页面**  后出现登录页面 输入账号密码nacos 正常进入主页面

[2020-07-19 08:23] weiyf16 commented on #3380
未输入账号密码，闪弹出主页面  后跳转登录玉面  不知是否影响后期使用

[2020-07-19 16:15] ztycool opened #3382 "手动拼接sql参数存在SQL注入风险"
版本1.3.1
方法：
1. com.alibaba.nacos.config.server.service.repository.embedded.EmbeddedStoragePersistServiceImpl#configInfoCount(java.lang.String)
2. com.alibaba.nacos.config.server.service.repository.extrnal.ExternalStoragePersistServiceImpl#configInfoCount(java.lang.String)
![sql](https://user-images.githubusercontent.com/37068668/87879546-0e8a5d80-ca1e-11ea-81ec-f9b8c14b1206.jpg)

[2020-07-20 01:21] KomachiSion commented on #3378
It seems like a font files, It does not affect the usage.

[2020-07-20 01:23] KomachiSion commented on #3379
Please do not change the `contextPath`, I think.

[2020-07-20 01:26] KomachiSion commented on #3380
It may be browser load cache first and then redirect to login page. And can you use new version and retry?

[2020-07-20 01:28] KomachiSion commented on #3382
Yes, it is. But I think we have pre-check for the tenant and namesapceId, it can't include special characters except `-`,`_`.

[2020-07-20 01:35] KomachiSion commented on #3351
duplicate with #2866 .
It a design problem for auth.  `/nacos/v1/ns/operator/metrics` is a admin api. But client will call it. I think it's need to be discuss how to solve.

[2020-07-20 01:47] wpt191 commented on #2866
首先感谢阿里大佬们的辛苦，此问题预计解决时间，这边方便告知下不。

[2020-07-20 01:47] KomachiSion commented on #3225
@gclsoft 目前我的测试环境数据和访问量都比较低，没有复现你的问题。
我推测你的问题可能是同步的性能问题，我们将会在后续版本中优化和升级。

issue已经超7天没有回复和更新了，我这边先关闭了

[2020-07-20 01:47] #3225 closed

[2020-07-20 01:50] KomachiSion commented on #3254
Other config center support this problem？
I think the config center address should not be changed.

[2020-07-20 01:50] KomachiSion commented on #3274
@jasonpyf Any process?

[2020-07-20 01:53] #3356 closed

[2020-07-20 02:08] chuntaojun commented on #3382
and use PrepareStatement is better

[2020-07-20 02:17] wangweizZZ commented on #273
组织：中移（苏州）软件技术有限公司
地点：苏州
联系方式：wangwei7_yewu@cmss.chinamobile.com
场景：配置管理

[2020-07-20 02:24] HaojunRen commented on #273
组织：掌门教育
地点：中国上海
联系方式：haojun.ren@zhangmen.com
场景：用于替换spring cloud eureka做注册中心
![Zhangmen](https://user-images.githubusercontent.com/42354711/87893705-39eb6780-ca73-11ea-95d9-d4011a23b2e5.png)

[2020-07-20 02:30] HaojunRen commented on #273
组织：掌门教育
地点：中国上海
联系方式：haojun.ren@zhangmen.com
场景：用于替换spring cloud eureka做注册中心
![1595212213(1)](https://user-images.githubusercontent.com/42354711/87893999-0eb54800-ca74-11ea-9dd4-c229fc23ca35.jpg)

[2020-07-20 02:46] wangengzheng opened #3383 "nacos 后台 当用户设置权限后 出现的问题"
## Issue Description

Type: bug

### Describe what happened (or what feature you want)

### Describe what you expected to happen
nacos 后台 默认进入是tenata public 当用户在这个tenata没有设置权限的时候 会出现 auth fail （console报错了 Uncaught (in promise)   问题出现在 点击alpha(我创建的tenata)就出现问题 (这是当前登录用户是有权限的)  url改变了 但是死活不出现列表
只有当我刷新整个页面的时候才能出现

### How to reproduce it (as minimally and precisely as possible)

1.
nacos docker 设置 NA

[2020-07-20 02:50] Math312 opened #3384 "前端节点列表关于raft相关的状态是错误的"
版本：1.3.1

前端节点列表通过接口`/nacos/v1/core/cluster/nodes`获取集群数据进行展示，但是获取到的数据是错误的，他是从`ServerMemberManager.serverList`这一快照中获取数据，定时任务`ServerInfoUpdater`每2s对一个节点的数据进行更新，除了自身节点（当然这部分可能也有一部分问题），`ServerInfoUpdater`通过调用如下代码进行更新：

[code]
[code]
该方法先判断旧数据是否与新数据一致，如果不一致，则进行更新，否则不做任何操作，考察`MemberUtils.fullEquals(Member, Member)`方法：

[code]
扩展字段并没有得到判断，只判断了基础字段，而raft的相关的状态信息，存在了扩展字段的naming字段中。

[2020-07-20 03:21] ztycool commented on #3382
@KomachiSion
api接口：com.alibaba.nacos.console.controller.NamespaceController#getNamespace
在这个接口上可以接收任意参数，恶意注入风险还是存在的

[2020-07-20 03:54] bsed commented on #2309
java.lang.Thread.run(Thread.java:748)
2020-07-20 11:47:19.200  WARN 25960 --- [           main] org.apache.juli.logging.DirectJDKLog.log:173 : The web application [ROOT] appears to have started a thread named [com.alibaba.nacos.naming.push.receiver] but has failed to stop it. This is very likely to create a memory leak. Stack trace of thread:

[2020-07-20 04:15] junjie-tang99 commented on #3369
Hi @KomachiSion,  the self preservation what I means is: Nacos server can turn into protect mode when lose most of service instances in last N minutes during the network apart. Under the protect mode the Nacos server will not eliminate the unhealthy instances, not allow register new instances, and will also return all the instances(healthy+unhealthy) to Nacos-Client.

[2020-07-20 04:30] junjie-tang99 commented on #3369
Hi @chuntaojun, I think these codes means: When one service reach the service's protect threshold which configed in the service metadata(default is 0), the Nacos will return all instances(healthy+unhealthy). So I don't know this strategy is same as the eureka.

[2020-07-20 05:10] #3261 closed

[2020-07-20 05:12] KomachiSion commented on #3383
duplicate with #2945

[2020-07-20 05:12] #3383 closed

[2020-07-20 06:10] yyt6200 commented on #3337
我直接用中文描述吧，也许翻译存在歧义。
我先描述下环境，三台虚拟机作为Nacos(N-A,N-B,N-C)的服务器,6台虚拟机作为Swarm集群。9台虚拟机分别在三台PC宿主机上（A,B,C）。分别是一台PC宿主机有1个Nacos和两个Swarm节点。
Swarm上跑了N个服务，都是两个副本
A机因为一些原因，直接关机了。也就是N-A节点和Swarm的两个节点下线了。下线的Swarm节点上面的服务会迁移到剩下的四台节点上。
通过上述操作，我就发现有两个服务在Nacos上实例数是3。其实应该是2。是有一个服务一直不下线。我把A机器开机后，开启Swarm的虚拟机，通过查询容器的日志比对注册实例的IP确定三个实例中一个已经死掉的实例就是属于刚开启的Swarm节点。（这个时候Nacos那台虚拟机我还没开启）。这个实际上死掉的实例一直在线，不下线的！最后我开启了N-A这个虚拟机，过了几十秒，那个实际

[2020-07-20 06:17] yyt6200 commented on #3337
![微信图片_20200720141541](https://user-images.githubusercontent.com/44914868/87905597-8fd00780-ca93-11ea-9b09-a279fec0cd02.png)
图片里10.0.1.176 实例就是已经Down掉的，但是一直挂在Nacos上面。只有当N-A开启后，这个176实例才下线

[2020-07-20 06:32] jzdayz commented on #3046
Sorry, in my idea, I want to put all the constants in common module, but I found that there are constant classes in different modules, so I think that if the code is modified, the range of changes will be larger. I think the code in the future It can be unified, but I dare not move the current code

[2020-07-20 07:08] Maijh97 commented on #3224
At present, the http client of nacos-client module has been replace, this issue can be closed. @KomachiSion

[2020-07-20 07:53] fullee commented on #3320
为啥刚启动的时候可以，过一段时间就不行了，我这边把pod重建一下就行了

[2020-07-20 08:26] KomachiSion opened #3386 "Refactor for naming sdk."
## Issue Description

Type: *refactor*

### Describe what happened (or what feature you want)

I'm implementing for #1097 to support grpc in branch `feature_support_grpc_core`. But I found the naming sdk is hard to inject gRPC because its components are highly coupled.

So I want to refactor them first make them decoupling simply.

1. Currently, server list is maintained by `httpServerProxy`. I th

[2020-07-20 08:56] yanjunnf opened #3388 "Deleted a role for an user, but this user staill has the permission about the deleted role."
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
When deleted a role(role1) for an user, the user should loss the associated permission of role1, but in fact, the user still has the permission of role1.

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.  Create an user (

[2020-07-20 08:59] yanjunnf commented on #3388
@i will solve it@

[2020-07-20 09:05] zongtanghu commented on #3384
@Math312  所以这里的MemberUtils.fullEquals(Member, Member)，其实还是需要根据Map中的"naming"key对应的value来进行是否equals的判断的。我打印了下naming作为扩展字段对应的value如下：

"naming":
{"voteFor":"172.20.21.132:8848",
  "ip":"172.20.21.132:8848",
  "heartbeatDueMs":5000,
  "term":3,
  "leaderDueMs":17376,
  "state":"LEADER"},

[2020-07-20 09:08] zongtanghu commented on #3384
个人理解，应该只是选择上面"naming"key对应的部分value值进行判断的。 @KomachiSion @Math312 @chuntaojun

[2020-07-20 09:12] KomachiSion commented on #3384
这块其实还需要好好的规划下，比如Member的equals 和 hashcode是不是能够替代这个工具类，Raft的元数据是否也可以生产POJO然后在POJO里的equals和hashcode去做文章。

否则这个工具类随着服务节点原数据越来越多，可能会变得很复杂很耦合

[2020-07-20 09:28] yxy007sdo commented on #2932
I have  try the 1.3.1 version,but it's still reply me the same problem.

[2020-07-20 09:51] gclsoft commented on #3225
[code]

启动完15秒内,访问会报这个错误:
[code]
@KomachiSion

[2020-07-20 10:04] KomachiSion commented on #3369
@junjie-tang99 , According to your description, the protect threshold is similar to.

The protect threshold in nacos is means that the rate healthy instances from all instances is under the threshold you set.
So nacos will return all instances(healthy+unhealthy) to sdk and any source call API.

But in nacos, will allow register new instances if service is in protect threshold.

[2020-07-20 10:05] #3362 closed

[2020-07-20 10:27] w935903854 opened #3391 "关于 nacos 的本地配置问题"
我想问问就是 nacos 的配置从远程拉取后会存在本地文件吗,这样会方便查看.apollo是可以这样的,但是 nacos 我并没有找到相关的.

[2020-07-20 10:38] gclsoft commented on #3225
如果是get请求,就是报:
[code]

[2020-07-20 10:46] zongtanghu commented on #3384
@KomachiSion 嗯嗯，同意这个想法，找时间可以规划 +讨论下；

[2020-07-20 10:49] chuntaojun commented on #3384
agree

[2020-07-20 11:22] Math312 commented on #3384
个人觉得，这种情况不应该专"款"专用么，每个逻辑处理自己对对应字段，也避免了冲突，例如这个部分使用的是naming，我们就专门处理这一个字段的校验等等，做一个ServerUpdateInfoProcessor。我们只是单纯的通过数据进行解耦，并且使用自己规定的规则保证数据不冲突。个

[2020-07-20 11:37] Math312 commented on #3384
而且有个问题，如果后来的功能中，有很多业务数据都在里面，我觉得不应该这么详细的排查，如果这部分数据有n层，那么逐个排查就很吓人，不如考虑一些小的算法，对其进行验证，尽管有错误判断，但是小的容错率是可以接受的

[2020-07-20 11:39] zongtanghu commented on #3384
那你的建议或者是想法是什么？ @Math312

[2020-07-20 11:40] #3353 closed

[2020-07-20 11:42] #3370 closed

[2020-07-20 11:49] KomachiSion commented on #3391
有的， 默认应该在${user.home}/nacos/conf下

[2020-07-20 11:56] KomachiSion commented on #3010
From the ops, it is not necessary to replace it for now. I think we can refactor to make it can replace easily first. And When we need it, we replace it.
What's your think about @zongtanghu ?

[2020-07-20 12:08] Math312 commented on #3384
我的想法是，如果还有此类的Raft元数据判断是否修改的业务，可以针对其做如下类似接口：

[code]

然后通过工厂模式做一个解耦。例如本例，我们就可以通过工厂模式取出对应的Processor，然后通过equals进行比较，如果不同，则执行proceed操作。作出合理的解耦。而且对于equals操作，我们可以尝试使用sha-XXX此族算法进行处理（当然，需要比较一下遍历与使用算法加密后比较的代价）。

这种方法是相对比较保守的。如果只是针对当前问题，其实感觉简单比较term字段也未尝不可。

[2020-07-20 13:23] #3010 closed

[2020-07-20 13:56] geektcp opened #3395 "bug: Application failed to connect to Nacos server: """
## Issue Description
[code]

### Describe what happened (or what feature you want)
application.yml:
[code]

maven:
[code]
### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment
win7
idea IDE
jdk1.8
nacos-server-1.3.1

### Anything else we need to know?
Can not startup this application!

[2020-07-21 01:09] KomachiSion commented on #3395
`enabled: false`?

[2020-07-21 01:13] KomachiSion commented on #2932
@yxy007sdo From the other windows os users' feedback, it can work well. So I think it may be the env problem for you.

[2020-07-21 01:21] KomachiSion commented on #3274
No response more than *7 days*, I will close issue.

[2020-07-21 01:21] #3274 closed

[2020-07-21 01:22] KomachiSion commented on #3329
No response more than *7 days* ,close issue

[2020-07-21 01:22] #3329 closed

[2020-07-21 01:22] #3338 closed

[2020-07-21 01:23] #3369 closed

[2020-07-21 01:26] #1723 closed

[2020-07-21 01:30] jinbaosheng opened #3396 "想请教一个安装的问题"
## Issue Description
window下访问nacos控制台页面显示空白
Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

在window下执行安装启动命令 ，启动过程中没有报错。
能够通过地址是localhost:8848或者127.0.0.1:8848访问。但是通过内网ip地址访问nacos控制台显示是空白页。后台也没有日志报错。
### Describe what you expected to happen
在window下执行安装启动命令 ，启动过程中没有报错。
能够通过地址是localhost:8848或者127.0.0.1:8848访问。但是通过内网ip地址访问nacos控制台显示是空白页。后台也没有日志报错。

###

[2020-07-21 01:38] KomachiSion commented on #3193
我看了下大家的反馈， 感觉并没有什么问题，大家用namespace做环境隔离，比如dev，test，prod等。
然后又用group做业务隔离，既然隔离了那当然是不能调用。

至于大家所说的不同group不能调用的问题，我觉得可能是上下文没有对齐。

比如我有一个A服务， 分了2个组  G1@@A和G2@@A，这两个A之间当然是隔离的，那如果有个B服务，他想调用G1的A服务，当然是没问题的，只需要subscribe G1@@A就可以了。  无所谓B服务是G1还是G2。

[2020-07-21 01:42] KomachiSion commented on #3193
然后是spring cloud的问题，启动的时候可能指定了某个Group 从而导致其订阅和发布服务时，都只会选用指定的Group。无法像上述一样指定发布G1服务却订阅G2服务，具体需要看是spring-cloud-nacos是这么实现的还是spring-cloud的group语义就是这样的。

如果是前者，可以到spring-cloud-nacos去提issue，然后发起讨论怎么改合适，甚至自己贡献代码。
如果是后者，那么其实spring-cloud的设计层面，就希望大家使用的时候做隔离，同条链路就应该在一个分组。

[2020-07-21 01:44] #3213 closed

[2020-07-21 01:47] KomachiSion commented on #3396
本地能够访问，说明nacos是启动成功的，并且能够对外提供服务。
通过内网ip无法访问，多半是网络环境上的问题。这种环境问题只能自己排查了。
比如可以通过telnet之类的命令，查看远端是否能够访问8848端口，又或者打开浏览器的控制台之类的，看下网络流是否有返回等。
nacos也有access log， 看一下是否有http访问进来。

[2020-07-21 02:04] jinbaosheng commented on #3396
谢谢您的回复。可能我没表述清楚。本机ip就是10.10.13.10。我就在nacos本机服务器的ip地址中输入http://10.10.13.10:8848/nacos/去打开控制台的，不报错，但是显示空白。按理说本机访问本机服务器不应该涉及到网络问题。后台access.log也没什么异常情况。之前我怀疑是我的hosts有问题。但是同样是tomcat服务器，我就可以用ip正常访问tomcat的首页。盼回复。

[2020-07-21 02:16] zongtanghu commented on #2932
@yxy007sdo  you use standalone or embedded mode?

[2020-07-21 03:21] JerryChin opened #3397 "[bug report] startup.sh complains about [[: not found"
## Issue Description

startup.sh complains about [[: not found.

### Describe what happened (or what feature you want)
I'm trying to start Nacos in standalone mode by executing:

    ./startup.sh -m standalone

It output the following:

[code]

### Describe what you expected to happen

I expect Nacos is running in standalone mode and no more warning about `[[: not found`.

### How to reproduce it

[2020-07-21 04:50] chenjun-1201 opened #3398 "这是什么问题？日志报错"
nohup: /Library/Internet: No such file or directory
我用的是mac系统

[2020-07-21 05:39] zongtanghu commented on #2932
Can you find the root cause Exception?

[2020-07-21 05:48] xiaojiecapf commented on #3398
？什么功能呀！找不到文件错误

[2020-07-21 06:11] Maijh97 opened #3399 "unified implementation of http client package division"
## Issue Description

Type: refactor

### Describe what happened (or what feature you want)
refer: #2858
All implementation codes of the existing unified http client are placed under com.alibaba.nacos.common.http.client, Will reduce code readability.

### Describe what you expected to happen

Adjust the package structure to improve code readability

### How to reproduce it (as minimally and precis

[2020-07-21 06:46] treasureMoment commented on #2877
I hope that if auto-register=true mode, clients can automatically register services in the configuration center without specifying IP addresses,Otherwise, you need to know the IP address of this machine when migrating services

[2020-07-21 06:48] treasureMoment commented on #2877
Or the register method of the client provides functions that do not require IP parameters

[2020-07-21 06:50] #3382 closed

[2020-07-21 07:12] KomachiSion commented on #3397
Please check your local `startup.sh` is same as `distribution/bin/startup.sh`.
If they are the same, please use `sh startup.sh -m standalone` again.

[2020-07-21 07:13] KomachiSion commented on #3398
麻烦详细描述问题，不然没有上下文谁都没办法帮你。

[2020-07-21 07:14] KomachiSion commented on #3399
Have finished?

[2020-07-21 07:17] Maijh97 commented on #3399
Yes, it has been completed in pr #3400

[2020-07-21 07:44] Yangstatus opened #3403 "The nacos cluster cannot find the host list"
When I successfully deployed the nacos cluster, I changed the TYPE of SVC from ClusterIP to NodePort!
The Nacos Pod logs output the following log information:

2020/07/21 15:35:53 Have not found myself in list yet.
My Hostname: nacos-0.nacos-headless.default.svc.cluster.local
Hosts in list: nacos-headless.default.svc.cluster.local
2020/07/21 15:35:54 Have not found myself in list yet.
My Hostname:

[2020-07-21 07:49] Yangstatus commented on #3354
能否通过k8s的探针检测来给pod启动或者停止的时候预留一些时间，这些时间能够保证我们的代码去处理服务上线和下线的过程。确保整个升级过程中是无感的？

[2020-07-21 08:07] chenjun-1201 commented on #3398
环境什么的都配好了，macos启动nacos的时候:
macdeMacBook-Air:bin mac$ sh startup.sh
/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java  -server -Xms2g -Xmx2g -Xmn1g -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=320m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/Users/mac/Downloads/nacos/logs/java_heapdump.hprof -XX:-UseLargePages -Dnacos.member.list= -Djava.e

[2020-07-21 08:13] xiaojiecapf commented on #3398
一般情况下，是集群启动，需要mysql，是否可以在启动的时候，sh startup.sh -m standalone 执行这个命令  不知是否能解决你的问题，如何是源码启动的话 -Dnacos.standalone=true 添加这个参数

[2020-07-21 08:20] meiliangdeng opened #3404 "the nacos metadata automatic loss sometime within standalone mode in 1.2.1 version"
hi, i use  the nacos service governance and manage the service metadata  feature, running with standalone mode in 1.2.1v and the custom php-sdk with open-api.
some open-api of my service is normal work such as the Register instance &the Send instance beat api  which include custom metadata. but it is random appearance  that service metadata automatic loss in the nacos dashboard and open-api  Query

[2020-07-21 08:30] treasureMoment commented on #2877
sorry,auto-register=true
It can meet the current needs

[2020-07-21 08:38] chenjun-1201 commented on #3398
试过好多遍了，每次都打印上面的内容

[2020-07-21 08:43] xiaojiecapf commented on #3398
/Users/mac/Downloads/nacos/logs/start.out 这个文件里面是否有错误！能否发出来，查看一下！

[2020-07-21 08:52] chenjun-1201 commented on #3398
发了，在最上面
/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java  -server -Xms2g -Xmx2g -Xmn1g -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=320m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/Users/mac/Nacos/distribution/logs/java_heapdump.hprof -XX:-UseLargePages -Dnacos.member.list= -Djava.ext.dirs=/Library/Internet Plug-Ins/JavaAppletPlugin.plug

[2020-07-21 08:56] chenjun-1201 commented on #3398
回我一下，拜托了

[2020-07-21 09:04] treasureMoment commented on #2877
Now there are other problems：
`spring:
  application:
    name: locate-service
  profiles:
    active: dev
nacos:
  config:
    bootstrap:
      enable: true
    server-addr: 10.95.5.18:8848
    remote-first: true
    namespace: 65ffd2cc-f006-42df-a333-ea07ff874b39
    data-ids: LOCATE_WEB
    group: LOCATE
    type: yaml
    auto-refresh: true
  discovery:
    server-addr: 10.95.5.18:8848
    aut

[2020-07-21 09:14] JerryChin commented on #3397
@KomachiSion I've cross checked, there's no difference.  The version is nacos-server-1.3.1, the lastest release.

using `sh startup.sh -m standalone` output the same result as I posted above.

I've found these two questions on Stackoverflow, the answers, if I understand correctly,  suggest that ``[[`` should always use with `Bash` shell or any shell with this extension, clearly this rules out the

[2020-07-21 09:27] treasureMoment commented on #2877
跟踪代码发现。同时引入nacos-config-spring-boot-starter 和nacos-discovery-spring-boot-starter ，配置文件中只配置discovery，启动后 通过@NacosInjected 注入的namingService 的serverAddr 为默认的127.0.0.1:8848 非配置文件中的配置。去掉nacos-config-spring-boot-starter的引用后正常

[2020-07-21 11:00] lucianlv opened #3406 "nacos.core.auth.enabled=true then failed to change self's password"
![image](https://user-images.githubusercontent.com/4200266/88047541-5b884400-cb84-11ea-8cf8-1393eb1b5e8d.png)

nacos version: 1.3.1

[2020-07-21 11:28] z589533 commented on #3103
这个问题一直存在，难道不打算搞好了？1.3.1也是一样

[2020-07-21 11:52] KomachiSion commented on #3403
See the error, there are difference between your `cluster.conf` file and local hostName.

[code]

[2020-07-21 12:25] KomachiSion commented on #3396
一样的，localhost:8848能访问，说明成功启动和提供服务了，至于本机ip空白的问题，还是需要排查自己环境。比如通过浏览器控制台， curl之类的试试看。 看看到底是nacos只监听了localhost 还是 其他问题

[2020-07-21 12:29] #3399 closed

[2020-07-21 12:33] KomachiSion commented on #3354
和k8s整合的话 需要在operator里搞事情，单独从nacos服务测是做不了的

[2020-07-21 13:09] jf11480 commented on #3379
我认为这个路径是动态的不应该写死

[2020-07-21 13:24] noahwxr opened #3408 "nacos1.3.1 遇到了用户权限问题"
Hello, there are three namespaces under Nacos, namely A, B, and C. User device names only grant C the role of read and write permissions. There is another problem, the project startup configuration read-only user reads the configuration file in C space read-only, if the password of user device name is changed, the project will report logon failure: {" code ": 403," content ":" unknown user!" } the

[2020-07-21 14:25] geektcp commented on #3395
use bootstrap.yml ,but not application.yml
[code]

[2020-07-21 14:25] #3395 closed

[2020-07-21 14:53] #2295 closed

[2020-07-22 01:43] yyt6200 commented on #3337
可以解答下这个问题么

[2020-07-22 01:46] weiyf16 commented on #3380
thanks

[2020-07-22 01:47] xiaojiecapf commented on #3398
我想你还是检查一下你的电脑环境吧！

[2020-07-22 01:58] KomachiSion commented on #3408
you means you change password in console, and then change sdk's password and restart, but return 403 error?

[2020-07-22 02:00] KomachiSion commented on #3404
Can you provide more detail information?

I haven't encountered it before and can't reproduce it through openAPI.

[2020-07-22 02:01] #3391 closed

[2020-07-22 02:01] #3386 closed

[2020-07-22 02:02] KomachiSion commented on #3397
So should we change the top of `startup.sh` to `#/bin/bash` will solve your problem?

[2020-07-22 02:06] KomachiSion commented on #3379
的确应该是动态的，但是现在有些地方似乎对这个有一定的依赖性，如果修改可能会导致部分API有问题，因此暂时不建议修改。

或者您花点时间，整理下哪些地方是修改了这个路径之后无法访问的，在issue中列举出来，这样我们可以把工作开放到社区。每人处理一部分，应该最终会解决。

[2020-07-22 02:07] #3380 closed

[2020-07-22 02:11] KomachiSion commented on #3384
元数据带有各种业务语义的处理当然可以像您这个方案，但是对于member本身，扩展字段的元数据就是无语义的对象，仅以比对和确认修改的角度来看，您这个处理方式会导致无法解耦扩展字段和member本身，不是很好。因为member或者memberManager需要从元数据来源处获取大量Processor，或者理解扩展字段语义。

我还是觉得对于扩展字段的元数据，就把它当一个POJO看待，在equals和hashCode里去判断是否变化可能更解耦一些。

[2020-07-22 02:17] KomachiSion commented on #3398
看第一行， `/Library/Internet Plug-Ins/` 由于空格没有做转译， 因此读取成了`/Library/Internet`
启动脚本会读取您的javahome，建议修改一下java路径，这个问题应该就解决了。

[2020-07-22 02:18] #3351 closed

[2020-07-22 02:20] KomachiSion commented on #3320
那就是pod的问题了啊。。  估计之前pod网络有问题。刚启动没问题估计是还没到超时时间，您这个报错显示的超时时间也是很长了。

issue我关了，这个显然不是nacos自身的问题。

[2020-07-22 02:20] #3320 closed

[2020-07-22 02:22] KomachiSion commented on #3337
什么版本的nacos？

[2020-07-22 02:23] yyt6200 commented on #3337
1.2.1版本的

[2020-07-22 02:25] KomachiSion commented on #3308
duplicate with #2660 #3072

[2020-07-22 02:25] #3308 closed

[2020-07-22 02:25] #3307 closed

[2020-07-22 02:28] KomachiSion commented on #3046
@jzdayz you can split this issue as multiple sub task. each module each task. And refactor for each module.
After all modules has finished, then to think about merge constants and unified them.

[2020-07-22 02:29] KomachiSion commented on #3046
For example:
- [ ] refactor constants in naming module
- [ ] refactor constants in config module
....
- [ ] merge and unified constants for modules.

[2020-07-22 03:23] JerryChin commented on #3397
@KomachiSion Yep. but if you change shabang line to `#!/bin/bash`, everything will run smoothly.

Actually I think whoever wrote this script shoule be with bash in mind, but it still bothers me as to why the author didn't notice this problem.

The downside of using bash will be risky of non-portatability.

[2020-07-22 03:25] zongtanghu opened #3409 "Nacos cannot start by startup.cmd script in windows enviroments"
## Issue Description

Type: *bug report*

### Describe what happened (or what feature you want)
In my local windows 10 enviroment, I can't start nacos cluster server("jraft + debry") by startup.cmd script.

The startup error log is as below:

![image](https://user-images.githubusercontent.com/5010883/88130656-b2862b80-cc0d-11ea-83fd-fdf4bdc49647.png)

### Describe what you expected to happen

I ad

[2020-07-22 03:26] zongtanghu commented on #3409
So, I refactor the nacos's startup.cmd, and test the result is ok. I will put forward a related pr.And maybe, the reason is another issue(https://github.com/alibaba/nacos/issues/2932)

[2020-07-22 03:27] HuangDayu opened #3410 "如何动态更新元数据"
目前有个需求，服务消费者要获取服务提供者的一个自定义标签的元数据的值，这个元数据的值是服务提供者动态刷新的。

[2020-07-22 03:27] zongtanghu commented on #3409
This issue can be assigned to me.I will resolve it. @KomachiSion

[2020-07-22 03:29] HuangDayu commented on #3410
[code]
尝试通过eureka的方法进行赋值，但是无效。

[2020-07-22 03:37] meiliangdeng commented on #3404
i have found the cause of the problem: after registering an instance by the Register instance api,then the heartbeat data is sent periodically every 5 seconds, but if there is network delay, beat data takes more than 10 seconds to reach the nacos server, the old instance data just now will be lost and  the current heartbeat will produce a new instance without metadata,it is like as instance metada

[2020-07-22 03:37] #3404 closed

[2020-07-22 03:45] chuntaojun commented on #3384
我觉得，成员自己去处理equlas以及hashCode的判断

[2020-07-22 05:27] KomachiSion commented on #3410
nacos本身是支持元数据变更的，但是spring-cloud-nacos-discovery可能没有实现。

[2020-07-22 05:41] HuangDayu commented on #3410
@KomachiSion 能否给个示例，谢谢。

[2020-07-22 06:43] yueyuanyu opened #3411 "1.3.0docker配置集群模式异常"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

使用nacos作为注册中心,单机模式正常,但是切换到集群模式下(mode改为cluster)docker compose配置如下;
单机模式配置(运行正常)
![image](https://user-images.githubusercontent.com/33542699/88143822-76ad8f00-cc2a-11ea-9d74-ab85438882ab.png)
集群模式配置(运行异常,特别卡顿,疯狂的gc,最后导致服务宕机,只运行了一台机器)
![image](https://user-images.githubusercontent.com

[2020-07-22 06:45] yueyuanyu commented on #3411
不是自己基于乌班图制作镜像而导致错误的原因,使用官方原生镜像和官方提供的docker-compose-hostname那个也是这个情况

[2020-07-22 06:55] Maijh97 commented on #3366
This issue can be assigned to me. I will follow up. @KomachiSion

[2020-07-22 06:56] Maijh97 commented on #3314
This issue can be assigned to me. I will follow up. @KomachiSion

[2020-07-22 07:10] ethanxzw opened #3412 "Error creating bean with name 'serverListService': Invocation of init method failed; nested exception is java.lang.RuntimeException: cannot get serverlist, so exit."
Hi, team. we face a issue when deploy nacos on k8s env:
[code]
env info:
k8s version: 1.14
nacos version: 1.2.1
PVC: glusterfs

# kubectl get pvc --namespace=corecrm | grep nacos
datadir-nacos-0      Bound    pvc-11e71408-cbc2-11ea-a3ca-fa163e339fae   1Gi  RWX  crm-nfs-storage-class   4h44m
datadir-nacos-1      Bound    pvc-15324f75-cbc2-11ea-a3ca-fa163e339fae   1Gi  RWX  crm-nfs-storage-class   4

[2020-07-22 07:11] KomachiSion commented on #3411
一个个问题来
1. 集群模式卡顿，疯狂gc， 我看内存设置的有点小，XMN稍微开大点呢 768M试试， 我本地启动docker的时候3个参数就是1G 1G 768M 不会很卡，少量测试请求也不会疯狂gc
2. 另一种导致运行卡顿可能是dokcer的resource设置的很小，导致3个container之间争抢资源（需要自己排查调整试试）
3. 节点里新增了个open-test，推测是nacos在获取container 地址的时候，获取到的，然后添加到cluster里了。排查的话可以启动container之后 进去查看下hostname是什么。

[2020-07-22 07:21] yueyuanyu commented on #3411
好的 我按你的思路逐个排查下

[2020-07-22 07:28] dyiwen opened #3413 "nacos1.3.0 不同权限用户监听配置，遇到鉴权问题"
Namespace: public, T1

Configuration in T1:
       dataId: api1
       group: DEFAULT_ GROUP

User: dev

Permission of dev: T1 (read and write)

When the client uses dev to listen to the API1 configuration in T1, it reports 403 permission denial. The dev must be granted at least read permission to the public in order to listen normally.

Can I allow the read-write users under the namespace to list

[2020-07-22 07:35] KomachiSion commented on #3412
There are two way to get server list.
one is `cluster.conf` file in `conf` dir. Also same as set env properties.
If no `cluster.conf` or no env properties to set server list, nacos will get server list from address server, get server list from address server when nacos start.

For your problem, I think your image do not set env properties and do not render the `cluster.conf` file.
So nacos can't g

[2020-07-22 07:35] xuet0ng opened #3414 "是否有生产环境1.1.4升级到1.3.1的方法？"
### 现状
- 目前我们生产使用了nacos 1.1.4版本
- 统一使用了alibaba的spring cloud starter nacos，2.1.1.RELEASE版本
- 目前已经有将近100的微服务注册上去了

### 问题
由于生产环境权限管控问题，希望将nacos升级到1.2.0以上的版本，有以下几个问题麻烦咨询下：

- nacos目前为1.3.1，1.3.x后续还有版本规划么？大致时间节奏是怎么样子？
- nacos-client和nacos-server的版本是否需要严格匹配，1.1.4的nacos-client和1.3.1或者1.3.x的nacos能配合使用么？
- alibaba spring cloud starter nacos和这面nacos的版本一般是个什么节奏，目前从[wiki](https://github.com/alibaba/spring-cl

[2020-07-22 07:39] KomachiSion commented on #3414
1. 目前nacos客户端版本和服务端版本可以通用（当然不能开鉴权，因为是1.2以后加的新功能，1.2以前的客户端肯定没有这个功能）
2. 服务端可以直接灰度逐台升级，支持平滑升级
3. alibaba spring cloud starter nacos支持1.3.1的版本正在发布中。

[2020-07-22 07:58] HuangDayu commented on #3410
[code]
通过这个方法更新状态时，没有对groupName做出判断，调用的方法直接使用了默认的DEFAULT_GROUP，所以报了没有找到服务异常。

[code]

[2020-07-22 08:00] xuet0ng commented on #3414
第一点信息对我们非常重要！我在确认下
- 也就是我们可以先滚动升级nacos server到1.3.1（不开鉴权），而客户端仍然用nacos-client 1.1.4（alibaba spring cloud starter nacos的2.1.1.RELEASE版本）
- 后面考虑逐步升级客户端的jar包到最新版本

对了，请问1.1.4到1.3.1可以直接升级么？还是需要先升级到1.2.1？

[2020-07-22 08:03] qihaooo opened #3415 "kubernetes部署nacos集群的bug"
## Issue Description

Type: *bug report* or *feature request*
关于kubernetes部署nacos集群的bug
### Describe what happened (or what feature you want)
1 在拉取官方部署脚本：https://github.com/nacos-group/nacos-k8s.git
2 使用快速部署的yaml，页面访问正常，如下图所示：
![image](https://user-images.githubusercontent.com/26671062/88149952-57672f80-cc33-11ea-9f68-a9760f276982.png)
3 在容器内部，三个节点总有一个节点会报如下的错误：
2020-07-22 14:31:10,171 WARN Except

[2020-07-22 09:48] yueyuanyu commented on #3411
![image](https://user-images.githubusercontent.com/33542699/88161865-22fb6f80-cc43-11ea-8acd-633aa5946eed.png)

[2020-07-22 09:49] #3409 closed

[2020-07-22 09:51] sanxun0325 commented on #3368
This issue can be assigned to me. @chuntaojun

[2020-07-22 09:59] zongtanghu commented on #3368
I think this implementation of issue is assigned to @sanxun0325  will be better.

[2020-07-22 10:16] tankliu1980 opened #3417 "@NacosPropertySource去获取配置中心的配置信息"
请问下nacos做了springcloud的配置后还能使用@NacosPropertySource去获取配置中心的配置信息吗？
Can I use @NacosPropertySource to get the configuration information of the configuration center after configuring springcloud in Nacos?

[2020-07-22 10:45] KomachiSion commented on #3414
可以直接升级

[2020-07-22 11:30] chuntaojun commented on #3417
springcloud不支持nacos自带的注解

[2020-07-22 11:30] #3417 closed

[2020-07-22 13:11] mail6562 commented on #273
组织：萨科（深圳）科技有限公司版权所有
地点：深圳
联系方式：mail6562@163.com
场景：配置管理

[2020-07-22 13:53] jaychang1989 commented on #273
组织：优保联
地点：中国武汉
联系方式：283840255@qq.com
场景：服务发现和配置管理
服务框架：SpringCloud
使用规模：15个配置 + 15个服务
![image](https://user-images.githubusercontent.com/2285653/88184746-aaf27100-cc65-11ea-82bf-5d4a55034359.png)

[2020-07-22 18:06] #2262 closed

[2020-07-23 01:07] yueyuanyu commented on #3411
目前暂未解决

[2020-07-23 01:44] David-wu91 opened #3418 "使用创建的用户并授权后启动spring-cloud-gateway服务报错"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
1.3.0版本，创建用户，并授予用户指定命名空间读写权限，并将此用户配置在spring-cloud-gateway服务配置文件中，启动服务后报错：2020-07-23T08:56:52,590|ERROR|boundedElastic-1|com.alibaba.nacos.client.naming||request: /nacos/v1/ns/operator/metrics failed, servers: [http://10.60.20.131:80], code: 403, msg: <html><body><h1>Whitelabel Error

[2020-07-23 01:52] logan2013 commented on #2218
@akaks 请问怎么处理的，我也遇到这个问题

[2020-07-23 02:48] LittleM318 opened #3421 "nacos 获取 project.version失败"
## Issue Description
通过nacos配置中心更新配置文件失败
报错：Could not resolve placeholder 'project.version' in value "${project.version}"
Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

2020-07-23 10:38:14.326 - INFO 22456  [13-c60811fd1f04] c.a.nacos.client.config.impl.CacheData   : [fixed-172.21.9.17_8848-172.21.9.172_8849-172.21.9.172_8850-38f49afe-a85d-4e2e-a813

[2020-07-23 02:51] LittleM318 commented on #3421
补充：启动的时候没有这个问题，能正确读取到nacos配置中心的配置，但是更新了配置中心的配置后，报这个错误，并且本地的配置没有被更新。该错误每30秒均会抛出。

[2020-07-23 03:04] yyt6200 opened #3422 "什么原因会导致Nacos节点集体崩溃？怎么查询相关问题？"
环境：三台服务器分别部署一个Nacos节点
情况：今天发现三台Nacos都down了
猜测：开发环境与测试环境的项目配置文件不同，测试环境比开发环境少了一项配置。加上后到现在Nacos未挂。
不知道是不是上面描述的原因，希望指导下哪里能查相关的问题（Nacos的宕机日志）

[2020-07-23 03:09] yyt6200 opened #3423 "偶发！服务日志上打印和Nacos的心跳日志，但是Nacos服务列表里该服务的实例是0"
环境：Nacos三个节点分部在三台服务器，服务跑在Swarm中
问题：服务是两个副本，其中一个Down了，一个正常运行（日志仍在和Nacos通信），但是Nacos的服务列表是该服务的实例显示为0，也就是无这个服务实例注册到Nacos

[2020-07-23 04:13] #2323 closed

[2020-07-23 06:00] hujiang75277381 opened #3424 "在nacos 的client启用udp端口，可以支持指定端口么。。"
package com.alibaba.nacos.client.naming.core#PushReceiver

    public PushReceiver(HostReactor hostReactor) {
        try {
            this.hostReactor = hostReactor;

           //我们可以指定这个udp端口么,大佬 跪求这个功能
            udpSocket = new DatagramSocket();

            executorService = new ScheduledThreadPoolExecutor(1, new ThreadFactory() {
                @Override
                public Thread new

[2020-07-23 06:02] KomachiSion commented on #3418
duplicate with #2866

[2020-07-23 06:02] #3418 closed

[2020-07-23 06:03] KomachiSion commented on #3422
什么版本，什么配置？

[2020-07-23 06:09] KomachiSion commented on #3424
指定端口的话会不会有风险？ 比如要接受几台server端的推送数据，同一个端口会不会造成冲突？

[2020-07-23 06:12] KomachiSion commented on #3423
is duplicate with #3337？

[2020-07-23 06:15] yyt6200 commented on #3423
不是，与#3337 正好相反。这次是服务仍然活着，但是在nacos上没有相关服务的实例。

[2020-07-23 06:18] yyt6200 commented on #3422
1.2.1。我说的配置是具体项目的相关配置。将项目的配置托管在nacos,项目中使用@Value获取该配置项。
这种情况发生好几次了，但似乎每次都是因为我漏加了配置才会发生，想验证下这个问题是否因为配置项导致的。

[2020-07-23 06:21] KomachiSion commented on #3337
可以搜索一下naming-raft.log 查一下关键字`server list is updated` 看下当时A机器挂掉 其他Nacos节点是否获取到？

[2020-07-23 06:22] KomachiSion commented on #3423
2个副本注册是实例ip地址和port一致吗？

[2020-07-23 06:24] yyt6200 commented on #3423
没明白您的意思

[2020-07-23 06:26] KomachiSion commented on #3423
副本A 注册到nacos里的ip port和 副本B注册的ip port是一样的吗

[2020-07-23 06:28] yyt6200 commented on #3423
A和B的port是一样的，因为他们是同一个服务。ip地址不同 一个是10.0.1.86 另一个是10.0.1.87

[2020-07-23 06:29] yyt6200 commented on #3423
nacos上是看不到这两个服务的，我是在docker中输出日志看到A还和Nacos维持心跳的。B是Down掉了。

[2020-07-23 06:31] KomachiSion commented on #3423
最开始是都能看到，然后Bdown掉之后 A也从nacos中不可见了？

[2020-07-23 06:35] yyt6200 commented on #3423
最初什么样我不能确定，今天有同事跟我反馈XX服务调用失败了，我上去看就是这个情况。A,B两个服务，A服务仍然在维持心跳
持续输出com.alibaba.nacos.client.config.impl.ClientWorker - get changedGroupKeys:[]。B服务因为一些原因没起的来，Application run failed 了。但即使这个情况，nacos上应该显示一个服务的实例的

[2020-07-23 06:38] KomachiSion commented on #3423
这个输出的日志是配置中心的 不是心跳，哪怕服务全关了也是有的。 是否有心跳，到3个服务端 的naming-event和naming-server，去搜一下这两个实例的ip和port 看下是不是被disabled或者delete了

主要关键字：`{POS} {IP-DISABLED}` in naming-event , `AUTO-DELETE-IP` in naming-server

[2020-07-23 06:39] yyt6200 commented on #3423
OK 我去查一下

[2020-07-23 06:41] KomachiSion commented on #3423
如果想进一步确认，就需要打开服务端的debug日志，然后看naming-event里的`[CLIENT-BEAT]` 日志

[2020-07-23 06:41] KomachiSion commented on #3423
但是这样日志的量会比较大，

[2020-07-23 06:50] yyt6200 commented on #3337
查询了15号的日志，server list is updated 相关的显示的是三个节点健在的
2020-07-15 11:06:16,241 INFO server list is updated, new: 3 servers: [{"adWeight":0,"alive":false,"ip":"192.168.3.110","key":"192.168.3.110:8848","lastRefTime":0,"servePort":8848,"site":"unknown","weight":1}, {"adWeight":0,"alive":false,"ip":"192.168.3.111","key":"192.168.3.111:8848","lastRefTime":0,"lastRefTimeStr":"","servePort":8848,"site":"unknow

[2020-07-23 06:53] KomachiSion commented on #3337
主要看下节点关闭后的，server list is updated日志，如果一直没有日志就说明没有生效。

[2020-07-23 06:57] yyt6200 commented on #3337
在另外两个节点的**naming-raft.log**中，没看到 **server list is updated** 相关的日志。**192.168.3.111**输出的都是些 拒绝链接的。

**192.168.3.111**上的**naming-raft.log**文件内容只有这个
2020-07-23 14:45:38,276 INFO raft peers changed: [{"adWeight":0,"alive":false,"ip":"192.168.3.110","key":"192.168.3.110:8848","lastRefTime":0,"lastRefTimeStr":"","servePort":8848,"site":"unknown","weight":1}, {"adWeight":0,"alive":false,"ip":"192.168.3.11

[2020-07-23 06:57] KomachiSion commented on #3337
还有 naming-server 下的 `[NACOS-DISTRO] healthy server list changed`  也搜一下，这个日志是感知服务是否健康的

[2020-07-23 07:00] yyt6200 commented on #3337
**192.168.3.111** 节点上的 **naming-server** 文件输出这个

2020-07-23 14:45:38,930 INFO [NACOS-DISTRO] healthy server list changed, old: [{"adWeight":0,"alive":true,"ip":"192.168.3.110","key":"192.168.3.110:8848","lastRefTime":1595040053687,"lastRefTimeStr":"2020-07-18 10:40:53","servePort":8848,"site":"unknown","weight":1}, {"adWeight":0,"alive":true,"ip":"192.168.3.111","key":"192.168.3.111:8848","lastRef

[2020-07-23 07:04] KomachiSion commented on #3337
从日志来看，已经识别到了那个节点不健康，之后的请求转发和服务负责节点也会重新计算。看上去是没有问题的

[2020-07-23 07:07] yyt6200 commented on #3337
但是这种因为节点和服务同时down的情况我的确是碰到过了。图片里的10.0.1.176是一个已经停止的容器实例

[2020-07-23 07:08] KomachiSion commented on #3337
当时的日志还在吗 查一下当时的naming-server ，看下有没有变更信息

[2020-07-23 07:09] yyt6200 commented on #3337
在的，我查下

[2020-07-23 07:12] yyt6200 commented on #3337
15号的日志不在了。。最早只有16号的了。。

[2020-07-23 07:15] KomachiSion commented on #3337
那就是一下刚才这样down掉之后，控制台是否还是3个节点可用。如果已经ok了，就等下次出现了 保留现场，然后再提issue。 这个issue可以先关了。

[2020-07-23 07:16] yyt6200 commented on #3337
现在控制台是两个节点可用，都正常的

[2020-07-23 07:16] #3337 closed

[2020-07-23 07:16] yyt6200 commented on #3337
谢谢指导

[2020-07-23 07:20] wangengzheng commented on #273
群二维码已过期

[2020-07-23 07:35] chestarss opened #3426 "BUG 1.3.0 configService.getConfig取不到配置内容"
这个接口是NacosConfigService.getConfig中调用的，前端调用的有个show=all参数是可以返回，代码里只取配置文件内容

1.3.0 用这个接口取不到数据
/nacos/v1/cs/configs?dataId=xxx.yaml&group=DEFAULT_GROUP&tenant=xxx  取不到内容
/nacos/v1/cs/configs?dataId=xxx.yaml&group=DEFAULT_GROUP&tenant=xxx&show=all 可以返回json对象

1.1.3 中可以

## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe wha

[2020-07-23 07:55] KomachiSion commented on #3422
没遇到过。。。 而且你说的配置如果是业务配置，那得根据复现的情况排查具体问题了。或许是漏配置，然后触发了某种异常状态，导致sdk不停获取配置，然后服务端扛不住挂了。但是这种说法缺乏证据。

以目前的情报和信息，我们这边无法帮助定位问题。只能您自己排查了，或者看下社区有没有别人出现过类似的问题。

[2020-07-23 08:05] David-wu91 commented on #2866
此问题在1.3.1版本中还没得到修复，请问各位阿里大佬方便告知一下此问题的修复计划吗？

[2020-07-23 09:18] keepleaning opened #3428 "管理后台token失效不自动跳转登录页"
## 管理端token失效不自动跳转登录页

Type: *bug report*
版本：1.3.1

经查代码发现是前端统一处理 403 forbidden 的时候一个bug：
后端代码处理login时抛异常，message是"token invalid!"，前端处理403的时候判断的是"token invalid"。

综上：前端判断403的时候少了个"!"。

后端代码：com.alibaba.nacos.console.security.nacos.NacosAuthManager#login   第74行
[code]
前端代码：nacos\console\src\main\resources\static\console-fe\src\globalLib.js  第531行
[code]
nacos\console\src\main\resources\static\conso

[2020-07-23 09:32] tankliu1980 opened #3429 "后台一直轮询抛出异常，不影响服务调用，请问是哪里的问题，谢谢！"
后台一直轮询（30S）输出以下异常，网上检索配置了spring.cloud.nacos.config.server-addr地址后不应该启用endpoint的东西，可是我试了好多配置一直无效，请问是哪里的问题，谢谢，异常如下：
java.io.IOException: Error while requesting: http:///nacos/serverlist'. Server returned: 500
	at com.alibaba.nacos.client.naming.net.NamingProxy.getServerListFromEndpoint(NamingProxy.java:142)
	at com.alibaba.nacos.client.naming.net.NamingProxy.refreshSrvIfNeed(NamingProxy.java:175)
	a

[2020-07-23 09:54] xiaosuiyue opened #3430 "spring+nacos，项目中的properties文件属性读取不到"
In my project i use spring + nacos，
nacos config file used location properties，but cat't correct load the attribute value.
![image](https://user-images.githubusercontent.com/38514572/88273640-13e0f400-cd0d-11ea-8a82-baf926fd9de1.png)

![image](https://user-images.githubusercontent.com/38514572/88273724-3115c280-cd0d-11ea-8c73-96d5325a4bff.png)

the error message is :Can't get content from dataId :

[2020-07-23 11:02] KomachiSion commented on #3429
提供下相关的版本信息

[2020-07-23 11:04] KomachiSion commented on #3430
It seems that you do not import properties to spring xml configuration.
Not nacos problem.

[2020-07-23 11:41] chenjun-1201 opened #3431 "start.out日志报错"
[code]

[2020-07-23 14:51] sanxun0325 commented on #3406
@i will solve it@

[2020-07-24 00:23] xiaosuiyue commented on #3430
The spring xml configration as follow,

wyinjava@126.com

发件人： 杨翊 SionYang
发送时间： 2020-07-23 19:05
收件人： alibaba/nacos
抄送： xiaosuiyue; Author
主题： Re: [alibaba/nacos] spring+nacos，项目中的properties文件属性读取不到 (#3430)
It seems that you do not import properties to spring xml configuration.
Not nacos problem.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2020-07-24 01:00] tankliu1980 commented on #3429
nacos的版本是1.3，spring-cloud-starter-alibaba-nacos-config.jar的版本是0.1.1.RELEASE，spring-cloud-starter-alibaba-nacos-discovery.jar的版本是0.1.2.RELEASE

[2020-07-24 01:18] xiaosuiyue commented on #3430
I tried again just now,other xml configuration can get property value defined by the properties file, but nacos xml can't

wyinjava@126.com

发件人： 杨翊 SionYang
发送时间： 2020-07-23 19:05
收件人： alibaba/nacos
抄送： xiaosuiyue; Author
主题： Re: [alibaba/nacos] spring+nacos，项目中的properties文件属性读取不到 (#3430)
It seems that you do not import properties to spring xml configuration.
Not nacos problem.
—
You are receivin

[2020-07-24 01:27] KomachiSion commented on #3431
If you want to start with derby + jraft mode, please use `startup.sh -p embedded`
If you want to start with mysql mode, please modified your `application.properties` and set datasource configuration.

[2020-07-24 01:27] #3431 closed

[2020-07-24 01:35] #3414 closed

[2020-07-24 01:35] #3412 closed

[2020-07-24 01:37] KomachiSion commented on #3411
@paderlol Can you help to research problems?

[2020-07-24 01:40] KomachiSion commented on #3410
nacos 控制台， 服务列表-》服务详情-》编辑服务-》输入元数据即可（json格式）

[2020-07-24 01:41] #3403 closed

[2020-07-24 01:41] #3398 closed

[2020-07-24 01:42] #3396 closed

[2020-07-24 01:54] KomachiSion commented on #3234
Community has no plan to implement this feature, and no body want to discuss this feature more than 21 days. close issue

[2020-07-24 01:54] #3234 closed

[2020-07-24 01:55] #3224 closed

[2020-07-24 02:05] KomachiSion commented on #3154
So, What's the result of this discussion, I think result is that we has no need to open this enhancement for persistence for now . But we will do it in future?

[2020-07-24 02:06] KomachiSion commented on #3133
I think it's a big feature named auto-maintain server. Maybe need to design and discuss more in future.

[2020-07-24 02:22] haichao-hub opened #3433 "When the new configuration type is properties, the save fails"
## Issue Description

Type: bug

### Describe what happened (or what feature you want)
When the new configuration type is properties, the save fails
新建配置的类型 为 properties 时，保存失败

console output:
`
main.js:285 Uncaught TypeError: Cannot read property 'currentLanguageCode' of undefined
    at main.js:285
    at main.js:317
    at Array.<anonymous> (main.js:317)
    at main.js:317
    at r (main.js:14

[2020-07-24 03:15] #2289 closed

[2020-07-24 03:20] ljhrot commented on #3413
@dyiwen 你好，请问能贴一下客户端调用监听配置接口的请求参数吗？

[2020-07-24 04:26] hujiang75277381 commented on #3424
这个端口的作用不是接受服务端的推送呢？你启动的时候固定了，后面会变化？------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;杨翊&amp;nbsp;SionYang&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年7月23日(星期四) 下午2:09
收件人:&nbsp;&quot;alibaba/nacos&quot;<nacos@noreply.github.com&gt;;
抄送:&nbsp;&quot;xiaobiesan&quot;<75277381@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [alibaba/nacos] 在nacos 的c

[2020-07-24 06:04] zhboseu opened #3434 "nacos 1.3.1 start with embedded mode：bad SQL grammar"
[code]
## Issue Description

bad SQL grammar

### How to reproduce it (as minimally and precisely as possible)

1. nacos 1.3.1 cluster, 3 nodes
2. ./startup.sh -p embedded
3. logs/config-fatal.log

[2020-07-24 06:28] MrLonelyJacky opened #3435 "bad clone behaviour"
the class AbstractHealthChecker and  subclass have  bad clone behaviour, a good clone behaviour should implents cloneable interface,the subclass do not. Another way, should use super.clone method,but the subclass like Http new a object,it is bad,because
a class extend http may implents cloneable and use super.clone method in clone method,it errors!!!!

[2020-07-24 06:40] zhboseu opened #3436 "nacos 1.3.1 with emdedded mode: Error creating bean with name 'serverMemberManager'"
[code]
## Issue Description

Error creating bean with name 'serverMemberManager' caused by No qualifying bean of type 'javax.servlet.ServletContext' available

### How to reproduce it (as minimally and precisely as possible)

1. nacos 1.3.1 cluster, 3 nodes
2. ./startup.sh -p embedded
3. logs/config.log

[2020-07-24 07:09] yueyuanyu commented on #3411
问题;
1.参考官方demo,自己拉的nacos写的空项目弄得nacos-server(主要是为了加入flyway初始化数据库),其中一直不明白9555端口的作用.
2.上面提到的opentest域名经排查发现是本机用户名,切换成ip后(之前选的是hostname),就显示的是ip了.但依旧存疑,主要是为什么集群管理那里看到的有ip又有host形式的(配置的集群列表为host+port)
3.今天在我本地win10环境下搭了个nacos-server集群,采用的cluster.conf形式,同样配置的是host+port,一启动自动添加ip+端口形式到列表中(这个问题应该是同第二点的疑问是同一个问题)
4.卡顿的原因,在我本机环境搭建的集群这次也加上了nginx 我的服务也是用的nginx地址,但是和之前一样,过了一阵后就开始卡顿,原因发现是在疯狂输出日志,日志很快就达到按G来计算的级别了

[2020-07-24 07:11] zhboseu opened #3437 "The Raft Group [nacos_config] did not find the Leader node"
[code]

## Issue Description
The Raft Group [nacos_config] did not find the Leader node
when occurs this issue, the only solution is to **restart** nacos cluster.

### How to reproduce it (as minimally and precisely as possible)

1. nacos 1.3.1 cluster, 3 nodes
2. ./startup.sh -p embedded
3. logs/config-fatal.log

[2020-07-24 07:54] yueyuanyu commented on #3411
`2020-07-24 15:50:57,905 INFO [NACOS-DISTRO] healthy server list changed, old: [192.168.100.104:8847, 192.168.100.104:8848, 192.168.100.104:8849, mss-nacos01.ns.me:8848, mss-nacos02.ns.me:8849, mss-nacos03.ns.me:8847], new: [192.168.100.104:8847, 192.168.100.104:8848, 192.168.100.104:8849, mss-nacos01.ns.me:8848, mss-nacos02.ns.me:8849, mss-nacos03.ns.me:8847]`
日志对应上述所说的问题2.3 为什么会默认自动加上ip+port的 我手

[2020-07-24 08:28] paderlol commented on #3411
1 问题9555是开启远程debug的，默认是关闭掉的
2.ip问题，是因为Nacos需要判断自己本机的IP，所以有host和ip两种模式，主要应对容器内部的问题，因为容器内部你如果配置宿主机ip，内部获取不到宿主机的IP
3.IP列表最终都是解析成ip的，这是server的特性
4 日志如果是心跳或者config打印的应该是有问题的，这个issue应该是修复了，可以看下1.3.0的包或者1.3.1

[2020-07-24 08:37] KomachiSion commented on #3433
I tried in 1.3.1 demo console, properties can be published.

[2020-07-24 08:39] KomachiSion commented on #3433
I guess your first line is a comment. If so , the issue is duplicated with #3103.

[2020-07-24 08:43] KomachiSion commented on #3436
I can't reproduce in macOS and centOS with nacos-server-1.3.1.tar.gz and nacos-server-1.3.1.zip

Can some one in community reproduce this issue ?

[2020-07-24 08:44] KomachiSion commented on #3437
Please paste the error info from alipay-jraft.log

[2020-07-24 08:46] haichao-hub commented on #3433
I tried again and found that it cannot be saved if the value is empty
`
logging.level.root=

logging.level.org.mybatis=DEBUG
`

[2020-07-24 08:47] haichao-hub commented on #3433
``
I tried again and found that it cannot be saved if the value is empty
``

[2020-07-24 09:01] yueyuanyu commented on #3411
目前测试的包都是1.3.0 改成1.3.1后依旧没得到解决

[2020-07-24 09:02] yueyuanyu commented on #3411
我自己再试试吧

[2020-07-24 09:35] KomachiSion commented on #3411
日志多推测是因为你多出来3个节点，然后服务之间的心跳一直失败的报错日志。而且你都是本地部署，相当于错误日志*3.

主要还是看下为什么你的环境设置会多出这3个域名

[2020-07-24 09:47] jguangyou opened #3438 "nacos1.2.1运行一段时间后（单机模式）服务无法访问"
After the nacos1.2.1（standalone mode） has been running  for some time（about 2 hours），some service can't be accessed，the program throw the exeption：“nacos No provider available from registry localhost:9090”，if you restart the nacos
,all service will be ok。（spring cloud alibaba2.1.2+dubbo2.7.6+nacos1.2.1）

[2020-07-24 09:48] yueyuanyu commented on #3411
本地环境上 cluster.conf 配置的三个host+port ,启动后默认解析成ip+port 这个时候就多了三个,这种情况如何解决呢

[2020-07-24 09:53] paderlol commented on #3411
你是说你自己配置了cluster conf？

[2020-07-24 09:56] paderlol commented on #3411
Docker镜像里面是不用自己设置cluster.conf的，配置环境变量就可以了

[2020-07-24 09:57] rcfeng opened #3439 "配置pageSize列表"
### Describe what happened (or what feature you want)

目前config默认的pageSize显示10个太少了,
建议pageSize可在nacos server配置文件中进行数组配置,
![image](https://user-images.githubusercontent.com/39292626/88380202-b1ecc100-cdd6-11ea-85a1-fd85032cf35b.png)

### Tell us your environment
1.3.1

[2020-07-24 11:37] KomachiSion commented on #3438
Have any error information or system information? It can't reproduce in my env. we can't get what's problem cause your issue.

[2020-07-24 11:38] KomachiSion commented on #3439
这块是控制台页面控制的， server配置文件中控制不了。

[2020-07-24 12:11] chenhj520 opened #3440 "添加配置失败"
版本：NACOS1.3.0

从docker镜像拉取最新版本

启动成功本地mysql
我准备添加一个配置，发生js异常

`Failed to load resource: the server responded with a status of 500 ()
main.js:38 Uncaught TypeError: Cannot read property 'currentLanguageCode' of undefined
    at error (main.js:38)
    at Object.e.error (main.js:78)
    at r (main.js:33)
    at Object.fireWith [as rejectWith] (main.js:33)
    at u (main.js:33)
    at XMLHttpRequest.<

[2020-07-24 12:51] KomachiSion commented on #3440
Please see #3433 and #3103 , If is the same problem, please close issue because duplicate

[2020-07-24 15:36] sanxun0325 commented on #3435
@i will solve it@

[2020-07-25 00:51] #3410 closed

[2020-07-25 01:49] yueyuanyu commented on #3411
你好 dockercompose集群版搭建的不是的,具体情况真说不明白了,应该感觉和大家的配置方法  没什么差别,那麻烦你帮我看下使用dockercompose集群版的yml文件写对没.目前唯一差别就是在微服务的server-addr上使用nginx反向代理地址,而不是写nacos的地址列表,不知道这一点是否是造成卡顿的原因所在

[2020-07-25 01:59] paderlol commented on #3411
你的配置文件怎么写的？方便发出来看下吗？

[2020-07-25 03:27] CNWangTy opened #3441 "如何修改源码使其支持PostgreSql？"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment

### Anything else we need to know?

[2020-07-25 04:18] johnniehs commented on #2706
这个问题1.3.1依然存在啊。是哪里的问题？我的nacos是用的是 docker hub里的 nacos/nacos-server

[2020-07-25 04:27] Xunzhuo commented on #525
Great!

[2020-07-25 04:31] gzdaxiong opened #3443 "[read] I/O error: Read timed out"
spring cloud  alibaba版本：2.2.1.RELEASE
nacos版本：1.3.1
nacos client 版本: 1.3.1

日志不断出现：com.alibaba.nacos.naming.beat.sender |Wire.java:87 |org.apache.http.wire |http-outgoing-1 << "[read] I/O error: Read timed out"
这个是否有影响，还有如何解决。谢谢

[2020-07-25 04:32] yanjunnf commented on #273
组织：宜信财富
地点：中国北京
联系方式：yanjunnf@hotmail.com
场景：服务发现和配置管理
服务框架：SpringCloud, Dubbo, K8s
![image](https://user-images.githubusercontent.com/6917771/88448671-c4b4d380-ce72-11ea-8539-caefe9bb7958.png)

[2020-07-25 04:42] chuntaojun commented on #2706
确认下你的服务端版本是不是1.3.1，以及查看服务端有关client longpoll的日志，

[2020-07-25 05:02] chenhj520 commented on #3111
NewConfig.js  文件中 aliwareIntl对象从globalLib.js 引用，但是globalLib.js文件没有定义aliwareIntl对象。
import { getParams, setParams, request, aliwareIntl } from '../../../globalLib';

[2020-07-25 05:41] rcfeng commented on #3439
是我表达的问题, server端就是指console

[2020-07-25 06:02] #3440 closed

[2020-07-25 06:08] chenhj520 commented on #3103
![Uploading image.png…]()

NewConfig.js  文件中 aliwareIntl对象从globalLib.js 引用，但是globalLib.js文件没有定义aliwareIntl对象。
import { getParams, setParams, request, aliwareIntl } from '../../../globalLib';

问题修复，有两处需要修改
[code]

[2020-07-25 06:58] #2325 closed

[2020-07-25 08:29] jguangyou commented on #3438
The key problem is that I haven't found any error log in all log files，but the client will report the error “failed to req API:/api//nacos/v1/ns/service/list after all servers([x.y.z.z:8848]) tried: java.net.SocketT                                                                              imeoutException: Read timed out” , meanwhile, the web console can't be accessed

[2020-07-25 08:56] CNWangTy commented on #3441
简单修改了一下源码已经能根据配置文件连接postgresql，还没有详细测试，下周工作日上传一下代码，nacos版本 1.1.4

[2020-07-25 09:02] ljhrot commented on #3434
@i will solve it@

[2020-07-25 09:29] FengJinghHua opened #3444 "nacos-sprintboot，发布和application.properties相同的配置项，读取到的是application.properties里面的值"
nacos1.3.1中，和sprintboot集成后，application.properties中有一配置如：
test.default=123

在nacos上更新相应配置，为
test.default=456

在controller层进行展示，显示的信息还是test.default=123

如果定义了一个配置在application.properties中是不存在的，如
test.defaultnotexists=123
进行发布，则可以正常更新显示

请问下，这个和优先级设置有关吗，在代码里好像找不到sprintboot 和 nacos 相关文件优先级的设置

[2020-07-25 09:36] yueyuanyu commented on #3411
就是问题描述中的第二张图片,集群模式,不同点是prefer_host_mode改为了ip其他是一致的

[2020-07-25 09:53] paderlol commented on #3411
你可以exec进去看下 cluster.conf吗？还有etc/hosts里面挂的是什么？

[2020-07-25 10:06] paderlol commented on #3411
你不要直接挂/etc/hosts 这个操作很危险的啊

[2020-07-25 10:10] paderlol commented on #3411
你如果需要扩展hosts文件 你可以通过下面的方式 而不是直接用宿主机的方式覆盖 这种操作会带来很多莫名其妙的问题的.
[code]
可以看下Docker Compose官方文档[compose-file/#extra_hosts](https://docs.docker.com/compose/compose-file/#extra_hosts)

[2020-07-25 10:30] yueyuanyu commented on #3411
忘说了 直接挂载那个是取消了的 shi使用的是下面这个
![image](https://user-images.githubusercontent.com/33542699/88454856-dadb8780-cea4-11ea-8598-17ba551b6ecf.png)

[2020-07-25 10:32] paderlol commented on #3411
没有挂在hosts？ 还有你的cluster配置现在可以打开看下？

[2020-07-25 10:43] yueyuanyu commented on #3411
没懂呢?就是以上面集群版的dockercompose启动三个节点(对应得host的机器上)

[2020-07-25 10:48] paderlol commented on #3411
额,我的意思是进入容器去确认下集群配置文件里面是不是写了这些节点,或者多写了节点

[2020-07-25 10:57] gaoxiang9457 commented on #3358
非常感谢，已经解决，配置文件字符集有问题

[2020-07-25 10:57] #3358 closed

[2020-07-25 11:03] yueyuanyu commented on #3411
![image](https://user-images.githubusercontent.com/33542699/88455620-622afa00-cea9-11ea-9187-71e595c0567e.png)
这个是启了一个nacos节点,会在自己增加一个本机 ip地址 这个情况是对的吗

[2020-07-25 11:37] paderlol commented on #3411
不对

[2020-07-25 11:49] paderlol commented on #3411
你看这是我刚起来的
![image](https://user-images.githubusercontent.com/7919984/88456385-f5672e00-ceaf-11ea-992c-66098540841e.png)

[2020-07-25 11:52] paderlol commented on #3411
这是ip模式的 你肯定哪里配置了一个ip设置进去了
![image](https://user-images.githubusercontent.com/7919984/88456428-50992080-ceb0-11ea-962e-4ef1268c8093.png)

[2020-07-25 11:56] paderlol commented on #3411
你检查下,你拿的我的脚本比对一下吧

[2020-07-25 12:33] yueyuanyu commented on #3411
![image](https://user-images.githubusercontent.com/33542699/88456979-59d8bc00-ceb5-11ea-8a45-f793ab1583ac.png)
无论是ip还是hostname模式,都会加入一个本机节点(比如最上面那张图open-test:8848那个节点实际上是这台机器用户名+端口),我确实没有手动加一个ip这种操作.你能贴个你的脚本出来吗 或者这个demo我能看下吗

[2020-07-25 12:35] paderlol commented on #3411
我知道原因了，你没有设置docker的host，因为nacos每个节点需要判断当前的节点是不是自己，不是自己的就会插入，所以选主也不会成功，推荐使用hostname模式，并且设置host，可以参考我的clusterhostname我都设置了host的，然后你的集群节点配置的这个域名是外部域名？还是你自己设置的，要和host保持一致

[2020-07-25 12:39] paderlol commented on #3411
你看我的cluster hostname里面都有设置的host，ip模式里面我会指定每个节点的ip，所以会创建一个网络

[2020-07-25 12:54] yueyuanyu commented on #3411
docker host? 我们一直都采用的
![image](https://user-images.githubusercontent.com/33542699/88457218-3f074700-ceb7-11ea-9172-2a0ed2e1badd.png)这种方式映射的宿主机hosts,host我都映射到对应机器ip了的 .我明白你的意思,但是我不明白你说的推荐使用"并且设置host", 是我漏了指定host的配置吗?. 正常来讲不应是在/etc/hosts中指定对应host的ip,然后映射到docker中吗,我刚才查看了使用networkmode是映射到docker中host成功了的,还有你的clusterhostname我看也是指定三个节点host,我的也是指定了三个节点并且对应docker容器中/etc/hosts中也指定了正确的host对应ip,但还是会自己加入自己节点.

[2020-07-25 13:17] paderlol commented on #3411
你要etc的hosts里面能找到你配置的节点其中的一个啊，所以我让你看我的配置我的compose文件里面有指定的比如nacos1那对应就有一个nacos1 的host名

[2020-07-25 13:20] paderlol commented on #3411
version: "3"
services:
  nacos1:
    hostname: nacos1 #这里是hostname对应
    container_name: nacos1

[2020-07-25 13:31] xpp666 opened #3446 "For the remote nacos"
For the remote nacos I configured, I can see the service registration from the service list of the console, but my local development environment keeps reporting the error "[NACOS ConnectException httpPost] currentServerAddr: http://localhost:8848, err: Connection refused: connect ", but it doesn't affect the use. Why does it always show that the local nacos cannot be connected? I clearly configure

[2020-07-25 13:40] paderlol commented on #3411
你看下面两张图,这才是正确的hosts里面的对应关系,图一是IP模式 图二是hostname模式, Nacos会去获取本机的IP然后来判断自己是属于cluster.conf里面哪一个,你的compose里面没有配置host或者指定ip,所以获取的时候是匹配不上的,这跟你映射不映射自己宿主机的hosts没有任何关系的
![image](https://user-images.githubusercontent.com/7919984/88458165-ad033c80-cebe-11ea-98aa-1c35319af847.png)
![image](https://user-images.githubusercontent.com/7919984/88458203-f9e71300-cebe-11ea-9bcc-a87802afb353.png)

[2020-07-25 15:04] heppytt opened #3447 "Communication between Nacos and docker"
我使用的场景如下
两台独立的docker服务器，一台docker里面运行nacos服务和项目基础模块，另外一台docker里面运行的项目其他功能模块，问题来了，我在同一台docker容器里面运行项目所有的功能模块注册到nacos里面可以互相访问，项目不报错，可是当我把其中一个模块装到另外一个docker服务器里面并注册到nacos里面时候，项目就访问不到我在另外一台docker服务器里面的服务了。请问是什么原因导致的啊？是我docker原因还是nacos原因？或者我应该如何配置naocs的信息，让这两台docker服务器的应用互相访问？
我使用的场景如下
两台独立的docker服务器，一台docker里面运行nacos服务和项目基础模块，另外一台docker里面运行的项目其他功能模块，问题来了，我在同一台docker容器里面运行项目所有的功能模块注册到nacos里面可以互相访问，项目不报错

[2020-07-25 15:27] yueyuanyu commented on #3411
懂了 谢谢你,我拿测试环境试试,还会不会出现刚切换成cluster就瞬间巨卡的情况. 就是能够确定应该是我配置哪里有问题,但是之前没有定位到这个地方

[2020-07-25 15:28] ljhrot commented on #3103
@i will solve it@

[2020-07-25 15:29] paderlol commented on #3411
你的卡顿应该是这个选主一直没有选出来，不停在重试，错误日志飙升导致的

[2020-07-25 15:30] paderlol commented on #3411
那我暂时关闭这个issue了

[2020-07-25 15:37] paderlol commented on #3411
那我暂时关闭这个issue了

[2020-07-25 15:53] Xunzhuo opened #3448 "nacos.io Blog Errors"
## Issue Description

Type: bug report

### Describe what happened (or what feature you want)

官网博客，存在两处Markdown解析不完整的情况，链接为：https://nacos.io/zh-cn/blog/nacos-1.3.0-design.html

具体为以下两处

![bug1](https://user-images.githubusercontent.com/48784001/88460828-c19d0000-ced1-11ea-8ffc-2303eca095d1.png)

![bug2](https://user-images.githubusercontent.com/48784001/88460830-c3ff5a00-ced1-11ea-944f-8010e1792b

[2020-07-25 23:50] 18964198046 commented on #3428
@i will solve it@

[2020-07-26 03:28] ljhrot commented on #3434
@ready to close@

[2020-07-26 03:33] Xunzhuo commented on #3448
Same problems happened in English Docs https://nacos.io/en-us/blog/nacos-1.3.0-design.html,
I have solved it by giving 2 PRs

[2020-07-26 04:00] xpp666 commented on #3446
我是用springcloud alibaba

[2020-07-26 05:01] J-TIGGER opened #3450 "Problems encountered when using multiple nacos cofig"
When nacos conifg is in use, can A-nacos-config.yaml directly call B-naocs-config.xml, I have tried various methods and failed to succeed, I can only put B-naocs-config.xml in the resource of the local application It succeeds under the directory, if it can support direct calling, it would be great!

[2020-07-26 05:08] J-TIGGER opened #3451 "在使用nacos config时遇到了一个嵌套调用的问题"
在nacos-config配置中我是这样写的：
logging:
  config: classpath: logback-spring.xml
  file: ${logging.path}//${spring.application.name}/monitor.log
  path: F://logs//
 其中我想将logback-spring.xml也放到nacos-config中，但是这里使用了classpath之后怎么也不能成功，只能将logback-spring.xml放到本地应用的resouce文件夹下面，有没有好的方法将logback-spring.xml放到nacos-config中做统一调用

[2020-07-26 09:26] chenjun-1201 opened #3453 "nacos的使用文档有问题"
https://nacos.io/en-us/docs/quick-start.html

在这个标题下Download source code from Github ##
`s://github.com/alibaba/nacos.git
cd nacos/
mvn -Prelease-nacos -Dmaven.test.skip=true clean install -U
ls -al distribution/target/

// change the $version to your actual path
cd distribution/target/nacos-server-$version/nacos/bi`

最后少加了一个n

[2020-07-26 14:40] yueyuanyu commented on #3411
按照你的方式配置后现在是这个情况
![image](https://user-images.githubusercontent.com/33542699/88481942-e6a47800-cf90-11ea-9a62-cabc6b203c0d.png)

[2020-07-26 14:46] paderlol commented on #3411
你的network 是不是还是没去掉host?

[2020-07-26 14:51] paderlol commented on #3411
麻烦你按照我昨天给你截图去对比,然后把截图放出来好吗？你的配置有自定义的,没有按照我在官方给的例子,我很难去帮你排错。

[2020-07-26 15:03] yueyuanyu commented on #3411
果然是network: host导致多一个注册节点,但是有个疑问我看官方示例上没有挂载host 那他如何找到其他节点呢,目前我只开了一个节点,并且在宿主机上hosts这三个nacos都指向的相同的ip,现在是这个情况,服务也没注册上去

![image](https://user-images.githubusercontent.com/33542699/88482470-f1acd780-cf93-11ea-975d-b880c099f25b.png)

[2020-07-26 15:13] paderlol commented on #3411
跟宿主机的host 没有关系的,我说了每个docker container都有自己的host,独立隔离的,Nacos Server每个节点都需要判断当前节点中的某一个和自己host要匹配,所以才需要在docker 节点配置hostname,然后跟你宿主机没有任何关系,关于这方面的问题你可能需要自己看下Dokcer官方的相关文档,宿主机访问容器用的宿主机的端口,容器内部交互 都用的容器内的端口,比如8848,因为每个Container都隔离了,所以可以都用8848,但是外部宿主机,你看到我每个都配置了不同的端口去映射.

[2020-07-26 15:30] yueyuanyu commented on #3411
demo中设置了hostname,是基于单机多节点的情况吧,如果是多机集群的话还是要映射hosts吧 不然它怎么找到其他节点呢

[2020-07-26 15:42] paderlol commented on #3411
NACOS_SERVER_IP 用这个指定每台机器的节点Ip

[2020-07-26 15:51] yueyuanyu commented on #3411
我用extra_host单独加入哪两个节点的host和ip后 现在出现leader 了  但是目前的情况是,只有部分服务注册上来了,这部分我先自己排查下吧,切换成单机模式都可以全部注册.谢谢你

[2020-07-26 15:57] paderlol commented on #3411
extra_host单独加入哪两个节点的host和ip后,这个不对啊,每个节点是要设置自己的host在/etc/host,不是要把所有的节点ip在每个节点的/etc/hosts设置上,我上面不是给你举例了吗？
NACOS_SERVER_IP 用这个指定host就行了,指定这个就不会去再拿etc/host做比较了。

[2020-07-26 16:57] yueyuanyu commented on #3411
是在NACOS_SERVER_IP指定当前节点host吗 (加了这句报端口冲突与我那个8544,但实际上怎么换都会报端口冲突),目前好像就只有直接加extrahost 接近成功了 难搞
![image](https://user-images.githubusercontent.com/33542699/88484625-76065700-cfa2-11ea-896c-dd5b8aeb8a92.png)

[2020-07-27 01:11] Xunzhuo commented on #3453
@i will solve it@

[2020-07-27 01:15] sanxun0325 commented on #3435
@MrLonelyJacky Can you describe this problem in more detail?  If it is convenient, we can add dingding to communicate.

[2020-07-27 01:15] #3254 closed

[2020-07-27 01:15] #3255 closed

[2020-07-27 01:15] #3379 closed

[2020-07-27 01:17] KomachiSion commented on #3438
see logs/nacos_gc.log check whether has full gc.

[2020-07-27 01:27] KomachiSion commented on #3443
可以看下服务端是否有错误日志，以及看一下gc日志是否有full gc，如果都没有，那就是网络问题了。自检一下端口和网络监控。实在不行可以试着抓下包分析下。我这边没有出现过这个问题。

影响的话，可能会导致注册的服务心跳上报不成功，如果一直上报不成功，可能会导致注册的实例被频繁的移除和注册。

[2020-07-27 01:35] KomachiSion commented on #3446
@xpp666 Please change the title so that it can be search friendly.

And Please provide more information, like full error log, nacos version and spring cloud version.
And provide the steps to reproduce. Providing the demo codes will be better.

[2020-07-27 01:38] KomachiSion commented on #3447
I think it's docker usage problem. Because if you deploy all in one it can work. So it is not nacos‘ problem. Please turn to docker community to discuss. I close this issue.

[2020-07-27 01:38] #3447 closed

[2020-07-27 01:41] KomachiSion commented on #3448
Refer to https://github.com/nacos-group/nacos-group.github.io/pull/100
https://github.com/nacos-group/nacos-group.github.io/pull/101

[2020-07-27 01:41] #3448 closed

[2020-07-27 01:42] KomachiSion commented on #3450
What's the A and B means?

[2020-07-27 01:44] #3428 closed

[2020-07-27 01:50] abcf49 commented on #2437
同问。
有无可能是网络原因？

[2020-07-27 01:51] chuntaojun commented on #3444
贴一下依赖

[2020-07-27 01:57] FengJinghHua commented on #3444
@chuntaojun 感谢回复， pox.xml依赖如下

        <dependency>
            <groupId>com.alibaba.boot</groupId>
            <artifactId>nacos-config-spring-boot-starter</artifactId>
            <version>0.2.7</version>
        </dependency>

[2020-07-27 02:01] chuntaojun commented on #3444
建议去看下这个项目的github的wiki，以及了解spring environment 的设计机制，没有启用remote-first，就是本地的优先

[2020-07-27 02:18] jzdayz commented on #3046
OK,i got this , let me think , modify one by one

[2020-07-27 04:07] paderlol commented on #3411
你如果是多台机器,可以参考这个使用,我这个用的embedded模式的集群,三台局域网机器
[code]

![image](https://user-images.githubusercontent.com/7919984/88502606-87cb1700-d001-11ea-867e-c3b9d4dbf5ce.png)

[2020-07-27 05:27] yueyuanyu commented on #3411
上正式环境应该是要用hostname来搞的,如果不映射hosts的话那就算我指定了当前容器hostname(比如mss-nacos01.ns.me),NACOS_SERVERS=01,02,03  那他应该是找不到那两台机器的吧,也就会出现我上面那两个情况suspicious,也无法选举leader,服务也注册不上去.- NACOS_SERVER_IP来指定的话这个不是指定的ip吗,而且我按你说的指定host比如 NACOS_SERVER_IP=01,02,03 就会出现其他错误,报我那个用于启动的空项目端口被占用(这个空项目只是为了初始化flyway,我们对数据库的操作要求必须通过flyway),而且感觉NACOS_SERVER_IP应该是用来指定ip列表的,指定host感觉不对呢

[2020-07-27 05:27] yueyuanyu commented on #3411
上正式环境应该是要用hostname来搞的,如果不映射hosts的话那就算我指定了当前容器hostname(比如mss-nacos01.ns.me),NACOS_SERVERS=01,02,03 那他应该是找不到那两台机器的吧,也就会出现我上面那两个情况suspicious,也无法选举leader,服务也注册不上去.- NACOS_SERVER_IP来指定的话这个不是指定的ip吗,而且我按你说的指定host比如 NACOS_SERVER_IP=01,02,03 就会出现其他错误,报我那个用于启动的空项目端口被占用(这个空项目只是为了初始化flyway,我们对数据库的操作要求必须通过flyway),而且感觉NACOS_SERVER_IP应该是用来指定ip列表的,指定host感觉不对呢

[2020-07-27 05:36] paderlol commented on #3411
不知道你们为什么一定要用host访问，尤其你们还不是k8s，配置ip为啥不行？你要指定这种host的搞法，肯定需要指定extra，还有server ip同样要指定，这个你们自己权衡吧。

[2020-07-27 05:38] paderlol commented on #3411
NACOS_SERVER_IP，这个就是当本机出现多网卡得时候，指定一个地址作为nacos当前节点自己的地址，不是让你同时配三个啊，是每个节点配自己的就行了。

[2020-07-27 05:43] yueyuanyu commented on #3411
好吧 谢谢

[2020-07-27 07:21] #3411 closed

[2020-07-27 08:14] liteng-xxyl opened #3454 "使用 Nacos 作为 Dubbo 注册中心，控制台服务表关于Consumer的行信息缺失"
**Nacos版本：1.3.1
Dubbo版本：2.7.4.1**

**1. Bug描述**
![consumer](https://user-images.githubusercontent.com/44028859/88516601-21092600-d020-11ea-8045-979f5090592c.png)

**2. 个人愚见**
这也不算Bug吧，但是对于强迫症的我来说就很别扭。另外，总觉得Nacos关于Dubbo提供者和消费者的信息展示不是很一目了然。其实大多数开发者或项目管理者就是想知道Dubbo发布了那些服务，然后发布者是谁，消费者是谁。因此，我觉得以具体的服务（比如上图中的TestService）为驱动，再带出提供者和消费者可能会比较清晰一点。

或许是因为服务列表融合了作为服务发现管理注册进来的服务实例和作为Dubbo注册中心注册进来的Dubbo服务实例，所以D

[2020-07-27 08:24] yyt6200 commented on #3422
今天Nacos上又碰到服务无法下线，已挂服务实例无法下线的问题。麻烦大牛指导下怎么排查问题，日志已保存。

[2020-07-27 08:25] yyt6200 commented on #3422
![节点错误](https://user-images.githubusercontent.com/44914868/88520097-b2c76200-d025-11ea-9a9e-0629f6f01b9e.png)
![nacos](https://user-images.githubusercontent.com/44914868/88520107-b6f37f80-d025-11ea-8100-4dd64ed3c63d.png)
图1是已经Exited的实例，28分钟前就退出了

[2020-07-27 08:31] yyt6200 commented on #3422
另外最后补充下，我将110的Nacos服务重启后，服务的实例正常了。该下线的实例下线了

[2020-07-27 08:34] MrLonelyJacky commented on #3435
it is my pleasure,my dingding number is vinci15151936001. u used clone method,but do not provide a good clone behaviour.

[2020-07-27 08:36] #3435 closed

[2020-07-27 08:36] MrLonelyJacky commented on #3435
@sanxun0325 it is my pleasure,my dingding number is vinci15151936001. u used clone method,but do not provide a good clone behaviour.

[2020-07-27 09:02] yanjunnf commented on #3433
Seems like your configurations content syanx is wrong. The synax of properties format should be key=value
I checked the react js code, found below:
if (validateContent.validate({ content, type: configType })) {
        this.publicConfigBeforeCheck(content);
      } else {
        Dialog.confirm({
          content: locale.confirmSyanx,
          language: aliwareIntl.currentLanguageCode || 'zh-cn'

[2020-07-27 10:46] airwin opened #3455 "NodeJS SDK 如何支持权限认证？"
The NodeJS SDK cannot use with Nacos v1.3 with AUTH, how can I pass the username and password?

[2020-07-27 11:14] KomachiSion commented on #3455
Maybe NodeJs sdk do not support auth? Should open issue to NodeJs sdk repo.

[2020-07-27 11:30] zongtanghu commented on #3436
In Windows enviroment, I also can't reproduce this issue. @zhboseu

[2020-07-27 11:41] andyzhaozhao commented on #2383
请问解决了吗，我也遇到同样的问题

[2020-07-27 11:46] #3434 closed

[2020-07-27 11:47] #3388 closed

[2020-07-27 11:48] #3207 closed

[2020-07-27 11:55] KomachiSion commented on #2547
We will use Longtime connection to replace http, so the distro may be rewrite or remove in future.

[2020-07-27 11:55] #2547 closed

[2020-07-27 11:57] #2856 closed

[2020-07-27 13:36] zongtanghu commented on #3439
@wangweizZZ  can you resolve this issue?

[2020-07-27 13:37] zongtanghu commented on #3451
@wangweizZZ Can you resolve this issue?

[2020-07-27 14:04] wangweizZZ commented on #3439
前端相关
 - https://github.com/alibaba/nacos/blob/develop/console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js#L87
 - https://github.com/alibaba/nacos/blob/develop/console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js#L1387

[2020-07-27 15:06] Maijh97 commented on #3366
@zhujiebing 请问方便提供一下钉钉号吗？想和你沟通一下这个问题

[2020-07-27 15:17] J-TIGGER commented on #3450
A与B分别代表两个不同的配置文件

[2020-07-27 15:21] zhujiebing commented on #3366
13564373954

[2020-07-27 15:27] J-TIGGER commented on #2643
这种做法没有任何意义，违背了nacos实时加载配置文件的初衷

[2020-07-27 22:47] xiaozhongliu commented on #3264
@KomachiSion I see the issue is removed from the next milestone. May I know if there would be any further plan?
In my opinion, this is an important blocking issue. That is, authorization only works from the UI console, but not when long polling from an server side app.

[2020-07-28 01:51] zongtanghu commented on #3433
Can you help to resolve this issue?  @wangwei

[2020-07-28 02:24] yyt6200 commented on #3422
大牛 有空请帮忙看下这个问题，最近经常发生这样的情况

[2020-07-28 02:51] ljhrot commented on #3433
@zongtanghu 这个 ISSUES 跟 #3103 重复，都是 `validateContent.validate({ content, type: configType })` 校验 Properties 配置内容失败，然后进入 `else` 判断，也就是下面这块逻辑

[code]

同时 `aliwareIntl.currentLanguageCode` 这个属性是不存在的，也就是上面前端的报错信息。

[2020-07-28 03:18] yanjunnf commented on #3433
问一下，咱们这边有React环境配置和编译步骤吗？

[2020-07-28 03:20] zongtanghu commented on #3433
@ljhrot 你可以提一个pr来修复下这个前端问题吗？

[2020-07-28 03:38] ljhrot commented on #3433
@zongtanghu 我给 #3103 提个 PR，也会修复这个的

[2020-07-28 03:39] jguangyou commented on #3438
it has no full gc，I think the jvm config has no problem too，please help me！！I cant find the problem，I have no choice

   MinHeapFreeRatio         = 0
   MaxHeapFreeRatio         = 100
   MaxHeapSize              = 1073741824 (1024.0MB)
   NewSize                  = 536870912 (512.0MB)
   MaxNewSize               = 536870912 (512.0MB)
   OldSize                  = 536870912 (512.0MB)
   NewRatio

[2020-07-28 03:40] ljhrot commented on #3433
@yanjunnf 你可以看看这个 [README](https://github.com/alibaba/nacos/blob/develop/console/src/main/resources/static/console-fe/README.md)

[2020-07-28 05:37] yanjunnf commented on #3433
看到了，多谢。

[2020-07-28 05:59] zongtanghu commented on #2859
This issue has already been finished, except for naming event dispatcher.So I will close this issue, and reopen an other issue to follow up naming event dispatch replacement.

[2020-07-28 05:59] #2859 closed

[2020-07-28 07:25] GitHub42096 opened #3457 "nacos1.2.1 use 'nacos.core.auth.enabled=true' ，The Nacos client cannot dynamically refresh the configuration"
**Describe the bug**

I use nacos1.2.1 ,make property which is 'nacos.core.auth.enabled' with true, And I  use nacos client to connet my nacos server, I operate the configuration interface，But nacos client can't receive The new configuration and the value of the Java configuration bean was not updated

使用1.2.1的nacos版本， 将该配置nacos.core.auth.enabled开启，客户端报403，覆盖源码中的ClientWorker类，去在连接的时候传入用户名、密码后，能正常启

[2020-07-28 07:54] mrKyleWang commented on #3426
遇到了同样的问题，新增配置后，控制台配置列表可以看到，但ConfigCacheService里的CACHE没有相应的配置，Java应用Nacos客户端无法读取

[2020-07-28 08:21] mumuyuanbao opened #3458 "nacos服务端升级到1.3.1一直打印error日志"
nacos-server升级到1.3.1
client也升级到1.3.1
配置的集群连接之后，一直打印 error日志
服务已经注册上了，并且能够正常调用
2020-07-28 16:09:58.406 ERROR [shop-order-application,,,] 1 --- [.naming.updater] com.alibaba.nacos.client.naming          : [NA] failed to request
java.net.UnknownHostException: ﻿ip
	at java.net.InetAddress.getAllByName0(Unknown Source)
	at java.net.InetAddress.getAllByName(Unknown Source)
	at java.net.InetAddress.getAl

[2020-07-28 08:31] mumuyuanbao commented on #3458
次次都是日志惹的祸，毛病

[2020-07-28 08:31] keanu9527 opened #3459 "NacosConfigService在获取对应的Config根据返回内容自动判断config类型"
**Is your feature request related to a problem? Please describe.**
使用nacos作为配置中心时，要求dataid带上文件扩展名。然后事实上，在配置时候，我可以动态的更改文件的类型，比如从apollo将demo.propertis迁移到nacos中，在运行一段时间之后，为了更好的阅读性，将propertis更改为yml文件，这时，客户端需要做同步的更改，然后这时客户端的改动完全是不必要的，在NacosConfigService.getConfigInner内部，可以看到，nacos返回的数组[1]就是文件扩展的一部分，如果能把扩展也暴露给客户端，客户端就可以自动选择适合的parser。而且，dataid添加时候选择了类型，在名字上面再加一个类型，着实有些别扭。

[2020-07-28 09:11] #3325 closed

[2020-07-28 09:28] Sunw730 opened #3460 "Nacos keep making requests."
**Describe the bug**
Hello, I used nacos in my project, but when I modified `extension-configs` configuration, I found a strange problem:

1. configuration one: `dataId=db-demo.yml&group=COMPONENT`
[code]
2. configuration two: `dataId=db.demo.yml&group=DEFAULT_GROUP`
[code]
3. configuration three: `dataId=db.demo.yml&group=COMPONENT`
[code]

Here are three configurations for testing.

The test res

[2020-07-28 09:59] weinianta opened #3461 "Nacos debug连接信息日志刷屏"
如题，升级到1.3.1之后，nacos的连接信息一直刷屏，导致我正常开发的debug日志找起来异常困难

![image](https://user-images.githubusercontent.com/13379708/88651204-01473000-d0fc-11ea-8a62-3acea5a8bfb9.png)

建议给增加一个开关，或者配置。能把这些日志统一规整到一个包下。

目前项目使用的log4j2作为日志框架，之前1.3.0的刚排除掉，升级到1.3.1又来

[2020-07-28 10:01] weinianta commented on #3461
希望作者在下个版本处理下，增加日志配置的开关，或者统一输出样式，能使用log4j2直接排除掉的。

区分开正常的连接日志，实时属性刷新日志，报错日志，其他的这种无用日志可以直接不输出了。

[2020-07-28 10:09] weinianta commented on #3461
目前我这样处理了

![image](https://user-images.githubusercontent.com/13379708/88652501-83842400-d0fd-11ea-846b-b7f67fdb05b3.png)

[2020-07-28 10:26] ToujoursTeam opened #3462 "1.3.1客户端不能创建命名空间"
Request URL: http://127.0.0.1:8848/nacos/v1/console/namespaces

exception:
caused: Required String parameter 'customNamespaceId' is not present;

但是1.1.4客户端可以正常创建

[2020-07-28 10:41] coolbeevip opened #3463 "NACOS CLIENT 连接失败导致应用启动失败后无法正常退出"
使用版本

* spring-cloud-starter-alibaba-nacos-config 2.2.1
* spring-cloud-starter-alibaba-nacos-discovery 2.2.1

步骤如下

1. 先启动 A 服务（spring cloud 框架）
2. A 服务出现连接 NACOS 失败，并重试的日志
3. 启动 NACOS
4. 观察 A 服务不再提示连接 NACOS 重试后，NACOS 中可以看到 A 服务已经注册
5. 此时 A 服务日志不再变化，并且没有后续启动成功的日志（此时日志中没有正常启动 A 服务时的启动成功日志 `Started Application in 7.619 seconds (JVM running for 8.186)`）

NACOS 服务正常时启动 A 服务的日志如下

[code]

A 服务先与 NACOS

[2020-07-28 10:49] coolbeevip commented on #3463
异常部分的日志已经显示

[code]

但是好像 `[com.alibaba.nacos.naming.beat.sender] ` 线程阻碍了应用的退出

[2020-07-28 12:44] KomachiSion commented on #3457
If modified source codes and caused problem, we can't help you, because we do not how you changed.

For the first question, I recommend you used new issue temporary to describe. Which will help other find out the problem.

[2020-07-28 12:46] KomachiSion commented on #3458
I will be fixed in 1.3.2, please rollback client to 1.3.0 use first.

[2020-07-28 12:49] KomachiSion commented on #3458
BTW， the error information is unknown host, which means the host may be some problem.

[2020-07-28 12:54] KomachiSion commented on #3460
which version of service you used?

[2020-07-28 12:57] KomachiSion commented on #3461
The debug log is print by apache http. We will rollback to use JDK http in 1.3.2

[2020-07-28 12:57] #3461 closed

[2020-07-28 12:59] KomachiSion commented on #3462
I test in nacos demo console, It can work. Maybe you need to clean the browser's cache, because `customNamespaceId` is added in 1.2, If your js file is old cached, will casue this problem.

[2020-07-28 13:01] Sunw730 commented on #3460
nacos-client: 1.2.1

Is that what you're asking?

[2020-07-28 13:12] Sunw730 commented on #3460
**I made a mistake.
The configuration 1 and configuration 2 both have the same problems. The reason why they were not found before is that there is no corresponding configuration in nacos**

[2020-07-28 13:31] zongtanghu commented on #1839
Can you fix this issue? @wangweizZZ

[2020-07-28 13:41] Sunw730 commented on #3460
nacos/nacos-server:latest

[2020-07-28 13:42] binke-wang opened #3464 "nacos 1.1.4版本grafana 监控qps值，每过一段时间突然彪高"
![1595937968(1)](https://user-images.githubusercontent.com/68905977/88663212-cb12ac00-d10d-11ea-8fb4-499ec4d65eb3.jpg)

![image](https://user-images.githubusercontent.com/68905977/88663924-e16d3780-d10e-11ea-8986-c721f3d0271a.png)
![image](https://user-images.githubusercontent.com/68905977/88663953-ea5e0900-d10e-11ea-9e20-584ce9c8f683.png)
![image](https://user-images.githubusercontent.com/6890597

[2020-07-28 14:53] zongtanghu commented on #3103
It's yours. @ljhrot

[2020-07-28 14:56] ljhrot commented on #3103
@zongtanghu Ok

[2020-07-28 14:56] zongtanghu commented on #3103
Okay, thanks your contribution.

[2020-07-29 01:02] KomachiSion commented on #3464
这个飙高值似乎很不正常，可以尝试去掉rate算子，看一下原始数据是不是那时候的确有极大的变化。有可能是promethus算子的问题。

[2020-07-29 01:04] KomachiSion commented on #3464
如果打开了accesslog， 可以去日志里核对一下，当时是不是的确有那么多的请求。如果没有打开，建议打开一下，然后排查下。

[2020-07-29 01:07] KomachiSion commented on #3460
So, Have the problem solved?

[2020-07-29 01:14] Sunw730 commented on #3460
The problem is still there, but it can be fixed with switching another namespace, which only happens in namespace `public`.

[2020-07-29 01:19] wangweizZZ commented on #1839
ok，i will fix it

[2020-07-29 01:35] xiaozhongliu commented on #3264
Resolved. Find the clue by debugging source code of nacos server.

[2020-07-29 01:35] #3264 closed

[2020-07-29 01:42] GitHub42096 commented on #3457
![image](https://user-images.githubusercontent.com/34017916/88746347-ebc71a00-d17e-11ea-9eb7-5e9cb1097dd3.png)

源码我只加入了一行代码，只是为了跳过403无权限，因为你们现在不支持传入username和password，其他并没有修改过。

[2020-07-29 01:50] KomachiSion commented on #3438
but i can't reproduce your problem, our demo console is running in standalone mode, and still work. No problem.

You can login the machine or container of nacos server, and curl localhost to have a try.

[2020-07-29 02:05] yyt6200 opened #3465 "Nacos 1.2.1 版本.几个问题汇总"
Nacos环境：110节点 111节点 112节点 三台虚拟机组成集群
服务运行环境：Swarm集群
-----------------------------------------------------------------------------------------------------------------------------------------
问题1：
Swarm中已经退出的实例，在Nacos后台上仍然在线。见图1
![节点错误](https://user-images.githubusercontent.com/44914868/88747249-f97d9f00-d180-11ea-9964-ff8e8a281fac.png)
这边有个情况需要说明，110节点的Nacos此时不在集群的节点列表中，可见图2。奇怪的问题就是，110这个节点在服务器上看运行状

[2020-07-29 02:10] bxxfighting opened #3466 "调用OpenApi下线服务实例偶尔不成功"
**调用OpenApi下线服务实例未成功**
我通过ansible部署java程序时，先调用了nacos的下线服务实例接口，
然后再调用当前服务实例列表接口判断对应服务实例是否下线。
有时候会出现，下线接口通过后，再调用服务实例列表时，这个服务器还在列表中，并且enabled=true
这个现象一共遇到过两次。

备注：所有接口调用都有不成功重试功能，两秒一次，重度60次。

下线接口示例：
接口：/nacos/v1/ns/instance
参数：enabled=false
返回值判断：http状态码为200，并且返回内容中包含ok。

列表接口示例：
接口：/nacos/v1/ns/instance/list
参数：
返回值判断：http状态码为200，并且判断当前服务器IP及端口号

[2020-07-29 02:10] bxxfighting commented on #3466
使用nacos版本：1.1.3

[2020-07-29 02:29] horizonzy commented on #3465
@chuntaojun 春少看看呢

[2020-07-29 02:29] ToujoursTeam commented on #3462
thank! I cleaned up the browser cache and now it works

[2020-07-29 02:29] #3462 closed

[2020-07-29 02:59] yanlinly commented on #273
感谢反馈，已更新！

[2020-07-29 03:21] KomachiSion commented on #3465
之前的issue已经回复过多次了，您提供的这些信息都是现象问题，我们复现不了，如果需要排查，复现时到naming-server等日志中， 查看信息，并把信息贴出来。否则没人能分析。

另外Swarm集群和nacos是无关的，对nacos而言就是机器环境，如果是swarm集群导致的环境问题，我们复现不出来就很正常了

[2020-07-29 03:23] KomachiSion commented on #3422
duplicate with #3465

[2020-07-29 03:23] #3422 closed

[2020-07-29 03:24] yyt6200 commented on #3465
目前的情况来看不太像是Swarm那边的问题，是Nacos节点不正常工作导致的。每次服务不及时下线都有Nacos节点不正常工作的现象存在。下面我贴下日志信息，麻烦大佬帮忙分析下

[2020-07-29 03:26] KomachiSion commented on #3466
出现的时候，查下日志，是否这个instance确实做了变动，并且同步到所有节点了。
日志应该在naming-server、naming-distro中

[2020-07-29 03:26] yyt6200 commented on #3465
[naming-server.log](https://github.com/alibaba/nacos/files/4992357/naming-server.log)
这个是110节点的nameing-server.log文件。我是在27号发现又有服务未下线的，但是110的日志只输出到24号。

[2020-07-29 03:27] yyt6200 commented on #3465
[naming-server.log](https://github.com/alibaba/nacos/files/4992366/naming-server.log)
这个是111节点的nameing-server.log文件。里面输出的是27日的日志信息。

[2020-07-29 03:30] yyt6200 commented on #3465
发生这次问题的主要原因还是110节点挂了，但在110服务器上查看Nacos的运行状态还是running状态。
110节点重启后，所有问题都消失了。还需要哪些日志分析麻烦大佬再讲下，我这边尽量提供

[2020-07-29 03:49] juntianfuren opened #3468 "dubbo.registry.address配置不生效一直报错 java.lang.IllegalStateException: failed to req API:/nacos/v1/ns/instance after all servers([localhost:8848]) tried: failed to req API:localhost:8848/nacos/v1/ns/instance. code:500 msg: java.net.ConnectException: Connection refused: connect"
一直报错 java.lang.IllegalStateException: failed to req API:/nacos/v1/ns/instance after all servers([localhost:8848]) tried: failed to req API:localhost:8848/nacos/v1/ns/instance. code:500 msg: java.net.ConnectException: Connection refused: connect

我把dubbo.registry.address注释或者配置成其他的参数，都还是显示这一个错误。

引入依赖的环境
spring.cloud                           Hoxton.SR1
pring.cloud.alibaba                2.2.0.RELEA

[2020-07-29 03:59] KomachiSion commented on #3465
110节点24可能已经出现异常
查一下111节点在24日是否有把110节点从健康实例中移除

[2020-07-29 04:01] KomachiSion commented on #3465
另外110节点是进程没了吗？111节点调用110的请求我看都是拒绝连接

[2020-07-29 04:03] KomachiSion commented on #3468
Please change your issue title make other search friendly, and please edit your issue by using issue template to describe your problem.
Otherwise no one can help you.

[2020-07-29 04:04] KomachiSion commented on #3468
issue template:

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Deskto

[2020-07-29 04:11] yyt6200 commented on #3465
---》查一下111节点在24日是否有把110节点从健康实例中移除

应该查看哪个日志文件？

110节点进程在的，您看一楼的图2 服务还是running的

[2020-07-29 04:34] bxxfighting commented on #3466
我同时发布80台机器，每一台机器都会根据自己的IP去调用下线的接口，只有一台IP为x.x.x.104的机器没有下线成功。
我这里是三台机器组成的集群，三台上我都查看了，naming-server.log中，确实没有那台服务器enabled:false的同步记录。其它机器都是有的。

[2020-07-29 05:10] #3366 closed

[2020-07-29 05:10] #3314 closed

[2020-07-29 05:17] KomachiSion commented on #3465
从图上看，这个节点已经被移除了，虽然在运行（我没有这么启动过，不知道是否确实可行）

日志文件naming-server.log

[2020-07-29 05:17] KomachiSion commented on #3465
建议查看一下进程是否存在，不要通过这种服务查询来看，以及本地机器curl一下试试 是不是真的以及无法提供服务了

[2020-07-29 07:33] horizonzy commented on #3468
make sure the nacos server is started.it looks like the port 8848 is not listen.

[2020-07-29 08:53] #2810 closed

[2020-07-29 09:02] KomachiSion commented on #3466
有打开access_log吗？ 打开的话检索一下，看下是否nacos有收到这个机器下线的请求

[2020-07-29 09:10] KomachiSion commented on #3457
@GitHub42096 see article to learn how to add username password
https://nacos.io/en-us/blog/nacos%201.2.0%20guide.html

[2020-07-29 09:25] bxxfighting commented on #3466
我看了一下，运维在配置的时候，没有打开这个日志，所以看不到记录。
但是我感觉这个应该可以排除，因为在调用下线接口时，是对返回值进行了判断的。
只有http状态码是200，并且返回内容中有ok的情况下，才算是请求成功，否则就会重复调用多次

[2020-07-29 09:46] meiliangdeng opened #3471 "the service checksum change frequently although all instances of the service have not changed healthy with heartbeat normal work."
**Describe the bug**
the service checksum change frequently although all instances of the service have not changed healthy with heartbeat normal work.
The following example is the information comparison of two change instances(instance info not change but the checksum value have change：'499925ce37e7aa744c154540072d8b27' to 'b96526021f21e2363ab2ee152f4b2d55'):

[code]
**Expected behavior**
if the s

[2020-07-29 10:05] binke-wang commented on #3464
原因已找到：
           我们监控的节点不是单个实例，改成监控集群单个实例看着就正常了，跟Nginx也对得上。

[2020-07-29 10:05] #3464 closed

[2020-07-29 10:45] roadToit commented on #3397
bash startup.sh -m standalone

[2020-07-29 12:16] zhifei-BF commented on #2206
更新client和server到1.2.0，问题已经解决

`<dependencyManagement>
       <dependency>
            <groupId>com.alibaba.cloud</groupId>
            <artifactId>spring-cloud-alibaba-dependencies</artifactId>
            <version>2.2.0.RELEASE</version>
            <type>pom</type>
            <scope>import</scope>
            <exclusions>
                <exclusion>
                    <groupId>com.alibaba.naco

[2020-07-29 13:18] ibc789 commented on #2732
遇到同样问题，有没有解决的，告知下，谢谢

[2020-07-29 13:22] SkyXj opened #3472 "failed to send beat,2.2.1 nacos discovery,Param 'serviceName' is required.;"
**Describe the bug**
[CLIENT-BEAT] failed to send beat: {"port":9200,"ip":"192.168.5.63","weight":1.0,"cluster":"DEFAULT","metadata":{"preserved.register.source":"SPRING_CLOUD"},"scheduled":false,"period":5000,"stopped":false}, code: 400, msg: failed to req API:/nacos/v1/ns/instance/beat after all servers([127.0.0.1:8848]) tried: caused: Param 'serviceName' is required.;
日志一直报错，failed to send beat

[2020-07-30 00:41] CHNWXY commented on #3426
我这边升级到1.3.1 之后，@NacosInject直接不行了，ConfigService一直是null

[2020-07-30 00:52] KomachiSion commented on #3471
Please use issue template to describe your problem, otherwise it may be lark some important information.

[2020-07-30 00:52] KomachiSion commented on #3471
template:

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (ple

[2020-07-30 01:14] sanxun0325 commented on #3406
@lucianlv I have tried many times but could not repeat this problem. If it is convenient, please add dingidng to communicate
dingding:wg46mjc

[2020-07-30 01:15] KomachiSion commented on #3472
I check the source code again. nacos discovery 2.2.1 use nacos-client1.2.1 default, and in 1.2.1 client, the beatInfo is init in `NacosNamingService`, and set serviceName into beatinfo in there.

So can you debug and check out why the serviceName is empty?

[2020-07-30 01:22] #3408 closed

[2020-07-30 01:22] KomachiSion commented on #3408
No more response from author, close issue

[2020-07-30 01:37] KomachiSion commented on #3460
I think it may be the configuration problem, not namespace problem.

@chuntaojun @TsingLiang Can you help to check the configuration whether right?

[2020-07-30 02:14] guanshaochi commented on #3433
1.3.0发现这个问题，更新1.3.1问题依旧，暂时是通过发布为其他类型配置文件再编辑修改为properties类型去规避的

[2020-07-30 03:32] jguangyou opened #3473 "nacos1.3.1+seata1.2.0+dubbo2.7.6 too many open files"
运行一段时间nacos出现” too many open files“错误，查看8848端口，出现超级多的 COLSE-WAIT，占用了太多的端口资源没有释放。这个时候nacos出现了“植物人”情况，除了进程存在，基本没有任何反应。nacos1.2.1也出现这种显现，但是没有报错。

[2020-07-30 03:59] chuntaojun commented on #3460
nacos-server version？

[2020-07-30 04:00] chuntaojun commented on #3460
贴出你全部的bootstrap 配置信息，不要只给一部分

[2020-07-30 04:14] meiliangdeng commented on #3471
**Describe the bug**
the service checksum change frequently although all instances of the service have not changed healthy with heartbeat normal work.
The following example is the information comparison of two change instances(instance info not change but the checksum value have change：'499925ce37e7aa744c154540072d8b27' to 'b96526021f21e2363ab2ee152f4b2d55'):

[code]
**Expected behavior**
if the s

[2020-07-30 05:30] SkyXj commented on #3472
Thank you for your answer. In fact, my Nacos client is 1.3.0. When I change it to 1.2.1, the error disappears. But I can't find beattask, so only 1.3.0 has beat monitoring？

[2020-07-30 05:33] thkdog commented on #273
群已满！

[2020-07-30 05:46] ninyjun opened #3474 "希望支持多注册中心， 一个服务注册到两个注册中心， 使用的时候也能需要支持多个注册中心的服务发现"
希望支持多注册中心， 一个服务注册到两个注册中心， 使用的时候也能需要支持多个注册中心的服务发现
（使用场景是：有的服务需要对其它子系统暴露）

[2020-07-30 05:56] majianwei0705 opened #3475 "Excuse me, what's the difference between param defaultCheckPort and defCkport ?"
**Describe the bug**
在web端，我更改了集群配置里面的检查端口，返回了ok，但是再次打开页面的话，端口依旧是80，查看data文件，更改改到了defCkport 参数中，但是web端读取的端口看起来是 defaultCheckPort。请问是否是个bug？

**Expected behavior**
是否参数发生过修改，还是我用法有误？ 由于我们的环境非java相关，所以请问，如果是bug，是否会修复这个问题。

**Desktop (please complete the following information):**
 - OS: [Centos]
 - Version [nacos-server 1.3.1, client: open api]
 - Module [naming/config]
 - SDK [open api]

[2020-07-30 06:00] yyt6200 commented on #3465
这个已经无法求证了，只能在下次发生问题的时候再次验证。下面我贴下111节点24号的日志，麻烦大佬帮忙分析下，日志里有对110节点time out的日志的。

[naming-server.2020-07-24.0.log](https://github.com/alibaba/nacos/files/4999094/naming-server.2020-07-24.0.log)

最后我还是想要强调下，不管110节点是否假死，进程是否在。在110节点手动重启后，一切都恢复正常了。
1：已经退出的服务实例下线了
2：110节点后台可以访问了，集群里也出现了110节点。

[2020-07-30 07:16] shenmou98 opened #3476 "Hope nacos could add feature that manage configuration via files or git (希望nacos可以增加通过文件或者git来管理配置项的功能)"
**Is your feature request related to a problem? Please describe.**

English:  Now nacos seems could only manage configuration via UI, this is very hard to maintain when have many system.
 Just hope nacos could add feature for config management like "spring config", which maintain configuration via git.

Chinese:  nacos上管理配置项只能通过图形界面吗，这在系统多的时候不利于维护。有办法像 spring config 那样文件化或git化的方式么，这会非常利于更新、维护、及查看历

[2020-07-30 07:18] shenmou98 opened #3477 "如何加入nacos 邮件列表（官方文档指向了如何加入dubbo邮件列表）"
官方这里给的链接指向到了如何加入dubbo的邮件列表..（https://nacos.io/zh-cn/docs/community.html ）

[2020-07-30 07:29] chuntaojun commented on #3474
请将该问题提至对应的微服务框架，nacos是注册与配置管理中心，不存在支持多注册中心的场景

[2020-07-30 08:33] zuonidelaowang opened #3479 "failed to create cache dir"
When starting the jar in the docker container, not used  root user,
Cannot create cache directory or file

nacos-client
1.3.1

java.io.IOException: Permission denied
        at java.io.UnixFileSystem.createFileExclusively(Native Method)
        at java.io.File.createNewFile(File.java:1012)
        at com.alibaba.nacos.client.naming.cache.DiskCache.write(DiskCache.java:59)
        at com.alibaba.na

[2020-07-30 10:45] gfgfggf1988 opened #3482 "Nacos注册应用的映射关系"
想问一下，有以下这样的需求，nacos的服务维护是否可以支持。
存在应用A，希望在服务列表中可以通过API注册成不同名字的服务。如A->B或A->C。
当通过namineService获取应用实例的时候，无论是从B还是C都能映射到真实的A应用上

[2020-07-30 11:46] horizonzy commented on #3479
NacosNamingService need local cache file to persist instanceInfo.and the default dir is user.home/nacos/naming/{namespace}/xxx
two way to resolve it:
1.make sure the program's run permission can create file at the default dir
2.add the system property (key=com.alibaba.nacos.naming.cache.dir),the value is your custom dir,you just set the dir where you have create permission

[2020-07-30 11:48] horizonzy commented on #3482
能描述的更清楚一点吗。没有理解啥意思

[2020-07-30 12:18] yanlinly commented on #273
以扩容到5000人的群，请再试一下，感谢反馈！

[2020-07-30 13:06] KomachiSion commented on #3473
能统计一下数量吗？查一下是不是句柄是不是都是连接句柄，还有查一下系统最大句柄数。

[2020-07-30 13:07] #3474 closed

[2020-07-30 13:09] KomachiSion commented on #3475
see #3005 , is it the same problem?

[2020-07-30 13:09] zongtanghu commented on #3103
@ljhrot  any progress?

[2020-07-30 13:41] KomachiSion commented on #3477
我点进去确实是nacos的邮件列表啊，你是说邮件列表里的内容是dubbo吗？

[code]

[2020-07-30 13:43] KomachiSion commented on #3479
`Permission denied` the error is very obvious. Solution just like @horizonzy said.

[2020-07-31 01:30] shenmou98 commented on #3477
你好， 我说的是“如何加入（订阅）nacos邮件列表”，截图中“参考手册”指向了如何加入 dubbo邮件列表
![image](https://user-images.githubusercontent.com/10502050/88990345-4d6abe00-d310-11ea-8073-4b4df9381afc.png)

[2020-07-31 01:46] kocall commented on #2735
有解决吗，我也遇到这个问题

[2020-07-31 02:25] kocall commented on #1597
spring cloud 怎么解决呢

[2020-07-31 02:31] yyt6200 commented on #3465
@KomachiSion 大佬 麻烦再帮忙分析下呢

[2020-07-31 03:23] forevercjh commented on #273
组织：上海纽酷信息科技有限公司
地点：中国上海
联系方式：cuijh1987@163.com
场景：服务发现和配置管理
服务框架：SpringCloud, K8s
![image](https://user-images.githubusercontent.com/8346331/88996593-36cc6300-d320-11ea-8adf-0f9d6e3c5e81.png)

[2020-07-31 03:24] fireflyhoo opened #3484 "How to enhance auth manager"
啥时候能把权限管理做好一点啊, 参见阿波罗的配置中心, 感觉现在的配置中心权限控制做得比较差啊, 不能不同的应用配置

[2020-07-31 05:42] winsoar opened #3485 "1.3.1 BUG “Cannot get LocalHost InetAddress, please check your network!”"
**启动报错**
“Cannot get LocalHost InetAddress, please check your network!”

大概原因是这段代码获取 Host 失败导致的
[code]

**手动配置 worker-id 后，暂时解决**
`nacos.core.snowflake.worker-id=1`

 - OS: Centos
 - Version nacos-server 1.3.1

[2020-07-31 05:45] xiazhenyou commented on #3193
感谢大家回答。

[2020-07-31 05:45] #3193 closed

[2020-07-31 06:14] horizonzy opened #3486 "ControllerMethodsCache.getMethod() will mismatch sometimes"
**Describe the bug**
ControllerMethodsCache.getMethod() will mismatch when the request's path is same,but the param is not same.
such as:
@GetMapping
com.alibaba.nacos.config.server.controller.ConfigController#searchConfig

@GetMapping(params = "search=accurate")
com.alibaba.nacos.config.server.controller.ConfigController#getConfig

@GetMapping(params = "search=blur")
com.alibaba.nacos.config.serv

[2020-07-31 06:49] forevercjh opened #3488 "1.3.0版本----权限控制模块仅能创建用户，创建角色和权限并绑定新用户后，并不能按预设权限进行控制，依然能看到所有命名空间，并能操作"
![image](https://user-images.githubusercontent.com/8346331/89008167-c41db080-d33c-11ea-829a-09495a8a79ee.png)

![image](https://user-images.githubusercontent.com/8346331/89008202-d861ad80-d33c-11ea-832d-8f23d8c64292.png)

![image](https://user-images.githubusercontent.com/8346331/89008241-edd6d780-d33c-11ea-8fdf-4c82fc6c3f86.png)

[2020-07-31 06:53] #3091 closed

[2020-07-31 06:55] chuntaojun commented on #3485
InetAddress.getLocalHost(); 这段代码在你的机器运行一下

[2020-07-31 08:16] haozi000005 opened #3490 "注册中心注册事件拓展触发"
希望nacos可以支持注册事件的触发的时候提供扩展代码提供回调功能，比如：
房间分配的逻辑写在注册中心中，当A进程注册的时候，可以得到分配的房间信息，希望可以提供拓展的方式来进行注入此功能。谢谢

[2020-07-31 08:43] lizhichao999 opened #3491 "failed to update serviceName"
2020-07-31 16:05:11,965 110959467 [com.alibaba.nacos.client.naming.updater] ERROR c.a.n.c.naming.core.HostReactor[] - [NA] failed to update serviceName: DEFAULT_GROUP@@xxx
java.lang.IllegalArgumentException: bound must be positive
	at java.util.Random.nextInt(Random.java:388)
	at com.alibaba.nacos.client.naming.net.NamingProxy.reqAPI(NamingProxy.java:476)
	at com.alibaba.nacos.client.naming.net.Na

[2020-07-31 08:56] zuonidelaowang commented on #3479
I found the problem.
app run in docker, not use root user starts jar

`System.getProperties().getProperty("user.home") return "?"`

the user.home directory was not found.
so nacos log write error

Didn't find the reason, why did user.home return "?"

[2020-07-31 09:29] #3491 closed

[2020-07-31 09:30] lizhichao999 commented on #3491
修改源码导致

[2020-07-31 10:09] 16boke opened #3492 "Improvement of configuration list"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)
First, you can add a fuzzy query to the dataid in the configuration list, and only input part of the data ID content. Second, whether the data ID input box can also add delectable attributes.

第一，在配置列表中能不能添加对DataID的模糊查询，只输入部分data id内容。第二，Data ID输入框能不能也增加可删除属性。

### Describe what you

[2020-07-31 11:03] KomachiSion commented on #3484
欢迎共建啊

[2020-07-31 11:04] KomachiSion commented on #3485
这个地方应该优化一下，应该把里面的异常内容也抛出去。

[2020-07-31 11:09] KomachiSion commented on #3488
please check `nacos.core.auth.enabled=true`

[2020-07-31 11:13] KomachiSion commented on #3490
没有看懂，现在的subscribe功能不就是触发服务的实例发生了变更的吗？

[2020-07-31 13:25] wxianfeng opened #3493 "nacos SpringMVC placeHolder 获取不到值吗 ?"
[code]

传统的 SpringMVC  项目，placeHolder @NacosProperties 不能像 spring 自带的 `@Value`  获取到值，请问支持吗，如何配置?

谢谢

nacos 版本: 0.3.6
SpringMvc 版本: 4.3.20.RELEASE

[2020-07-31 17:07] ljhrot commented on #3485
@i will solve it@

[2020-08-01 03:55] wekin opened #3494 "为什么我的maven找不到nacos-discovery2.2.1版本"
我的项目配置spring-cloud-starter-alibaba-nacos-discovery 2.2.1后一直报红,日志也没有打印成功注册到nacos,
切换到0.2.2后成功注册到nacos,但是spring-gateway根本无法导航!!!!!

[2020-08-01 06:49] 16boke opened #3496 "一个2.5M的配置文件publishConfig时报错"
今天推送了一个2.5M的json配置文件到nacos，但是失败了，响应是：java.io.IOException: Error writing to server。
具体位置在是com.alibaba.nacos.client.config.http.ServerHttpAgent#httpPost方法中，被IO异常捕获了：
catch (IOException ioe) {
                LOGGER.error("[NACOS IOException httpPost] currentServerAddr: " + currentServerAddr, ioe);
                throw ioe;
            }
确认json文件格式没有问题

[2020-08-01 07:11] xulingfeng931027 opened #3497 "监听配置变化时失败,异常信息如下"
![image](https://user-images.githubusercontent.com/30265955/89096410-23e18d80-d409-11ea-8034-fb04adfce269.png)
java.lang.IllegalArgumentException: ExistingValue must be an instance of org.mybatis.spring.SqlSessionFactoryBean
首先异常信息没有打出来,debug到对应类下才看到.配置热部署功能失效,必须要重启才能改配置了  client版本是1.2.1

[2020-08-01 07:11] xulingfeng931027 commented on #3497
ERROR [wsf-user,,,] 13176 --- [172.22.0.2_8848] com.alibaba.nacos.client.config.impl.CacheData : [fixed-172.22.0.2_8848] [notify-error] dataId=wsf-user.properties, group=DEFAULT_GROUP, md5=965c1f58ac1bcd25854655fd2cd185b5, listener=com.alibaba.cloud.nacos.refresh.NacosContextRefresher$1@498e3d72 tx=null

[2020-08-01 11:37] pengzhengfa opened #3498 "Optimization suggestions"
In the CP architecture, data persistence to disk consumes a lot of performance. When I read the MySQL source code, I think the bufferpool caching mechanism of MySQL can be used for reference to solve the performance problem of persistence to disk

[2020-08-01 17:04] #3471 closed

[2020-08-01 17:07] meiliangdeng opened #3499 "the service checksum change frequently although all instances of the service have not changed healthy with heartbeat normal work."
**Describe the bug**
the service checksum change frequently although all instances of the service have not changed healthy with heartbeat normal work.
The following example is the information comparison of two change instances(instance info not change but the checksum value have change：'499925ce37e7aa744c154540072d8b27' to 'b96526021f21e2363ab2ee152f4b2d55'):
[code]
**Expected behavior**
if the se

[2020-08-02 15:08] ljhrot commented on #3103
@ready to close@

[2020-08-02 16:30] shizhengxing commented on #2124
@nkorange
do you mean that every parameter injected through `Properties` may also support injecting through JVM -D arguments?And will has the higher priority by `JVM -D.`

[2020-08-02 16:32] ljhrot commented on #3397
@i will solve it@

[2020-08-02 16:34] shizhengxing commented on #3484
权限控制在试图进行企业级二次开发的时候，让人很郁闷，直接弃用了全部权限控制功能，自己搞了

[2020-08-02 16:38] ljhrot commented on #3397
@i will solve it@

[2020-08-03 00:58] KomachiSion commented on #3494
[code]

If your pom can't find it. Please change your maven remote repo and retry.

[2020-08-03 00:58] #3494 closed

[2020-08-03 00:59] KomachiSion commented on #3496
请按照issue模版进行说明，否则缺少信息无法帮您。

[2020-08-03 00:59] KomachiSion commented on #3496
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complet

[2020-08-03 01:04] KomachiSion commented on #3498
We have plan to replace naming's raft to Jraft, maybe that plan will solve this problem.

I will tag this issue as enhancement and keep it for few days. And do some discuss for community.

[2020-08-03 01:06] KomachiSion commented on #3499
Can you retry with 1.3.1 version?

[2020-08-03 01:14] #3485 closed

[2020-08-03 01:15] KomachiSion commented on #3484
@shizhengxing 欢迎贡献到社区里啊。

[2020-08-03 01:16] #3479 closed

[2020-08-03 01:16] KomachiSion commented on #3479
Please check your docker env set. It's not nacos' problem, close issue.

[2020-08-03 01:17] KomachiSion commented on #3477
因为操作步骤是一样的，所以只是个参考手册，只是把邮件地址换一下就行。

[2020-08-03 01:18] KomachiSion commented on #3477
当然如果您愿意帮我们贡献完整的操作手册我们非常欢迎。

[2020-08-03 01:18] #3477 closed

[2020-08-03 01:19] #3475 closed

[2020-08-03 01:20] KomachiSion commented on #3472
Can you upgrade to 1.3.1 and retry？

[2020-08-03 01:21] #3468 closed

[2020-08-03 01:25] KomachiSion commented on #3466
那可能是同步的问题了。而且要在高并发的场景下才会出现，我先标记一下。

[2020-08-03 01:29] #3457 closed

[2020-08-03 01:29] #3455 closed

[2020-08-03 01:44] #3453 closed

[2020-08-03 01:46] KomachiSion commented on #3446
No more response and change more than ** 7 days **, close issue.

[2020-08-03 01:46] #3446 closed

[2020-08-03 01:47] #3444 closed

[2020-08-03 01:48] KomachiSion commented on #3443
No more response from author, close issue.

[2020-08-03 01:48] #3443 closed

[2020-08-03 01:50] KomachiSion commented on #3436
We can't reproduce the problem, do not have enough information to judge it. And more than **7 days** no response. close it.

[2020-08-03 01:50] #3436 closed

[2020-08-03 01:52] KomachiSion commented on #3433
duplicate with #3103

[2020-08-03 01:52] #3433 closed

[2020-08-03 01:55] KomachiSion commented on #3429
可以试着更新一下spring-cloud-starter-alibaba的版本，我用2.2.1版本没有复现你的问题。

[2020-08-03 01:58] KomachiSion commented on #3424
部分场景（比如迁移升级等），同一个客户端需要双连注册中心，但是指定的时候如果指定为同一个，就冲突了。

[2020-08-03 01:58] benjamin555 commented on #1244
有进度了吗

[2020-08-03 01:59] KomachiSion commented on #3423
Have more information？ If no I will close issue，

[2020-08-03 02:00] yyt6200 commented on #3423
这个 issue 可以关闭了，但是#3465 麻烦跟进下啊。谢谢

[2020-08-03 02:02] KomachiSion commented on #3413
No more response from author, but we need more information.

[2020-08-03 02:02] #3413 closed

[2020-08-03 02:03] zongtanghu commented on #3498
If you have interested in this optimization feature,  you can paritcipate in it. @wangweizZZ

[2020-08-03 02:07] KomachiSion commented on #3316
No more discuss for this topic and we has no plan to implement it. I will close it first. Thanks for your contribution and advise.

[2020-08-03 02:07] #3316 closed

[2020-08-03 02:09] KomachiSion commented on #3154
It seems that the discuss has no more response, and the result is enhance in the future. I will close it first.

[2020-08-03 02:09] #3154 closed

[2020-08-03 02:18] KomachiSion commented on #3499
The checksum may be changed by many things, such as the services, clusters and instance, if you want to search, change the logback configuration to make naming-server.log as debug level. and search `service to json: ` key word to find what's the changes of checksum.

[2020-08-03 02:43] pengtenghui commented on #2902
请问这个问题到底要怎么解决呀，楼上都没有给出解决方案？

[2020-08-03 06:19] BobSimon commented on #3498
It's so cool

[2020-08-03 06:59] wangweizZZ commented on #3497
这个跟https://github.com/spring-cloud/spring-cloud-commons/issues/356 这个有关么 看着不像是nacos本身的问题

[2020-08-03 07:34] bigfox101 commented on #273
组织：校宝在线
地点：中国杭州
联系方式：rui.hu@xiaobao100.com
场景：配置管理
服务框架：SpringCloud /K8S /
使用规模：50个配置 + 50个服务
![校宝LOGO](https://user-images.githubusercontent.com/9317673/89157287-d9921500-d59e-11ea-808f-1ad746e8a1b9.png)

[2020-08-03 07:35] KomachiSion commented on #3458
After researching, It is caused by the spring-cloud covers nacos‘ log configuration, so that these log which should be printed to `naming.log` print to users log.

And it's hard to fix perfectly, because log(logback and log4j) context is static.

[2020-08-03 07:40] #1839 closed

[2020-08-03 07:42] #2968 closed

[2020-08-03 07:44] Maijh97 commented on #3492
@16boke 第一 : 配置列表中data ID支持模糊查询的。使用方式  data* 这种方式，后面跟随 “*” 符号
第二: Data ID输入框能不能也增加可删除属性，不太明白，这里增加可删除的属性是指什么？

[2020-08-03 08:10] xulingfeng931027 commented on #3497
thanks,我查了项目中  确实在某个factoryBean的声明上使用了@configurationProperties  去掉之后就可以了

[2020-08-03 08:10] #3497 closed

[2020-08-03 09:08] #3423 closed

[2020-08-03 09:15] KomachiSion commented on #3465
从日志来看，3台节点都非常不稳定，不停地在进行健康服务的变更， 最后甚至出现了111自己都把自己摘除了。

这里给出几种假设，需要您自己去验证一下：
1. JVM参数过低，导致几个节点不停在gc，从而导致请求不稳定，不停的在摘除，添加。
2. 网络非常不稳定，断断续续。

[2020-08-03 09:26] yyt6200 commented on #3465
您说的《不停地在进行健康服务的变更》，是注册到Nacos上的服务吗？如果是的话，这个正常的，这是我们这边的开发环境，每次提交代码到dev后，都会触发jenkins的自动构建发布，这时候就会导致服务注销重新注册了。
JVM参数我在下面贴下，麻烦大佬看下是否合理。
# JVM Configuration
#===========================================================================================
if [[ "${MODE}" == "standalone" ]]; then
    JAVA_OPT="${JAVA_OPT} -Xms512m -Xmx512m -Xmn256m"
    JAVA_OPT="${JAVA_OPT} -Dnacos.standalone=true"
else
    J

[2020-08-03 09:27] markofrain commented on #3421
@LittleM318 你很可能用了jasypt-spring-boot-starter，建议将此升级为3.0版本可以解决此问题

[2020-08-03 10:04] lidaoyang opened #3500 "Service List Page Increase the number of pages switching function is the same as the configuration management page"
The service list page defaults to 10 items per page. When the number of services exceeds 100, it is not conducive to service queries,The service list API supports page switching. You only need to implement this function on the page.

服务列表页默认每页是10条，当服务数超过100个后不利于服务的查询，看了服务列表API是支持页数切换的，只需要页面实现该功能就好了

[2020-08-03 10:10] lidaoyang opened #3501 "Add export all configurations of current namespace"
The maximum number of pages per page of the configuration management page is 30. When the total number of configurations is greater than 100, exporting "selection functions" requires multiple operations

配置管理页面每页最大页数是30个，当配置总数大于100时“选择导出”功能需要多次操作

[2020-08-03 10:25] gongmb commented on #3148
问题解决了嘛??

[2020-08-03 10:39] gongmb opened #3502 "[check-update] get changed dataId error, code: 403"
当修改nacos.core.auth.enabled=false时 可以注册也可以获取到配置管理的配置
当修改nacos.core.auth.enabled=true时 ,服务列表可以注册进来,但是配置管理面的配置获取不到
一直报[check-update] get changed dataId error, code: 403,项目中加了一下配置还是不行,有没有大佬遇到过类似的问题
spring.cloud.nacos.config.username=nacos
spring.cloud.nacos.config.password=nacos

版本
  <groupId>com.alibaba.cloud</groupId>
  <artifactId>spring-cloud-starter-alibaba-nacos-config</artifactId>
  <version>2

[2020-08-03 10:51] zzq1314zll commented on #3439
@i will solve it@

[2020-08-03 11:54] KomachiSion commented on #3502
@gongmb What's your nacos server version

[2020-08-03 11:55] KomachiSion commented on #3501
So the request is upper the max size per page, or add feature export all config?

[2020-08-03 11:59] KomachiSion commented on #3493
0.3.6 is too old. And no longer maintained. Can you upgrade to 1.3.1 and retry?

[2020-08-03 12:08] KomachiSion commented on #3465
不是，是nacos 服务节点一直在健康和非健康之间变化。

[2020-08-03 12:09] KomachiSion commented on #3465
关于JVM，可以直接看一下nacos/logs/nacos_gcxxx.log，进去看是否存在大量Full GC和CMS GC。 如果是的话，那应该就是jvm的问题了

[2020-08-03 13:24] lidaoyang commented on #3501
Both have the best

[2020-08-03 14:55] ljhrot commented on #3500
@KomachiSion  duplicate with #3439?

[2020-08-04 00:03] zongtanghu commented on #3439
Okay, it's yours. @zzq1314zll

[2020-08-04 01:45] gongmb commented on #3502
nacos 版本是1.2.1,而且发现nacos管理平台使用只读账号登录也可以进行配置的修改

[2020-08-04 01:47] yyt6200 commented on #3465
麻烦您帮忙看下110和111的日志文件，拷贝日期是27号（发现问题的时候，周一）
您说的Full GC和CMS GC我似乎没看到呢
[111-nacos_gc.log](https://github.com/alibaba/nacos/files/5019630/111-nacos_gc.log)
[110-nacos_gc.log](https://github.com/alibaba/nacos/files/5019629/110-nacos_gc.log)

[2020-08-04 02:02] mumuyuanbao commented on #3458
在远程调用或发现服务时失败，造成的日志打印。配置的服务地址Nacos不能清楚识别，是否考虑加入打印错误日志时，将无法连接的地址与服务通过日志显示。好排查服务问题

[2020-08-04 02:03] guyanzhao11 opened #3508 "nacos-server由1.3.0升级到1.3.1后数据库不兼容问题"
## Issue Description

当集群部署的时候，nacos-server由1.3.0升级到1.3.1 ，发现数据库驱动升级到了 mysql-connector-java-8.0.16.jar ，这会导致无法连接我的mysql服务器，mysql版本是5.7 。
nacos-server里面数据库的驱动包是硬编码在这个文件里面的
config/src/main/java/com/alibaba/nacos/config/server/service/datasource/ExternalDataSourceProperties.java

这会导致我必须重新安装新的数据库。

是否有兼容的配置，可以让我继续使用以前的数据库？

我的邮箱 guyanzhao@ruijie.com.cn
Type: *bug report* or *feature request*

### Des

[2020-08-04 02:03] lidaoyang commented on #3500
@ljhrot What I mean is that the service list also has the same functions as the configuration list. We recommend that you have a larger number of pages.
我说的是服务列表里面里也和配置列表一样的功能，建议页数大一点。

[2020-08-04 02:04] KomachiSion commented on #3501
From the performance considerations, we do not plan to support full export.
For the max size per page, it duplicate with #3439

[2020-08-04 02:04] #3501 closed

[2020-08-04 02:13] lidaoyang commented on #3501
@KomachiSion ok

[2020-08-04 02:23] qm0123 opened #3509 "The server address server mode cannot obtain the application.properties Variables in（ address.server.domain=xxx . xxx.com )"
**Describe the bug**
中文:服务端 address-server 模式无法获取从application.properties中的变量(address.server.domain=xxx.xxx.com)
英文:The server address server mode cannot obtain the application.properties Variables in（ address.server.domain=xxx . xxx.com )

**Expected behavior**
中文:可以从配置文件中获取到系统变量, 当前的方式是 系统变量和启动jvm中获取, 也应该支持从配置文件中获取. 并且增加文档描述
    获取配置的优先级:系统环境变量 -> 启动jvm(-D) -> properties
英文: the system variables

[2020-08-04 02:24] qm0123 commented on #3509
If this needs to be addressed,@i will solve it@

[2020-08-04 02:30] yanjunnf commented on #3484
我这边权限做了一定点定制，首先支持了公司的Ldap方式登录，然后每个用户默认能够看到public，同时只显示该用户有权限的namespace。

[2020-08-04 02:35] chuawei commented on #2328
多数据库支持，还在继续么？

[2020-08-04 02:55] yxh-china opened #3510 "在使用命令行参数(-Dserver.port = 9000)启动被nacos管理的服务客户端时,发现命令行参数没有生效"
**Describe the bug**
在使用命令行参数(-Dserver.port = 9000)启动被nacos管理的服务客户端时,发现命令行参数没有生效

**Expected behavior**
希望能提供配置可以选择远程配置不覆盖命令行参数，使命令行参数优先级为最高的
**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complete the following inf

[2020-08-04 03:02] zzq1314zll commented on #3510
一般都是配置中心的的propertySource 优先级>命令行的PropertySource>本地配置文件的PropertySource吧

[2020-08-04 03:11] zzq1314zll commented on #3454
@i will solve it@

[2020-08-04 03:17] KomachiSion commented on #3509
Welcome to contribute. Thanks

[2020-08-04 03:18] zzq1314zll opened #3513 "我们可以新增两个标签 <easy to implement ><easy to fix> 新手容易上手"
我们可以新增两个标签 <easy to implement ><easy to fix> 新手容易上手

we can add two labels <easy to implement ><easy to fix>  Easy for novices;

[2020-08-04 03:20] KomachiSion commented on #3509
@chuntaojun What‘s your design? Can it be set by users?

[2020-08-04 03:21] yxh-china commented on #3510
可是我配置中心的配置内容并不包含这个配置，我在用命令行启动时输入的参数还是被覆盖掉了，没有生效

[2020-08-04 03:23] zzq1314zll commented on #3510
可以把你的场景描述下吗，我尝试复现下问题

[2020-08-04 03:23] KomachiSion commented on #3513
We have `good first issue` to do this.

But we have no much time to judge for each issue whether they is  `good first issue` for now.

[2020-08-04 03:29] yxh-china commented on #3510
使用nacos作为配置中心和注册中心，在我的项目(配置中心不包含也不能包含端口配置)进行打包后，使用java -jar xxx.jar -Dserver.port=8000命令进行启动，
此时期望的项目启动端口应该是8000
但是启动后返现使用的端口还是SpringBoot默认的8080端口

[2020-08-04 03:34] zzq1314zll commented on #3510
抱歉我试着模拟出场景，但是并没有出现你说的问题呀

[2020-08-04 03:50] yxh-china commented on #3510
你的项目能够使用你命令行内配置的端口信息进行启动吗，我想着去尝试了spring.cloud.config.override-none、override-system-properties、allow-override进行配置，还是不能根据命令行指定的端口启动

[2020-08-04 03:51] yxh-china commented on #3510
我的<spring-cloud-alibaba.version>2.2.1.RELEASE</spring-cloud-alibaba.version>使用的是这个版本，spring-cloud-starter-alibaba-nacos-config也是2.2.1.RELEASE

[2020-08-04 03:54] zzq1314zll commented on #3510
@yxh-china  把你操作的步骤，一步一步截图出来看看呗

[2020-08-04 03:58] paderlol commented on #3508
请问具体错误日志是什么？我们之前测试过，没有问题的

[2020-08-04 04:26] paderlol commented on #3508
Mysql8的驱动的是向下兼容的,所以不会有兼容问题,你可以看下Nacos Docker的例子[standalone-mysql-5.7](https://github.com/nacos-group/nacos-docker/blob/master/example/standalone-mysql-5.7.yaml)

或者如果你使用IDEA可以尝试用在那里面用mysql8驱动连接数据库也是没问题的
![image](https://user-images.githubusercontent.com/7919984/89252918-b5414180-d64d-11ea-82fc-df4491c5baa4.png)

[2020-08-04 05:27] fengdanliu opened #3514 "if any guide provid"
**Is your feature request related to a problem? Please describe.**
Recently Tomcat reported a serious bug CVE-2020-11996. A specially crafted sequence of HTTP/2 requests sent to Apache Tomcat 10.0.0-M1 to 10.0.0-M5, 9.0.0.M1 to 9.0.35 and 8.5.0 to 8.5.55 could trigger high CPU usage for several seconds. If a sufficient number of such requests were made on concurrent HTTP/2 connections, the server

[2020-08-04 05:30] fengdanliu opened #3515 "Tomcat embedded in Nacos has serious issue with CVE-2020-11996"
**Is your feature request related to a problem? Please describe.**
Recently Tomcat reported a serious bug CVE-2020-11996. A specially crafted sequence of HTTP/2 requests sent to Apache Tomcat 10.0.0-M1 to 10.0.0-M5, 9.0.0.M1 to 9.0.35 and 8.5.0 to 8.5.55 could trigger high CPU usage for several seconds. If a sufficient number of such requests were made on concurrent HTTP/2 connections, the server

[2020-08-04 05:54] #3514 closed

[2020-08-04 05:54] fengdanliu commented on #3514
submitted wrong.

[2020-08-04 06:50] yxh-china commented on #3510
十分感谢，问题解决了。
不知道是不是SpringBoot版本的原因，原本的Application启动类的写法：`SpringApplication.run(AuthorServerApplication.class)`  无法把args参数传递到Spring上下文中，所以命令行参数配置无效。
现在只能使用`new SpringApplication(AuthorServerApplication.class).run(args)` 这种方式启动，就完全正常了

[2020-08-04 06:50] #3510 closed

[2020-08-04 07:34] Alenx58 opened #3517 "Nacos 1.3.0在spring-alibaba服务配置中密码不能使用特殊字符"
Nacos 1.3.0在spring-alibaba服务配置中密码不能使用特殊字符，否则会出现《unknown user!》

[2020-08-04 08:10] zzq1314zll opened #3518 "角色新增操作是不友好的"
1. 如果输入中文就报错
![image](https://user-images.githubusercontent.com/33930711/89269629-b46bd800-d66c-11ea-8e5a-c3133109a1af.png)
2. 选择用户的时候应该变为可以搜索的下拉框，这样体验效果是不是好一些？

[2020-08-04 08:56] wxianfeng commented on #3493
@KomachiSion
是 `nacos-spring-context` 版本 0.3.6

[2020-08-04 10:06] KomachiSion commented on #3439
Code changed but do not re-compile for console.

[2020-08-04 10:29] areskts opened #3520 "nacos开启认证了之后 权限BUG问题"
nacos后台配置开启权限之后，用admin用户登录认证没有问题；
然而在建立一个新用户，分配各个命名空间读写权限，然后配置修改为新建的用户和密码，启动之后一直报错403 无权限问题

[2020-08-04 14:30] ljhrot commented on #2835
@i will solve it@

[2020-08-05 01:20] #3513 closed

[2020-08-05 01:23] KomachiSion commented on #3520
I think it's same as #3388 .
Can you try to in 1.3.2 version?

[2020-08-05 01:26] KomachiSion commented on #3465
看24日的gc日志，所有的，因为从以前的日志看，实际出问题在24日下午

[2020-08-05 01:32] KomachiSion commented on #3438
No more information from author, and we can reproduce problem. So close issue

[2020-08-05 01:32] #3438 closed

[2020-08-05 01:36] #2932 closed

[2020-08-05 01:47] weinianta commented on #3508
可以用的，向下兼容的

[2020-08-05 01:56] #3397 closed

[2020-08-05 02:00] javaalpha commented on #452
关键是加上了这个配置还是提示这个错误，没有生效。
`<spring-boot.version>2.1.14.RELEASE</spring-boot.version>
        <spring-cloud.version>Greenwich.SR6</spring-cloud.version>
        <spring-cloud-alibaba.version>2.1.2.RELEASE</spring-cloud-alibaba.version>`

[2020-08-05 02:06] #3103 closed

[2020-08-05 02:10] yyt6200 commented on #3465
gc的日志都是在一块的...节点的logs文件夹内只有 **nacos_gc.log.0.current** 这个名称的文件。

[2020-08-05 02:17] #3439 closed

[2020-08-05 02:17] #3500 closed

[2020-08-05 02:19] KomachiSion commented on #3518
Please use nacos code style to reformat your change of java code
detail see src/style/codeStyle.md

[2020-08-05 02:20] zzq1314zll commented on #3013
@KomachiSion Can i do this

[2020-08-05 02:38] areskts opened #3524 "nacos 开启授权认证后，新建的用户在分配自定义的命名空间，其实是没有问题的，只有在分配public的时候才会403错误"
**Describe the bug**
nacos 开启授权认证后，新建的用户在分配自定义的命名空间，其实是没有问题的，只有在分配public的时候才会403错误

**Expected behavior**
预期行为应该是新建的用户可以正常访问自定义的命名空间内容

**Acutally behavior**
实际在启动discovery时候，如果新用户分配了public命名空间，会导致启动的时候报403错误

**How to Reproduce**
Steps to reproduce the behavior:
1. 创建新用户（user）、创建新命名空间(new_spaces)、创建新的角色(new_role)，进行相关绑定设置
2. 分配新的用户(user) 到 新命名空间(new_spaces)和（public命名空间）
3. 启动nacos discovery客户端
4.

[2020-08-05 02:47] gongmb commented on #3502
Nacos 开启认证后,sentinel-datasource无法访问nacos,所以一直报错

[2020-08-05 02:47] #3502 closed

[2020-08-05 02:49] guyanzhao11 commented on #3508
日志如下

[code]
``

[2020-08-05 02:54] Maijh97 commented on #3524
@i will solve it@

[2020-08-05 02:55] wangtoye commented on #3484
@yanjunnf 哥们，我跟你做了类似的定制，然后客户端还定制了一下，未获取到配置会继续发送一次请求到public下去获取一次。

[2020-08-05 02:56] paderlol commented on #3508
你的连接字符串是否自己重新更改过？就是jdbcurl

[2020-08-05 03:15] guyanzhao11 commented on #3508
找到原因了， 是我们网络隔离的问题

在升级 1.3.1的时候，我新申请了一台服务器，此服务器和之前数据库的网络被限制了

[2020-08-05 03:20] paderlol commented on #3508
Ok

[2020-08-05 03:40] zzq1314zll commented on #3013
@i will solve it@

[2020-08-05 04:18] #3508 closed

[2020-08-05 06:45] wxianfeng commented on #3493
相关的 issue:
https://github.com/alibaba/nacos/issues/529

[2020-08-05 07:04] Maijh97 opened #3525 "nacos-client, the default value of namespace set for naming and config is inconsistent, resulting in permission authentication failure"
**Describe the bug**
1）nacos-client
naming进行服务注册，当namespace没有指定，会默认为public，参考代码为: `com.alibaba.nacos.client.naming.utils.InitUtils#initNamespaceForNaming`
config进行获取配置，当namespace没有指定，会默认为空字符 "", 参考代码为:
`com.alibaba.nacos.client.utils.ParamUtil#parseNamespace`

2）控制台在新建权限的时候，如果分配的资源为public，这时候数据表`permissions`中的`resource`字段就会为  `:*:*` ，如果是分配其它自定义命名空间的资源就会为  `07ba088a-4782-468e-80cc-ee758beab327:*:*`

[2020-08-05 07:11] xiaoxiangzhenyu commented on #3488
是不是有bug呢，我这边确定是有配置『nacos.core.auth.enabled=true』的

[2020-08-05 07:36] zengshl opened #3526 "nacos 1.3.0版本在服务注册上去后，过段时间有时候会提示连接超时"
java.net.SocketTimeoutException: connect timed out
	at java.net.DualStackPlainSocketImpl.waitForConnect(Native Method)
	at java.net.DualStackPlainSocketImpl.socketConnect(DualStackPlainSocketImpl.java:85)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlain

[2020-08-05 08:12] KomachiSion commented on #3525
is related with #3524 ?

[2020-08-05 08:13] KomachiSion commented on #3526
Please use issue template to description your problem, thanks.
template like :

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2020-08-05 08:14] Maijh97 commented on #3525
yes

[2020-08-05 08:23] zhongkuiGuo commented on #2120
可以把logback的xml文件放到nacos中，但是spring无法正常加载，因为nacos是通过接口/nacos/v1/cs/configs?dataId=logback-spring.xml调用读取配置，而spring中识别日志配置文件是要通过.xml后缀的，所以会报错，无法正常读取，只能把logback放到各个服务中，然后在nacos中统一写一个读取目录logging.config=classpath:×××

[2020-08-05 08:23] zhongkuiGuo commented on #2120
@helei-mianyang

[2020-08-05 08:28] Maijh97 commented on #3525
Also related to the #2620 issue

[2020-08-05 08:54] #3509 closed

[2020-08-05 09:33] qm0123 commented on #3517
@Alenx58 version: 1.3.2 服务端和客户端都无法复现这个问题,用最新版试试

[2020-08-05 09:38] #3368 closed

[2020-08-05 10:12] taoAitao opened #3527 "win系统下,nacos在创建本地缓存配置文件失败"
在win系统下,因为文件目录不能包含\  /  :  *  ?  "  <  >  |    一共9个特殊字符,但是nacos在创建本地缓存配置文件的时候使用了特殊字符 ":"做为目录名 ,导致无法创建目录

[2020-08-05 10:40] dengjintao opened #3528 "引入nacos后服务启动失败（之前引入了hystrix，拿不到project.version）"
**_Issue Description_**

引入nacos后，导致服务启动失败
异常信息： Could not resolve placeholder 'project.version' in value "${project.version}"

**_Describe what happened (or what feature you want)_**

异常栈：
[code]

**_Describe what you expected to happen_**

**_How to reproduce it (as minimally and precisely as possible)_**

              <dependency>
                <groupId>com.alibaba.nacos</groupId>

[2020-08-05 11:05] KomachiSion commented on #3527
能麻烦您使用issue模版编辑一下issue内容吗？

这样他人能更方便的复现合理理解。

[2020-08-05 11:05] KomachiSion commented on #3527
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complet

[2020-08-05 11:08] KomachiSion commented on #3528
这个问题是不是应该提给hystrix？

[2020-08-05 11:22] KomachiSion commented on #3528
查了一下 这个变量应该被替换才对，没被替换掉是有问题的。 后续版本我们会修复

[2020-08-05 11:31] dengjintao commented on #3528
感谢big old，期待fix。

[2020-08-05 12:36] lunfangyu opened #3529 "nacos1.3.2 无法启动"
**Issue Description**
下载最新版本nacos1.3.2后，在win10下双击 startup.cmd 运行失败。在centos7下执行 sh startup.sh 后出现同样报错信息；nacos1.3.1则正常

**Describe what happened (or what feature you want)**
异常报错信息：

[code]

**Describe the bug**
最新nacos1.3.2 无法启动；用回nacos1.3.1则正常;  单纯的运行nacos；未做任何集成。

**Desktop (please complete the following information):**
 - OS: Centos7 或者 win10
 - Version [e.g. nacos-server 1.3.2]

[2020-08-05 15:44] DOTA88893241 commented on #3529
我也是这样，不知道怎么回事。

[2020-08-05 16:12] zzq1314zll opened #3530 "All tables on the page should have refresh buttons"
All tables on the page should have refresh buttons
我觉得所有的页面table都应该加上刷新按钮

[2020-08-05 16:13] zzq1314zll commented on #3530
@i will solve it@

[2020-08-06 00:52] jast90 opened #3531 "Under what situation will the service start successfully, but the relevant service is not registered in nacos?/什么情况下会出现服务启动成功，但是在nacos中没有注册到相关的服务？"
**Describe the bug**
Under what situation will the service start successfully, but the relevant service is not registered in nacos？
/什么情况下会出现服务启动成功，但是在nacos中没有注册到相关的服务?
**Expected behavior**
Running service registered in nacos

**Acutally behavior**
Running service not registered in nacos

**Desktop (please complete the following information):**
 - OS: macOS Mojave
 - Version nacos-client 1.3.1
-

[2020-08-06 01:20] jast90 commented on #3531
Add dependency
[code]

[2020-08-06 01:20] #3531 closed

[2020-08-06 01:24] KomachiSion commented on #3529
@lunfangyu 如果是非单机模式启动 默认使用mysql作为外置数据库，此时需要到conf/application.properties内添加mysql的相关配置参数。否则就会去找jdbc.properties，两者都没有，那相当于依赖没有启动成功，自然就启动不起来。

解决方法是启动时加上 `-p embedded` 使用derby + jraft的内嵌数据库，或者`-m standalone`启动单机模式

[2020-08-06 01:24] #3526 closed

[2020-08-06 01:26] KomachiSion commented on #3530
刷新按钮和直接刷新页面的区别是什么？

[2020-08-06 01:30] zzq1314zll commented on #3530
用户体验不一样

[2020-08-06 01:34] lunfangyu commented on #3529
@KomachiSion 明白了，感谢解惑！加上参数已可正常启动； 但还有个疑问？为什么在nacos1.3.1版本中，不加启动参数也可以正常启动，到了nacos1.3.2就不行了呢

[2020-08-06 01:45] Alenx58 commented on #3517
@qm0123 生产环境不能随便更新啊，最新版没有这个问题就行。后期再做升级吧

[2020-08-06 01:52] KomachiSion commented on #3530
会出现很大改动吗？ 还是只是控制台上简单增加点内容即可？

[2020-08-06 01:53] zzq1314zll commented on #3530
不会影响其他的功能

[2020-08-06 01:55] qm0123 commented on #3517
@Alenx58 关注1.4.0发版吧

[2020-08-06 02:00] KomachiSion commented on #3529
应该是社区对其做了优化，避免启动之后再找不到数据库的异常。

[2020-08-06 02:01] #3529 closed

[2020-08-06 02:01] Alenx58 commented on #3517
ok

[2020-08-06 02:17] KomachiSion commented on #3465
110的gc日志太过异常了，应该是24日16:45:07 被重启了，之后一直没有请求进入（从其他的日志看，这个时间点被集群摘除了，所以的确么有流量），我觉得可以排查下docker在24日的这个时间点是否有哪些自动操作了，因为这个gc日志在启动的时候会被清理。

[2020-08-06 02:18] KomachiSion commented on #3465
为了验证，也可以看下110上的nacos.log 和 start.out 看下这个时间点是不是真的被重启了

[2020-08-06 03:07] qm0123 opened #3532 "Discussion: is it better to unify the response error code and error information in the restresult of client / server"
中:
类似图中的响应信息和返回统一做一个整合到一个类中,调用时直接使用(RestResultUtils.failed(StatusCode.NOT_FOUND))
英:
Similar to the response information and return in the diagram, they are integrated into a class and used directly when calling((RestResultUtils.failed(StatusCode.NOT_FOUND)))

![image](https://user-images.githubusercontent.com/67568757/89485955-82758580-d7d4-11ea-8513-bcd1bf7112c4.png)

[2020-08-06 03:16] eightroad opened #3533 "change cache dir with namespace"
**Is your feature request related to a problem? Please describe.**
I want to change nacos cache dir. but if i special the property "com.alibaba.nacos.naming.cache.dir", the cache dir dismissed {namespce} path。

**Describe the solution you'd like**
I check the code in com.alibaba.nacos.client.naming.NacosNamingService ,seems cacheDir should mean nacos home 。see below。
it shold  cacheDir = System.ge

[2020-08-06 03:16] KomachiSion commented on #3532
Of course, there are one issue opened before, #2857 . If you want to contribute this part. you can comment in that issue, and go for it.

[2020-08-06 03:16] #3532 closed

[2020-08-06 03:18] DOTA88893241 commented on #3529
@KomachiSion 感谢解答！

[2020-08-06 03:20] KomachiSion commented on #3533
looks good. And can you check for config module, it should have another cache dir.

What's more, there may be some other dir is depend `user.home`, we may need to organize and discuss whether these cache dirs can be processed in a unified manner.

[2020-08-06 04:24] xiaozhongliu opened #3534 "Authorization failed changing personal password"
**Describe the bug**
Authorization failed changing personal password.

**Expected behavior**
A user should be able to change personal password normally.

**Acutally behavior**
Authorization failed changing personal password.

**How to Reproduce**
![image](https://user-images.githubusercontent.com/17674404/89490573-c326cc00-d7df-11ea-8542-4d1975655cbf.png)

**Desktop (please complete the following

[2020-08-06 05:12] KomachiSion commented on #3534
duplicate with #3406 , please add comment under #3406

[2020-08-06 05:12] #3534 closed

[2020-08-06 05:24] #3518 closed

[2020-08-06 06:24] yyt6200 commented on #3465
[start.out.log](https://github.com/alibaba/nacos/files/5032945/start.out.log)
[naocs-1.log](https://github.com/alibaba/nacos/files/5032965/naocs-1.log)
[naocs-2.log](https://github.com/alibaba/nacos/files/5032966/naocs-2.log)
[naocs-3.log](https://github.com/alibaba/nacos/files/5032967/naocs-3.log)
日志里面好像是数据库链接不上，一直在报错。Nacos.log比较大，我拆成三份了。请大牛帮忙分析下，里面怎么有这么多的日志信息？

[2020-08-06 06:55] linqunhui opened #3536 "Deprecated Method Replace"
**Is your feature request related to a problem? Please describe.**
See that there is a deprected method in JwtTokenUtils, which is still in use

**Describe the solution you'd like**
I replaced the deprected method

**Describe alternatives you've considered**
Jwts.parser().setSigningKey(secretKey)  replaced Jwts.parserBuilder().setSigningKey(secretKey)

**Additional context**
JwtTokenUtils
![159669

[2020-08-06 06:57] linqunhui commented on #3536
JwtTokenUtils

[2020-08-06 07:32] Maijh97 commented on #3536
Please use issue template to description your problem, thanks.

template like :

Describe the bug
A clear and concise description of what the bug is.

Expected behavior
A clear and concise description of what you expected to happen.

Acutally behavior
A clear and concise description of what you actually to happen.

How to Reproduce
Steps to reproduce the behavior:

Go to '...'
Click on '....'
Scro

[2020-08-06 07:54] linqunhui commented on #3536
OK  Modified

[2020-08-06 08:21] xiao-ma-nong commented on #2902
还是报Caused by: java.net.UnknownHostException: jmenv.tbsite.net

[2020-08-06 08:23] zuosenyu opened #3537 "多数据源配置问题"
Is your feature request related to a problem? Please describe.
多数据源的问题

Describe the solution you'd like
想要支持多种数据库类型

Describe alternatives you've considered
目前只支持mysql的话可能很多一部分用户就用不了nacos

Additional context
我修改了源码，在本地能跑起来（用的pgsql），但是打包时出现了问题，也希望能帮忙解决一下
![1596701325](https://user-images.githubusercontent.com/47630519/89508904-270dbc80-d801-11ea-82bc-c045d1bbfee1.png)

[2020-08-06 08:42] xiaozhongliu commented on #3406
I have the same issue. Any progress to share?
https://github.com/alibaba/nacos/issues/3534

[2020-08-06 08:44] #3537 closed

[2020-08-06 08:46] xiao-ma-nong commented on #2902
解决了吗

[2020-08-06 08:53] xuw027 commented on #2902
集群模式要设置cluster.conf

[2020-08-06 08:56] dingkegithub commented on #2521
open api 文档不完善，错误码之类的说明没有

[2020-08-06 08:58] dingkegithub opened #3538 "Open api 文档可否完善一下"
1、字段说明不详细
2、异常错误码没有说明

[2020-08-06 09:27] donlianli opened #3539 "could nacos client send heart beat not use PUT method"
for some firewall in comapay,PUT,DELETE HTTP method is not allowed,so cause our service client lost heart beat。
I suggest nacos consider this requirement.
thank you very much!

## Issue Description
our comany firewall forbid HTTP PUT method in cloud machine(based on kvm),so our service disappear soon after first register.

Type: *feature request*

### Describe what happened (or what feature you wa

[2020-08-06 09:50] ninyjun commented on #3474
dubbo 就支持多注册中心啊

[2020-08-06 10:07] rcfeng commented on #2644
同问

[2020-08-06 11:10] KomachiSion commented on #3536
@linqunhui Can you submit a PR to fix this issue?

[2020-08-06 11:11] KomachiSion commented on #3538
Move to #3073

[2020-08-06 11:11] #3538 closed

[2020-08-06 11:16] KomachiSion commented on #3539
From the RestFul meaning, I think use Put and Delete method is more correctly.

And few users have issues like these methods will be blocked for now. You are the first I saw.

Does anyone else have any ideas？

[2020-08-06 11:37] arjenzhou commented on #3292
@KomachiSion
Hi, I encountered the same issue while using feign and Nacos, which are in the **same** group.
But the feign cannot invoke the docker service in the different host while the same host can do.

[2020-08-06 11:42] arjenzhou commented on #3292
The two hosts were in one same swarm cluster, and can be found in Nacos dashboard.

[2020-08-06 12:59] zongtanghu commented on #3515
We upgrade the version of embedded Tomcat, it will be ok?

[2020-08-06 13:24] arjenzhou commented on #3292
Resolved by creating docker overlay network.

[2020-08-06 14:31] Maijh97 commented on #3528
@dengjintao 麻烦能提供一下钉钉联系方式？我这边按照提供的依赖，本地是启动是正常的

[2020-08-06 15:15] cys375338985 opened #3542 "github 下载速度太慢了可不可以往国内迁移一下"
最近不知道什么原因github下载速度只有10kb ，可不可以往国内的服务器迁移一下

[2020-08-06 15:38] admin08 commented on #3354
API（MVC）层可以通过k8s的ingress-controller组件通过判断header里面值去路由，如果是dubbo可以通过RPC标签来做，

[2020-08-06 15:47] admin08 commented on #3354
1.首先在K8S准备两个命名空间（一个放生产应用、一个是灰度空间的应用）
2.通过ingress-controller 组件通过请求头是否带有特定的tag自动路由到不同的服务
3.我们现在用的dubbo，dubbo自带tag路由功能，从header中将tag一直传递下来，使得RPC也自动路由。当我们认为灰度服务通过检查后，可以通过nacos控制台找到相应的服务，将服务中的元数据例如：dubbo.tag 属性移除掉即可，或者看nacos是否提供API一键移除

[2020-08-06 15:47] admin08 commented on #3354
1.首先在K8S准备两个命名空间（一个放生产应用、一个是灰度空间的应用）
2.通过ingress-controller 组件通过请求头是否带有特定的tag自动路由到不同的服务
3.我们现在用的dubbo，dubbo自带tag路由功能，从header中将tag一直传递下来，使得RPC也自动路由。当我们认为灰度服务通过检查后，可以通过nacos控制台找到相应的服务，将服务中的元数据例如：dubbo.tag 属性移除掉即可，或者看nacos是否提供API一键移除

[2020-08-06 15:48] admin08 commented on #3354
但是还有一个问题没有解决，使用灰度后，消息队列该如何区分消费者？

[2020-08-06 20:34] #2333 closed

[2020-08-07 00:22] linqunhui commented on #3536
可以

[2020-08-07 01:07] linqunhui commented on #3536
@KomachiSion   我刚才拉下来的代码里面 jjwts.jar是 io.jsonwebtoken:jjwt-api:0.10.5   这个弃用的修改是在io.jsonwebtoken:jjwt-api:0.11.2出现的     是否要更新pom 里面jjwt-api的版本

[2020-08-07 01:14] KomachiSion commented on #3542
duplicate with #3015

[2020-08-07 01:14] #3542 closed

[2020-08-07 01:36] KomachiSion commented on #3465
日志确实显示2020-07-24 16:42:40,204被110被关闭了，之后应该是被docker自动拉起，但是拉起之后一直无法获取数据库连接，导致一直无法对外提供服务。可以查看下是不是新拉起的容器和数据库之间是不是有什么障碍，因为重启之后的日志一直报的是连接超时或拒绝连接，而且异常是由mysql驱动报出来的。

这些问题其实你把所有的日志都check一下就直接能获得的，issue这来来回回是在太花时间了。

[2020-08-07 01:38] Yangstatus commented on #3354
可以在灰度发布后，对发送的消息队列环境进行判断，如果是灰度环境就转发到灰度队列中。处理消息也同理。

[2020-08-07 01:40] KomachiSion commented on #3472
Any process？

[2020-08-07 01:41] KomachiSion commented on #3473
No response from author, and information is not enough, so close issue.

[2020-08-07 01:41] #3473 closed

[2020-08-07 01:43] KomachiSion commented on #3482
I think the mapping of service name should be maintain by apps or users, for nacos you register A, it is just A.

So I don't think it's a reasonable feature

[2020-08-07 01:43] #3482 closed

[2020-08-07 01:47] KomachiSion commented on #3488
我测试是没有问题的，甚至还有导致#2835、#3406之类的问题

[2020-08-07 01:48] KomachiSion commented on #3488
能看到命名空间，但是点其他命名空间会报没有权限，2835那种问题

[2020-08-07 01:55] horizonzy commented on #3539
this situation is too customized.if somebody be in this case,should modify source code to suit their case.

[2020-08-07 01:56] KomachiSion commented on #2945
maybe refer to #3525 and #2835

[2020-08-07 01:58] KomachiSion commented on #3011
@zongtanghu Please check this issue?

[2020-08-07 02:14] KomachiSion commented on #3097
More than one month no discussion from community, and from the comment before, we think the feature is not reasonable. So close issue, thanks for your advise.

[2020-08-07 02:14] #3097 closed

[2020-08-07 02:19] #3001 closed

[2020-08-07 02:19] KomachiSion commented on #3157
Maybe dupilicate with #2701

[2020-08-07 02:19] #3157 closed

[2020-08-07 02:20] KomachiSion commented on #3157
Please retry in new version. If still has problem, open a new issue let us know. Thanks.

[2020-08-07 02:21] KomachiSion commented on #3182
No more process in issue, and from the discuss, it is a usage problem.

[2020-08-07 02:21] #3182 closed

[2020-08-07 02:28] admin08 commented on #3354
我们第一时间考虑过该方案，但是其中的服务间链路错综复杂，难以实现。
1.首先我们使用的中间价是rabbitmq,最开始的方案是通过划分两个不同的vhost,做区分，同时相关服务全部部署一套灰度。（该方案由于资源不够被直接否决）

2.正如你所描述的方案中，我举一个例子：
首先A服务（生产RPC）调用B服务（生产RPC），B服务（生产RPC）中发送了一条消息，这个时候又C服务（生产RPC）进行消费
这是生产中正常的链路既：  A（生产）---->B（生产）------>mq（mq是生产和灰度共用的路由key）------>C（生产）.
-------
分割线
-------
灰度环境下：
首先A服务（灰度RPC）调用B服务（生产），B服务（灰度RPC）中发送了一条消息，这个时候又C服务（生产RPC）进行消费
这是生产中正常的链路既：  A->B->mq->C.
这两条链路中都用到B服务，但是

[2020-08-07 02:33] linqunhui commented on #3536
@KomachiSion  我刚才提交了代码 请查看

[2020-08-07 02:37] #3252 closed

[2020-08-07 02:38] #3278 closed

[2020-08-07 02:42] KomachiSion commented on #3421
duplicate with #3528

[2020-08-07 02:42] #3421 closed

[2020-08-07 02:46] #3490 closed

[2020-08-07 02:47] #3496 closed

[2020-08-07 02:50] Yangstatus commented on #3354
能否给灰度服务加标签，在MQ进行过滤，让消费者根据tag去调用RPC服务。 生产者对每条灰度消息加上标签（tag），消费者在拉取消息时通过判断决定是否仅获取带有某标签（tag）的消息。 A 灰度 （打tag）—— B （生产）—— MQ（消费者进行判断调用tag生产服务） ---> 走C 灰度

[2020-08-07 02:51] #3486 closed

[2020-08-07 02:56] KomachiSion commented on #3536
@linqunhui two question:
1. I do not find your PR. Whether you just commit to your fork repo but not submit PR?
2. if we upgrade version to 0.11.2, will it be functionally affected? Or caused some dependency conflicts？

[2020-08-07 03:09] linqunhui commented on #3536
@KomachiSion   1.我不知道怎么提交PR      2.升级到0.11.2功能上没出现影响，没造成依赖冲突

[2020-08-07 03:09] zjcnew opened #3545 "Data ID模糊搜索功能失效"
配置管理，Data ID这里模糊搜索搜不到任何内容，精确匹配才可以搜索到内容。

![企业微信截图_20200806180303](https://user-images.githubusercontent.com/22335594/89604662-473f8900-d89e-11ea-8085-c0e55de8b02e.png)

[2020-08-07 03:30] linqunhui commented on #3536
@KomachiSion 刚提交RP 您看一下

[2020-08-07 03:40] uzdz opened #3546 "Docker部署nacos1.3.0，web页面缺失权限控制"
开发者您好，我使用如下Docker命令：
`docker run --env MODE=standalone --name nacos -d -p 8848:8848 -v --privileged=true --restart always nacos/nacos-server`

web页面缺失了权限控制tab，请问是移除了吗？还是什么情况呢？

[2020-08-07 03:40] lucongcool commented on #3545
我刚试了下 好像group也没带模糊查询功能

[2020-08-07 03:42] SkyXj commented on #3472
it works correctly when i upgrade to 1.3.1,thank you

[2020-08-07 03:42] #3472 closed

[2020-08-07 03:57] Maijh97 commented on #3545
模糊查询使用 `data*`这种方式，需要带有符号 `"*"`

[2020-08-07 05:50] admin08 commented on #3354
没错，但是这里涉及到消息重新投递问题以及漏洞，我再打个比方：
在该链路下，B服务发送的队列确实加了tag，然后消费者去区分 ，如果监听到的消息带了tag，这个时候就重新投递消息（消费者会轮询投递），直到消息tag完全和对应的消费者tag相同才消费
A（tag） ------- B（生产）-----MQ-----C（mq消费者灰度）或者 C（mq消费者生产）

但是这这样做还是有问题，问题如下：
  当C（MQ消费者没有发布灰度的时候）链路入下：
A（tag） ------- B（生产）-----MQ-----C（mq消费者生产），意味着MQ消费者C永远都不会消费带灰度tag标签消息。因为C并没有发布灰度

目前我们想到的两个策略是：
1.C消费者连续N次接收到同一个消息，但是该消息的tag与当前消费者总是不一致满足阀值N的情况下，尝试强制消费

2.将C（mq消费者）注册到注册中心上面，并

[2020-08-07 05:54] zjcnew commented on #3545
能不能优化成，不要使用通配符，来模糊查询

[2020-08-07 06:29] lidaoyang opened #3548 "pr #3543 is implemented by modifying the configuration when the permission is enabled to save the operator. If the permission is not enabled (nacos.core.auth.enabled = false), the operator is not recorded."
The implementation of pr #3543  is to modify the configuration when the permission is enabled to save the operator. If the permission is not enabled (nacos.core.auth.enabled = false), the operator is not recorded when modifying the configuration in the console or using the interface. The code implementation is to check nacos AuthFilter. core.auth. If enabled = false, the user information is obtain

[2020-08-07 06:35] haidongwang-github commented on #3011
1.2.1版本
![1 2 1不配置数据库](https://user-images.githubusercontent.com/68906130/89616506-13bf2780-d8bb-11ea-9033-df9ba51a53d4.PNG)
1.3.0版本
![1 3 0不配置数据库](https://user-images.githubusercontent.com/68906130/89616558-2df90580-d8bb-11ea-9182-1ce206e25b2c.PNG)

[2020-08-07 09:00] #3536 closed

[2020-08-07 09:01] KomachiSion commented on #3545
duplicate with #3492

[2020-08-07 09:01] #3545 closed

[2020-08-07 09:04] KomachiSion commented on #3546
我试了一下，没有是ok的，你试下清理浏览器缓存再试试呢？

[2020-08-07 09:10] KomachiSion commented on #3548
Can we add user name to cookie like token, and add it in request header for each request?

Does any one else have ideas?

[2020-08-07 09:21] uzdz commented on #3546
您好，我这边确定是没有的，已经清了缓存，也让其他同事测试了下。

请问我是不是存在表没有导入，或者配置文件没有改为true等问题呢？

![image](https://user-images.githubusercontent.com/28328355/89630771-62c48700-d8d2-11ea-8341-3879e9ed0e17.png)

[2020-08-07 09:23] lidaoyang commented on #3548
In this way, only the interfaces used in the console can be added. If users use openAPI, they cannot be restricted.

这样的话，只有控制台上使用的接口我们可以添加，如果用户使用openAPI就没法约束了

[2020-08-07 09:47] KomachiSion commented on #3546
![image](https://user-images.githubusercontent.com/37170243/89633171-ff3c5880-d8d5-11ea-82a5-16e5c97bbc26.png)

我这里是没有问题的。
不需要开启auth=true，我是完全按照你的指令启动的docker

[2020-08-07 10:35] zhangzh0508 commented on #2329
同样的情况，客户端和服务端版本都是1.1.4

[2020-08-07 10:51] horizonzy opened #3550 "com.alibaba.nacos.naming.consistency.persistent.raft.RaftStore#write logic error"
**Describe the bug**
the persist instance register to server,but the cache in server will not create.

branch: in the newest develop branch.

when the persist instance register to server, raftCore will publish the new data.
in the com.alibaba.nacos.naming.consistency.persistent.raft.RaftStore#write,the cache file created and then deleted

[2020-08-08 02:24] zongtanghu commented on #3011
@haidongwang-github 1.2.1和1.3.0配置数据库总是失败，能够详细描述下如何配置，以及失败的异常日志么？

[2020-08-08 07:22] ljhrot commented on #3059
@lchpersonal 你好，请你下载最新版本的 nacos ( 1.3.2 ) 再尝试一遍。

我根据目前提供的信息使用 nacos ( 1.3.0 )，nacos-config-spring-boot-starter ( 0.1.4 ) **无法复现**，我使用的客户端工程为 [nacos-spring-boot-config-example](https://github.com/nacos-group/nacos-examples/tree/master/nacos-spring-boot-example/nacos-spring-boot-config-example)

我尝试复现的步骤（确认只有 `useLocalCache` 这一条配置）：
1. 启动 nacos 1.3.2
2. 启动 nacos-spring-boot-config-example
3. 执行 `cu

[2020-08-08 10:12] ZhuBobi commented on #2902
说出来可能不信，太沙雕的错误了。conf中只给了一个cluster.conf.example文件，需要copy成一个cluster.conf文件再修改。

[2020-08-08 10:26] luozhangwen commented on #2432
请问这个问题解决了吗? 同样遇到这个问题

[2020-08-08 11:16] ljhrot commented on #3406
开启鉴权 `nacos.core.auth.enabled=true` 然后创建新的账号并使用这个账号进行修改密码的操作就可以复现这个 bug 了。

目前我看到会能复现这个 bug 的两种情况：
1. 没有分配任何角色给新用户
[NacosRoleServiceImpl](https://github.com/alibaba/nacos/blob/7a471c510001647b6434177fff55846230b99f8e/console/src/main/java/com/alibaba/nacos/console/security/nacos/roles/NacosRoleServiceImpl.java#L118) 首先会拦截所有没有角色的用户。
[code]

2. 新用户绑定了角色
[NacosRoleServiceImpl](https://github.com/alib

[2020-08-08 13:16] arjenzhou opened #3554 "Typo on registering in Nacos."
There will be a typo on starting service while using *spring-cloud-starter-alibaba-nacos* at

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/23600703/89711313-1bb2c080-d9bc-11ea-923e-5c1fa26aed50.png">

which should be Nacos not **Nacso**.

[2020-08-08 16:23] chuntaojun commented on #3539
If it is a small company's special demand, should need to customize the itself. Setting the http-Method for each HTTP request should conform to the data impact of the request. I don't think this is a place that needs to be modified

[2020-08-09 07:06] Yangdaidai opened #3556 "文档写的跟坨屎一样,能写清晰一点吗?"
文档写的跟坨屎一样,能写清晰一点吗?

[2020-08-09 07:38] yfh0918 commented on #3556
你牛逼你来贡献点文档，you can you up

发自我的iPhone

[2020-08-09 08:15] corey89757 commented on #3515
@zongtanghu I will solve it.

[2020-08-09 08:17] zongtanghu commented on #3515
It's yours. @corey89757

[2020-08-09 08:51] AKM000 opened #3557 "windows10，nacos1.2.1，windows睡眠模式结束后，nacos占用cpu过高。"
<img width="629" alt="nacos" src="https://user-images.githubusercontent.com/59811327/89728396-a26ca980-da5f-11ea-8035-3c75e9f016da.PNG">

## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environme

[2020-08-09 09:04] nickChenyx commented on #3556
伸手党还这么粗口，你真的是恶心

[2020-08-09 10:22] NaiYY opened #3558 "关于Nacos1.2.1的一些玄学问题"
你好，我想先感谢一下，你们的辛苦劳动付出，然后再描述一下问题
问题是这样的，先来说一下环境
WIN10 + JDK1.8 + Maven3.6.3 + SpringBoot2.3.1 + Nacos1.2.1 + SpringCloudAlibaba Nacos 2.1.0
问题是这样的，想注册一个服务进入Nacos 上

出现了一些小问题

1.Ribbon问题

这是日志信息

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2020-08-09 18:15:00.533 ERROR 9244 --- [           main] o.s.b.d.LoggingFailureAnalysisReport

[2020-08-09 11:13] NaiYY commented on #3558
@chuntaojun

[2020-08-09 11:34] Sunw730 commented on #3460
我再详细描述一下，并贴上我的全部代码，我是新创建的一个springcloud的项目，里面只有一个启动类，然后bootstrap.yml的所有配置是：
[code]

application.yml的配置是：
[code]
pom.xml：
[code]
在nacos中有两个namespace：`public`（默认的）和`myspace`（自己创建的），每个namespace下都创建了两个配置文件`nacos-demo.yml`和`nacos-demo-ext.yml`，他们都用的默认group(`DEFAULT_GROUP`)，里面的内容无关紧要，你可以随便配置。

nacos服务是我本地使用docker启动的，版本为latest，我的jdk是zulu openjdk11，当然，oracle jdk1.8我也试过，有相同的问题。

当使用`namespace=public`，启动完成后，

[2020-08-10 00:17] zzq1314zll opened #3560 "nacos console web page logo is aliyun logo？"
nacos web page logo change to nacos logo

[2020-08-10 00:58] KomachiSion commented on #3556
文档相关问题和意见，欢迎回复到 #3073

[2020-08-10 00:59] #3556 closed

[2020-08-10 01:02] KomachiSion commented on #3557
Can you dump thread or use arthas find out what's cost the cpus?

And please edit your issue description with template for others friendly?

[2020-08-10 01:02] KomachiSion commented on #3557
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complet

[2020-08-10 01:05] KomachiSion commented on #3558
如果其他人可以正常使用，那应该是您环境的问题，这个只能您自己排查下。

这里推测可能是依赖包冲突导致的，可以mvn dependency:tree看下

[2020-08-10 01:06] KomachiSion commented on #3560
Please use issue template to description your issue, Thanks.

[2020-08-10 01:06] KomachiSion commented on #3560
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complet

[2020-08-10 01:07] #2835 closed

[2020-08-10 01:08] #2945 closed

[2020-08-10 01:09] #3550 closed

[2020-08-10 01:10] NaiYY commented on #3558
你好，就是请问是否是我版本引用有误，应该不是jar冲突，用的就是官方的三个jar包

[2020-08-10 01:17] KomachiSion commented on #3429
@tankliu1980 any process?

[2020-08-10 01:20] linqunhui commented on #3554
@i will solve it@

[2020-08-10 01:36] KomachiSion commented on #3499
No response from auth, and information is not enough to reproduce problem.

[2020-08-10 01:36] #3499 closed

[2020-08-10 01:39] LittleM318 commented on #3421
感谢大佬，就是这个问题。

[2020-08-10 01:46] 285551339 opened #3561 "nacos services register Services have been added and deleted"
**Describe the bug**
The nacos registry found that when the service was in use, the occasional refresh of the tomcat service was not visible.
Services are being removed all the time.

**Expected behavior**
Services are available when the registry refreshes

**Acutally behavior**
Tomcat USES external, with custom annotations added to specify the Tomcat port.

**Desktop (please complete the followin

[2020-08-10 01:53] #3437 closed

[2020-08-10 01:53] KomachiSion commented on #3437
No process for issue, close it

[2020-08-10 01:53] chuntaojun commented on #3460
默认的命名空间不要去设置namespace

[2020-08-10 01:58] KomachiSion commented on #3561
nacos-server version need be update, there are no 2.1.1 version

[2020-08-10 02:00] Sunw730 commented on #3460
测试了一下    这样的确是可行的，不知道这个是什么原因呢？

不过这个问题建议修复一下，好的产品不应该通过”避免配置“来解决这个问题

[2020-08-10 02:02] KomachiSion commented on #3561
And for the problem, because server do not receiver the beat of the instance, so removed. After one minutes, the beat happen again, so register it back.

I think you should find out why the beat is interrupted

[2020-08-10 02:08] #3561 closed

[2020-08-10 02:09] 285551339 commented on #3561
Sorry, wrong number ，there are 1.2.1 version

[2020-08-10 02:12] 285551339 commented on #3561
Can you make it clear

[2020-08-10 05:31] uzdz commented on #3546
低版本升级需要增加如下MySQL表：

`CREATE TABLE `permissions` ( `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL, `resource` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL, `action` varchar(8) COLLATE utf8mb4_unicode_ci NOT NULL, UNIQUE KEY `uk_role_permission` (`role`,`resource`,`action`) USING BTREE ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci`

[2020-08-10 05:31] #3546 closed

[2020-08-10 05:34] admin08 commented on #3354
可能我没表述清楚我的意思，其实我想表达的是MQ（无灰度），生产和灰度同时监听相同的路由key，虽然消费者可以区分消息是否为灰度，我的意思是策略该如何，如果是监听到不属于自己的消息，是重新投递还是？如果重新投递一直没有符合的消费者，消息堆积怎么办

[2020-08-10 07:31] Rambo1203 commented on #3361
我也遇到同样的问题，“没有配置 config 的地址” 这个关键点没有找到响应的配置（我理解的config地址就是 config.server-addr=127.0.0.1:8002），还请更详细的指导，感谢~！

以下是我的具体配置，我同样修改了 Nacos 客户端 application.propertie 中的端口号.
spring:
  cloud:
    nacos:
      discovery:
        # 服务注册中心
        server-addr: 127.0.0.1:8002
      config:
        # 服务配置中心
        server-addr: 127.0.0.1:8002
        # 指定配置文件格式
        file-extension: yaml

[2020-08-10 07:41] guohj2015 opened #3564 "Why does Windows cluster not have permission control module in version 1.3"
![image](https://user-images.githubusercontent.com/30196210/89760949-f76ff480-db1f-11ea-849c-4e1637d1e3bd.png)

[2020-08-10 08:10] Rambo1203 commented on #3361
您好，请问你是如何解决的？

[2020-08-10 08:31] zongtanghu commented on #3554
I will find someone to resolve this issue, so this issue can be assigned to me , firstly.

[2020-08-10 08:33] corey89757 commented on #3554
I will fix this

[2020-08-10 08:33] zongtanghu commented on #3554
@corey89757  It's yours.

[2020-08-10 08:58] zzq1314zll commented on #3560
我们现在nacos console 页面的logo 是阿里云的logo，我想把它替换成nacos 的logo

[2020-08-10 09:03] LittleM318 opened #3565 "关于nacos集群在网络故障下的高可用问题"
**Describe the bug**
在生产上需要模拟极端网络情况下，nacos高可用情况。
网络关系如下图所示：
![Xnip2020-08-10_16-50-53](https://user-images.githubusercontent.com/59717520/89766351-98fc4380-db2a-11ea-8699-fea343ffff51.jpg)
nacos集群之间网络连接中断
feign调用，从客户端1调用客户端2
客户端1与nacos集群中的1，2两台有网络连接，与3连接失败
客户端2与nacos集群中的1有网络连接，与2，3连接失败

**Expected behavior**
在压力测试情况下，客户端1成功调用客户端2，成功与失败情况，各百分之50.

**Acutally behavior**
有时，失败比例高于90%，有时全部成功。

想请教一下各位

[2020-08-10 09:07] Maijh97 opened #3566 "create the nacos-auth module and sink the existing authorization code to nacos-auth"
**Is your feature request related to a problem? Please describe.**

**Reason 1**: The implementation code of the permission function is scattered in the `nacos-console` and naocs-core modules, which is not conducive to maintenance.
**Reason 2**: When the `AddressServer` module is started separately, it needs to rely on the `nacos-console` module to start, because part of the authorization function

[2020-08-10 09:10] Maijh97 commented on #3566
**nacos-auth unified task list**：

- [ ]   create a `nacos-auth` module.
- [ ]   migrate the permission code of `nacos-core` module to` nacos-auth` module.
- [ ]   migrate the permission code of `nacos-console` module to `nacos-auth` module.
- [ ]   add unit tests for the `nacos-auth` module to ensure that the migrated code works normally.
- [ ]   delete `nacos-console` and `nacos-core` permission

[2020-08-10 09:13] KomachiSion commented on #3566
Good suggestion, I think we should do it in recent version.

[2020-08-10 09:50] KomachiSion commented on #3564
reference #3546 .

Try to add table `permissions ` in database.

[code]

[2020-08-10 09:54] guohj2015 commented on #3564
The permissions table exists. The stand-alone version can display the permission control module

[2020-08-10 09:58] KomachiSion commented on #3565
实在没看懂。
1. nacos服务直接完全网络中断？ 那就相当于部署了3台单机模式的nacos？
2. 客户端1连接nacos1和nacos2，是指随机注册到这两个节点上吗？
3. `有时，失败比例高于90%，有时全部成功。`  那总体算起来不就是约等于50%吗？
4. `从客户端1调用客户端2` 客户端之间的调用和nacos没有关系，nacos只有在注册信息变更时候才会推送给客户端，如果客户端1没有注册到nacos1上，你又网络隔离，那么客户端2肯定找不到客户端1.

[2020-08-10 10:00] jiaoge commented on #422
我觉得不需要监听，而是需要获取到所有的 dataID，可以方便做一些动态计算的工作

[2020-08-10 10:16] xtakeit commented on #2706
解决了，要看一下服务端的版本是否和客户端版本对应。练习的时候建议标明版本号，如 nacos/nacos-server:1.3.2
不要直接用latest的，会变。。。

[2020-08-10 10:27] Technoboy- opened #3567 "Update for Writer#removeFile"
Use
[code]
instead of
[code]

[2020-08-10 10:46] AKM000 commented on #3557
今天我试着重现那个情况，但一直没有复现。如果以后出现，会联系你的。

[2020-08-10 11:01] KomachiSion commented on #3567
Why do you want to replace it?

[2020-08-10 11:17] KomachiSion commented on #3560
![image](https://user-images.githubusercontent.com/37170243/89777334-12516180-db3e-11ea-8e00-101fd0f9f50c.png)
I see the logo has been nacos'

[2020-08-10 11:18] KomachiSion commented on #3560
![image](https://user-images.githubusercontent.com/37170243/89777390-2f863000-db3e-11ea-8a48-2f2f6f120e6d.png)
Do you want to replace this icon?

[2020-08-10 11:42] dengjintao commented on #3528
钉钉号码： zct_uu7pcl3aj

[2020-08-10 12:09] linqunhui commented on #3554
I'm find ,this not is nacos  ,it's in the spring-cloud-starter-alibaba-nacos-discovery/src/main/java/com/alibaba/cloud/nacos/discovery/NacosWatch.java

[2020-08-10 12:12] linqunhui commented on #3554
I'm find,this not in the nacos ,     It's in the spring-cloud-starter-alibaba-nacos-discovery   NacosWatch.java .  but It was revised a week ago!

[2020-08-10 13:05] horizonzy commented on #3548
agree it

[2020-08-10 13:27] #2792 closed

[2020-08-10 13:29] AKM000 commented on #3557
今天回来用尽各种方法尝试复现问题，没成功。
然后刷微博的时候突然电脑卡，任务管理器显示打开nacos的那个cmd程序占用cpu过高。
具体过程如下
1：在bin目录下双击startup.cmd启动程序
2：然后向nacos注册了一个服务，作为测试
3：大概十分钟后关闭服务（强制关闭）
4：弄了些其他的，nacos一直启动着（这是没有任何服务注册，就单纯一个程序运行），只是那段时间没有使用电脑
5：然后及打开微博（忘记关闭nacos了），然后电脑就卡。
以下截图来自于jvisualvm，hprof文件来自于jmap dump。
我看了一下dump文件，也看不太懂。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-08-10 13:41] KomachiSion commented on #3548
Except the openAPI, the old version sdk can't also get the user name if disable auth feature.

[2020-08-10 13:42] KomachiSion commented on #3548
For new version sdk, we can add sdk info as the user if disable auth feature.

[2020-08-10 13:53] emmerichLuang commented on #2902
@xuw027 有用。

下载下来， application.properties 要配资数据库；
指定JAVA_HOME环境 （或者修改startup.sh）；
另外拷贝一份cluster.conf.sample出来--> cluster.conf。

希望后面的兄弟不要再踩坑浪费时间，官方也完善一下稳定、默认配置。

[2020-08-10 14:27] zzq1314zll commented on #2358
@nkorange Can i do this

[2020-08-10 14:38] xiao-ma-nong commented on #2902
真的其实坑，连接mysql8又是一个艰难的事情

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "emmerich"<notifications@github.com&gt;;
发送时间: 2020年8月10日(星期一) 晚上9:53
收件人: "alibaba/nacos"<nacos@noreply.github.com&gt;;
抄送: "╰早《…》應該♀放手╯"<3121831267@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [alibaba/nacos] Caused by: java.net.UnknownHostException: jmenv.tbsite.net (#2902)

@xuw027 有用。

下载下来， ap

[2020-08-10 15:22] xtakeit commented on #2706
又出来了。。。自闭了
`2020-08-10 23:13:55.579  INFO 14328 --- [231_8848-public] c.a.n.client.config.impl.ClientWorker    : get changedGroupKeys:[service.vgroupMapping.my_test_tx_group+SEATA_GROUP+public]
2020-08-10 23:13:55.637  INFO 14328 --- [231_8848-public] c.a.n.client.config.impl.ClientWorker    : [fixed-39.100.94.231_8848-public] [data-received] dataId=service.vgroupMapping.my_test_tx_group, group=SE

[2020-08-10 15:37] horizonzy commented on #3548
the client ip is more useful than sdk info maybe.

[2020-08-11 01:24] KeRan213539 commented on #3339
这个组合是 spring-cloud-alibaba 限制的,请参考spring-cloud-alibaba的文档
nacos本身对dataId的格式是没有任何限制的

[2020-08-11 01:40] KomachiSion commented on #3557
1. 截图看不到
2. 文件太大了 不好下载，建议还是拿arthas打火焰图出来，简单又明确。

[2020-08-11 01:42] #3429 closed

[2020-08-11 01:42] KomachiSion commented on #3429
No response more than ** 7 days ** and I use new version can reproduce problem. I think it has fixed.

[2020-08-11 01:47] #3530 closed

[2020-08-11 03:30] zhujiebing opened #3571 "1.3.1三个节点部署，控制台节点列表显示FOLLOWER和LEADER异常"
**Describe the bug**
linux部署了1.3.1三个节点,连接外置mysql
10.10.11.71 nacos1.com
10.10.11.81 nacos2.com
10.10.10.127 nacos3.com
分别用
10.10.11.71:8848/nacos/index.html
10.10.11.81:8848/nacos/index.html
10.10.10.127:8848/nacos/index.html
访问控制台，看到节点列表如下：
127控制台看到的leader是10.10.11.81
81控制台看到的leader是10.10.11.71
71控制台看到三个节点都是follow
![image](https://user-images.githubusercontent.com/25639514/89853979-46bc3080-dbc5-

[2020-08-11 03:37] #3560 closed

[2020-08-11 03:37] arthur0201 opened #3572 "nacos 注册中心的服务实例一会是健康的一会又不健康"

[2020-08-11 03:51] arthur0201 commented on #3572
{
  "clientBeatInterval": 5000,
  "code": 20404
}
心跳检测返回code：20404，请问是什么意思

[2020-08-11 03:58] AKM000 commented on #3557
抱歉，我还在学习阶段。arthas这个东西我还是第一次听说。并且那个情况是随机出现的。 ------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;杨翊&amp;nbsp;SionYang&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年8月11日(星期二) 上午9:41
收件人:&nbsp;&quot;alibaba/nacos&quot;<nacos@noreply.github.com&gt;;
抄送:&nbsp;&quot;AKM000&quot;<3311676596@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [alibaba/nacos] wi

[2020-08-11 05:18] #3013 closed

[2020-08-11 05:20] KomachiSion commented on #3571
duplicate with #3384

[2020-08-11 05:20] #3571 closed

[2020-08-11 05:24] shansr opened #3573 "1.3.2 编辑配置时，配置格式为空"
如新建dev.yaml 配置并发布，返回主页点击左侧-配置列表，在操作列点击“编辑”，进入编辑页面后，“配置格式”为空。如图

新建时：
![1597123055(1)](https://user-images.githubusercontent.com/53803242/89860357-d964cb80-dbd5-11ea-8c0c-65f616ff4785.png)

编辑时：
![1597123340(1)](https://user-images.githubusercontent.com/53803242/89860295-be925700-dbd5-11ea-9460-ac2c538b1bfa.jpg)

[2020-08-11 05:25] KomachiSion commented on #3572
20代表是naming模块的反馈，404 类似 http response code
大致意思就是未发现心跳的实例

[2020-08-11 05:31] KomachiSion commented on #3573
我在demo控制台上试了下，没有问题
http://console.nacos.io/nacos/index.html#/configeditor?serverId=center&dataId=test_for_issue_3573&group=DEFAULT_GROUP&namespace=&edasAppName=&edasAppId=&searchDataId=&searchGroup=&pageSize=10&pageNo=2

[2020-08-11 05:35] shansr commented on #3573
本人集群用的是内嵌数据库
ps: demo 控制台username/pwd ?

[2020-08-11 06:08] skyding1212 commented on #2613
这个问题最后怎么解决了？同问！！！

[2020-08-11 06:10] zhujiebing commented on #3571
已经在1.3.2修复了这个问题吗？ 谢谢

[2020-08-11 06:54] lidaoyang commented on #3548
In my opinion, if the authentication function is not enabled, it is of little use to save user information. If the authentication function is not enabled, the operator is ignored. Moreover, if the client controls the operator itself, the authenticity is not high.

我觉得如果是没有开启身份验证功能的，保存用户信息用处不大，不开启身份验证本身是不在意操作人，并且如果是client自己控制操作人，真实性不高

[2020-08-11 07:04] KomachiSion commented on #3573
所以建议按照issue模版来填写issue，可以减少这种应答次数

1. demo 控制台使用的是standalone+内嵌数据库
2. 默认用户名密码都是nacos

[2020-08-11 07:36] samandqq commented on #273
组织：DXC
地点：中国上海
联系方式：diaochunlin_9@hotmail.com
场景：服务发现和配置管理
服务框架：SpringCloud, K8s

[2020-08-11 07:51] guyanzhao11 opened #3575 "nacos-server1.3.2修改心跳检查方式报403，无权限"
**1、环境**
版本 nacos-server1.3.2
环境win10
  修改 application.properties 中的 nacos.core.auth.enabled=true   ，开启认证

启动方式
   解压 ，启动
   启动命令   cd  ${nacos}/bin

   startup.cmd   -m  standalone

  2、启动后上报一个服务到nacos-server

 3、用 nacos用户通过浏览器登陆页面，修改心跳方式(默认的用户名 nacos ,密码nacos)
   操作步骤：
    点菜单  服务管理 ---服务列表  ，   任意选择一个已有的服务 ，点   “详情”  --- 集群配置  ---修改心跳为 HTTP方式  ，确认。

报文如下：
请求地址如  http://xxx:8848/nacos/v1/ns/clus

[2020-08-11 08:32] mercyblitz opened #3576 "[Enhancement] Adding the destroy lifecycle method on NamingMaintainService"

[2020-08-11 08:44] KomachiSion commented on #3575
duplicate with #3005

[2020-08-11 08:44] #3575 closed

[2020-08-11 08:45] KomachiSion commented on #3576
Hi @mercyblitz , please edit your issue description with template. Thanks.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise d

[2020-08-11 08:48] zongtanghu commented on #3576
This issue can be assigned to me, firstly!I will resolve it. @KomachiSion @mercyblitz

[2020-08-11 09:34] shizhengxing opened #3577 "1.3.2版本较为核心的类DataSyncer存在并发问题"
文件路径nacos/naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DataSyncer.java

submit方法中，第120行的代码片段1

    Map<String, Datum> datumMap = dataStore.batchGet(keys);

这里面从dataStore取出了keys对应的数据，并在接下来132行将其序列化后，发送到其他naming节点。
132行代码

    boolean success = NamingProxy.syncData(data, task.getTargetServer());

但是在发送成功前（执行121至132行间的逻辑时），taskMap中的keys依旧存在，发送成功后才会从taskMap移除，这里存在并发问题。
我们

[2020-08-11 09:37] shizhengxing commented on #3577
如果确认的话，我可以来修复这个问题

[2020-08-11 12:29] KomachiSion commented on #3577
这里在很极限的情况下的确可能存在问题，但是这个Distro本身就是AP协议，还有对账机制可以修复遗漏的同步信息，详见/checksum接口。

您说打算修复这个问题，能先同步一下修复的方案吗？讨论下， 如果在不影响性能的情况下，能修复掉最好。

[2020-08-11 14:40] 15726698950 opened #3578 "消费者提供服务,如果服务名称包含下划线,会出现bug"
消费者提供服务,如果服务名称包含下划线,会出现bug,具体表现是在nacos 服务列表每次刷新列表,一会健康一会不健康

[2020-08-11 15:44] shizhengxing commented on #3577
此问题的原因是执行143行taskMap.remove操作时，无法知道keys对应的数据在前面是否有更新，但是为了确保相同的key同步到到其他naming节点的顺序性，不能简单通过在129行执行serialize前移除taskMap中的key来解决，我当前想到的办法是引入状态机制，记录序列化后又有更新这个状态

步骤1，将63行taskMap定义的value的数据结构改成

    private Map<String, StatusKey> taskMap ......
，类型定义如下：

    private static class StatusKey {
        //刚开始
        static int begin = 0;
        //已经被序列化，正在发送给其他naming节点
        static int already_serialized

[2020-08-11 16:26] shizhengxing commented on #3577
这个方案唯一可能影响性能的是3.2步骤的自旋操作，但是只有在4.2步骤status=3的时候才会走这个逻辑，然而4.2识别到status=3时，只会迅速remove这个key，因此对性能几乎无影响，但是能很好的解决一致性的这个问题，个人认为整体是可行的，编码难度不大

[2020-08-12 01:18] KomachiSion commented on #3577
我觉得问题复杂了，近期我们计划把AP协议下沉，到时候这个地方会重新修改，改成类似两层key的机制，
第一层task key是用来做归并的，当需要同步的时候这个key就移除了，移除key之后再get数据，然后同步。此时如果get完数据又有变更，会进入第一层key去做归并。
同样 如果同步失败，也回滚回第一层key做归并。
这样同步数据和归并同步作业就不会互相影响。

[2020-08-12 01:22] KomachiSion commented on #3578
Please use issue template to describe your problem, Thanks.

[2020-08-12 01:22] KomachiSion commented on #3578
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Acutally behavior**
A clear and concise description of what you actually to happen.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complet

[2020-08-12 01:28] KomachiSion commented on #3558
看了一下日志，应该还是版本冲突，spring提示actuate的方法不存在，那说明actuate的相关class存在，但是class的版本不对，所以导致method没有。 建议还是查一下依赖冲突，和是否是官方的包没有关系。
这个问题不是nacos的问题。issue我先关了。

[2020-08-12 01:28] #3558 closed

[2020-08-12 01:30] yanlinly commented on #3571
没，暂定1.4.0 版本解决， 发版时间预计这月底，下月初

[2020-08-12 01:31] NaiYY commented on #3558
好的，多谢

[2020-08-12 01:40] KomachiSion commented on #3548
For the console, I think, every operation should be recorded. May be logs rather than saved in database. So I think in console we can add this username as an optional parameter in request header. As for whether printing to log or writing into the database, or ignore this parameter, it will be handled by the server.

Just like you said, if disable auth, which means users do not care operation from

[2020-08-12 01:46] KomachiSion commented on #3520
No more response from author, I think it has been fixed. Close issue.

[2020-08-12 01:46] #3520 closed

[2020-08-12 01:51] #1654 closed

[2020-08-12 01:59] lidaoyang commented on #3548
agree!

[2020-08-12 02:09] wjm0729 opened #3579 "Nacos 的 @NacosEnable @NacosConfigurationProperties 等注解的 dataId 属性能否支持env变量拼接 如 "#{'serv-'+systemEnvironment.serverId}""
Can the dataid property of annotations such as @ nacosenable @ nacosconfigurationproperties support env variable splicing, such as "# {'serv -'+ systemEnvironment.serverId }

Nacos 的 @NacosEnable @NacosConfigurationProperties 等注解的 dataId 属性能否支持env变量拼接 如 "#{'serv-'+systemEnvironment.serverId}"

[2020-08-12 02:13] ljhrot commented on #289
@KomachiSion Can you close this issue?

[2020-08-12 02:14] shizhengxing commented on #3577
引入状态机制确实变得复杂了些，你提到的下层AP协议计划是在哪个版本呢？你的描述比较简单，还看不出来是如何确保同一个key同步的顺序性的

[2020-08-12 02:29] MrWenBo opened #3581 "docker-compose 部署时，nacos无法启动/nacos无法访问，但prometheus与grafana启动正常"
yaml文件配置如下：
version: "2"
services:
  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos-standalone-mysql
    environment:
      - PREFER_HOST_MODE=hostname
      - MODE=standalone
      - SPRING_DATASOURCE_PLATFORM=mysql
      - MYSQL_MASTER_SERVICE_HOST=192.168.100.240
      - MYSQL_MASTER_SERVICE_DB_NAME=nacos_config
      - MYSQL_MASTER_SERVICE_PORT=3306
      - MYSQL_SLAVE_S

[2020-08-12 03:23] KomachiSion commented on #3460
duplicate with #3525

[2020-08-12 03:23] #3460 closed

[2020-08-12 03:27] KomachiSion commented on #3581
先试用下[nacos-docker](https://github.com/nacos-group/nacos-docker/tree/master/example)的mysql example。

这个报错明显`java.net.UnknownHostException: ${MYSQL_SERVICE_HOST}`

[2020-08-12 06:07] fireflyhoo commented on #3484
而且对于某些密码的配置是否也可以支持 配置加密后的字符串. 由客户端解密, 我们当前的方案是使用 jasypt-spring-boot-starter 做客户端来解密

[2020-08-12 06:07] rcfeng commented on #3439
其实我提这个issue的初衷是希望能在application.properties里对这个分页的数值进行配置，我看了一下PR，目前也就是把原来写死的
[10,20,30] 抽取到了GLOBAL_PAGE_SIZE_LIST常量，这只能算是代码优化，并没有实际的功能增强
@KomachiSion @zzq1314zll

[2020-08-12 06:15] rcfeng commented on #3439
现在默认都是显示10条，我觉得可以让用户按实际使用情况配置默认的大小，而不是每次打开都切换一下大小

因为按照我个人习惯，我会一页展示比较多数据，然后通过ctrl+f 搜索直接定位到具体的配置文件，如果分页数据太小，就搜索不到了

为什么不用nacos提供的查询功能呢？
1.需要鼠标点到输入框
2.模糊查询还需要使用*通配符

[2020-08-12 06:28] rcfeng commented on #3524
这个问题上次碰到过，其实就是分配权限的时候没有把public的权限写到数据库，鉴权的时候又从数据库读取了
可以在permissions表临时插入权限数据规避这个问题
如：
ROLE_PROD_READ	prod:*:*	r
ROLE_PROD_READ	public:*:*	rw

[2020-08-12 06:30] guohj2015 opened #3587 "1.3.1 version authority control module does not work."
I did MySQL persistence.    I'm double-click the startup.cmd to run NacosServer .

I can add new users, roles and binding relationships. The permissions are read-only in public namespace. This user can't see the authority control module after logging in. I think it's normal.

However, why  this user can operate data in any namespace, including adding, deleting and modifying?

[2020-08-12 06:37] Lazarus1995 commented on #2902
macOS，使用bash startup.sh成功启动

[2020-08-12 06:45] #3564 closed

[2020-08-12 06:50] MrWenBo commented on #3581
直接用example是可以的
但是我这个就不行

[2020-08-12 07:03] #3587 closed

[2020-08-12 07:14] chestarss commented on #2693
+1

[2020-08-12 07:22] horizonzy opened #3588 "the persist instance will lose when the server reboot"
**Describe the bug**
the logic in com.alibaba.nacos.naming.core.ServiceManager#createServiceIfAbsent can't create serviceMeta file.
if the service created by  ephemeral instance, the serviceMeta file didn't create. and then still this service, create an persist instance with in this service , the serviceMeta file will not created.because the serviceMeta file just created when the service is not ex

[2020-08-12 07:38] KomachiSion commented on #3588
I am not sure that which situation you need to register an ephemeral instance first and then register a persistent instance.

the persistent instance is used by addressServer or DNS situation. For application discovery situation, it should be always ephemeral all the time.

[2020-08-12 07:47] horizonzy commented on #3588
I just use the client-sdk for test,I notice the serviceMeta file just created when the service created, so I simulate this situation for test. if the situation is illegal, I will close it.

[2020-08-12 07:56] xiao-ma-nong commented on #2902
我这是ubuntu，使用过了没用的一直报

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lazarus1995"<notifications@github.com&gt;;
发送时间: 2020年8月12日(星期三) 下午2:37
收件人: "alibaba/nacos"<nacos@noreply.github.com&gt;;
抄送: "╰早《…》應該♀放手╯"<3121831267@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [alibaba/nacos] Caused by: java.net.UnknownHostException: jmenv.tbsite.net (#2902)

macOS，使用bash startup.

[2020-08-12 08:26] #3588 closed

[2020-08-12 08:44] #3515 closed

[2020-08-12 09:36] fireflyhoo commented on #3484
还有配置的审计功能, 谁在什么时候改了什么

[2020-08-13 02:46] NewCrazyStone opened #3591 "nacos代码库/资源下载等除了github上的，在国内的托管仓库也应该搞一份，github在国内使用下载太麻烦了。。。。。"
## Issue Description

Type: *bug report* or *feature request*

### Describe what happened (or what feature you want)

### Describe what you expected to happen

### How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Tell us your environment

### Anything else we need to know?

[2020-08-13 03:05] geckhan commented on #529
@NacosValue 的 autoRefreshed  default 为什么设置成true?

[2020-08-13 03:14] KomachiSion commented on #3591
duplicate with #3015

[2020-08-13 03:14] #3591 closed

[2020-08-13 03:26] Maijh97 opened #3592 "The title of the prompt box that appears when accessing the restricted namespace is incorrect"
**Describe the bug**
The title of the prompt box that appears when accessing the restricted namespace is incorrect.

![image](https://user-images.githubusercontent.com/37288946/90090712-553a5180-dd57-11ea-9657-d91e6a807354.png)

**Expected behavior**
Correct prompt.

**Acutally behavior**

**How to Reproduce**

1. Turn on permissions to start the service.
2. Log in as a user without a certain nami

[2020-08-13 05:56] xiejunxing commented on #2787
解决了吗？

[2020-08-13 05:58] xiejunxing commented on #2787
解决了吗？我也遇到这样的问题呀

[2020-08-13 06:38] TianLuhua opened #3594 "The official recommended podcast has wrong characters"
Blog Address:
https://nacos.io/en-us/blog/nacos0.9.0.htm

![1597300382(1)](https://user-images.githubusercontent.com/13152339/90102139-912ee000-dd72-11ea-9d1c-706a4916d5d6.png)

[2020-08-13 06:42] horizonzy opened #3595 "[code simpliy] delete the unnecessary code in com.alibaba.nacos.core.utils.InetUtils static code"
in the static code of com.alibaba.nacos.core.utils.InetUtils, it will init a runnable called ipAutoRefresh,  the runable's finnal code will reexecute by itself. so we just run it, it will reexecute by itself.

[2020-08-13 06:52] 1moxue opened #3597 "k8s部署报错nested exception is ErrCode:500, ErrMsg:jmenv.tbsite.net"
你好：
       我在k8s服务内使用nfs作为存储卷搭建nacos集群的时候遇到了问题，服务开始能拿正常启动，但是之后开始报错，查看nacos.log时发现如下：
2020-08-13 10:25:53,126 INFO Nacos Log files: /home/nacos/logs

2020-08-13 10:25:53,140 INFO Nacos Log files: /home/nacos/conf

2020-08-13 10:25:53,148 INFO Nacos Log files: /home/nacos/data

2020-08-13 10:25:53,159 ERROR Startup errors : {}

org.springframework.context.ApplicationContextException: Unable to start

[2020-08-13 06:53] 1moxue commented on #3597
由于刚刚接触nacos，找了很久的问题也没有找到。希望您能帮我解决一下。

[2020-08-13 06:56] CodeDiggerSuzl commented on #2487
The same problem, hoping to get a reply.

[2020-08-13 07:02] KomachiSion commented on #3594
welcome to fix it.

[2020-08-13 07:06] KomachiSion commented on #3597
确认一下k8s释放的镜像，${nacos.dir}/conf下有没有cluster.conf，如果没有，环境变量要加serverlist。都不加会走地址服务器查找集群地址，这个`jmenv.tbsite.net`是默认地址服务器。 你没有这个地址服务器肯定有问题

[2020-08-13 07:11] #3595 closed

[2020-08-13 07:13] Technoboy- commented on #3567
Return true looks not accurate.

[2020-08-13 07:15] Technoboy- commented on #3567
A little improvement.
If you think it's no need , nothing impact

[2020-08-13 07:19] ljhrot commented on #3592
Should it be prompted to get data failure?
Such as:

    en: Get data failed
    中文：获取数据失败

[2020-08-13 07:25] Maijh97 opened #3598 "persistent code about the permission function move to the nacos-auth module"
**Is your feature request related to a problem? Please describe.**

Related #3566

**Describe the solution you'd like**

Move the permission function persistence code in the `nacos-config` module to the `nacos-auth` module

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other co

[2020-08-13 07:27] 1moxue commented on #3597
我看了一下确实没有，如果要手动添加这个配置，需要添加的配置的键和值应该是什么样的呢。我看容器内部的/etc/hosts
文件是写的： nacos-0.nacos-headless.default.svc.cluster.local

[2020-08-13 07:27] 1moxue commented on #3597
@KomachiSion

[2020-08-13 07:32] Maijh97 commented on #3592
我觉的应该为:
[code]
这样的话，其它模块的当没有权限的时候也可以使用该提示模板

[2020-08-13 07:40] ljhrot commented on #3592
`Dialog` 的 `title` 可以用这个模板，那它的 `content` 需要修改吗？
目前是：

    en: Unauthorized!
    中文：没有权限!